{% raw %}
    <ch5-list id="list1">
        <template>
            <div class="horizontal-list-item">
                <span class="{{cssClass}}">item_{{idx}} {{label}}</span>
            </div>
        </template>
    </ch5-list>

{% endraw %}