<div class="row">
    {% raw %}
        <ch5-select id="volume1">
            <template>
                <ch5-select-option>
                    <i class="fas fa-{{fa-icon}}"></i>
                    <span>{{label}}</span>
                </ch5-select-option>
            </template>
        </ch5-select>
    {% endraw %}

</div>