<strong>size attribute with max value:</strong><br />

The <strong>size</strong> attribute will set the amount of the items in a spinner element.<br />
In a spinner element can be at least 1 item and at most 30 items. <br />