<p>
    <ch5-button type="warning" shape="rectangle" stretch="width"
                 label="Button is initially set to Pressed - true" pressed="true"></ch5-button>
                 <br /><br />
    <ch5-button type="warning" shape="rectangle" stretch="width"
                 label="Button is initially set to Pressed - false" pressed="false"></ch5-button>
</p>