<p>
    <ch5-button type="success" shape="rectangle"
                 label="Button3"></ch5-button>
    <ch5-button type="success" shape="rectangle"
                 label="Button4" pressed="true"></ch5-button>
</p>