<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Default</h4>
        <ch5-dpad type="default" shape="plus"></ch5-dpad>
        <ch5-dpad type="default" shape="circle"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>X-small</h4>
        <ch5-dpad type="warning" shape="plus" size="x-small"></ch5-dpad>
        <ch5-dpad type="warning" shape="circle" size="x-small"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Small</h4>
        <ch5-dpad type="danger" shape="plus" size="small"></ch5-dpad>
        <ch5-dpad type="danger" shape="circle" size="small"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Large</h4>
        <ch5-dpad type="info" shape="plus" size="large"></ch5-dpad>
        <ch5-dpad type="info" shape="circle" size="large"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>X-large</h4>
        <ch5-dpad type="text" shape="plus" size="x-large"></ch5-dpad>
        <ch5-dpad type="text" shape="circle" size="x-large"></ch5-dpad>
    </div>
</div>
