{% raw %}
(function($, CrComLib){
    $('#toggle-resize').on('click', () => {
        const ch5Select = $('#resize-ex')[0];
        if (ch5Select.hasAttribute('resize')) {
            ch5Select.removeAttribute('resize');
        } else {
            ch5Select.setAttribute('resize', true);
        }
    });
})(jQuery,CrComLib);
{% endraw %}
