{% raw %}
    <p>In the example below, a max-height of <b>200px</b> will be added to the ch5-select dropdown / panel</p>
    <div class="row">
        <ch5-select size="20" indexId="idx" panelScrollHeight="200px"
                    noneSelectedPrompt="Select">
            <template>
                <ch5-select-option>
                    <div>
                        <span>item_{{idx}}</span>
                    </div>
                </ch5-select-option>
            </template>
        </ch5-select>
    </div>

    <p>The value of the panelScrollHeight can be changed even after the ch5-select was initialized</p>
    <div class="row">
        <ch5-select id="scroll-h-ex" size="20" indexId="idx" panelScrollHeight="5vw" noneSelectedPrompt="Select">
            <template>
                <ch5-select-option>
                    <div>
                        <span>item_{{idx}}</span>
                    </div>
                </ch5-select-option>
            </template>
        </ch5-select>
        <p style="margin-top: 24px">
            <button id="update-scroll-h" class="button is-info" type="button">Update scroll height from 300px to 150px
            </button>
        </p>
    </div>

    <p>When <b>mode="panel"</b> is supplied, the <b>height</b> of the dropdown / panel will still be computed based on
        the
        <b>panelScrollHeight</b>
        (if the attribute is provided)</p>
    <i>In the example below, the dropdown height will be 50% of the ch5-select parent, which has a height of 300px
        (highlighted), therefore the computed height of the input will be 150px</i>

    <div style="height: 300px; border: 1px solid blue;">
        <ch5-select mode="panel" size="20" indexId="idx" panelScrollHeight="50%"
                    noneSelectedPrompt="Select">
            <template>
                <ch5-select-option>
                    <div>
                        <span>item_{{idx}}</span>
                    </div>
                </ch5-select-option>
            </template>
        </ch5-select>
    </div>

    <p style="margin-top: 12px; padding-top: 12px; border-top: 1px solid black;">If the provided value of the panelScrollHeight is <b>0</b> (regardless of the measurement unit) the panel height will default
    to 100% i.e. all the select options will be visible.</p>
    <div class="row" style="display: flex; justify-content: space-between; flex-direction: row">
        <div>
            <ch5-select minWidth="250px" size="20" indexId="idx" panelScrollHeight="0%"
                        noneSelectedPrompt="Select">
                <template>
                    <ch5-select-option>
                        <div>
                            <span>item_{{idx}}</span>
                        </div>
                    </ch5-select-option>
                </template>
            </ch5-select>
        </div>
        <div>
            <ch5-select minWidth="250px" size="20" indexId="idx" panelScrollHeight="0"
                        noneSelectedPrompt="Select">
                <template>
                    <ch5-select-option>
                        <div>
                            <span>item_{{idx}}</span>
                        </div>
                    </ch5-select-option>
                </template>
            </ch5-select>
        </div>
    </div>

{% endraw %}
