<p>The dropdown / panel containing the ch5-select options can be adjusted via the <b>panelScrollHeight</b>, the
    following examples describe some common cases.</p>
<p>The value of the attribute can be either in "px", "vh", "vw" or a "%"</p>
