<h1>Common attributes: <strong>receiveStateEnable</strong></h1>
<br/>
<p>
    While true, the boolean value of the signal determines if the component is enabled.
    <br/>
    Please note that the signal name is provided and the value of the signal has the opposite convention of the <i><strong>disabled</strong></i> attribute.
</p>