{% raw %}
<ch5-spinner
    label="item {{idx}}"
    size="7"
    itemHeight="40"
    indexId="idx"
    iconPosition="last"
    visibleItemScroll="3">
    <template>
        <div>
            <i class="ch5-spinner__icon fas fa-plane"></i>
            <label class="ch5-spinner__label">Item {{idx}}</label>

        </div>
    </template>
</ch5-spinner>
{% endraw %}