Drag in the spinner section to trigger the <strong>focus</strong> event.<br />
Leave the spinner after dragging to trigger the <strong>blur</strong> event.<br />
To trigger the <strong>change</strong> event, drag the spinner to a new value and check the browser console.</br />