<h1>ch5-textinput sends a signal when a change event is initiated.</h1>
<p>Open the browser console to confirm that when the input is changed, a signal named <strong>input_changed</strong> is sent.</p>