<h1>ch5-textinput sends a signal when the focus event is initiated.</h1>
<p>Open the browser console to confirm that when the input is focused, a signal named <strong>input_focused</strong> is sent.</p>