<h1><b>afterload</b> event</h1>
<p>The afterload event occurs when a snippet HTML has been loaded and inserted into the DOM. afterLoad is most often 
used within the ch5-import-htmlsnippet element to execute a script once a html snippet has completely loaded all content 
(including images, script files, CSS files, etc.).</p>
