{% raw %}
<ch5-import-htmlsnippet
    url="ch5-import-htmlsnippet/ch5-import-htmlsnippet-content.html">
</ch5-import-htmlsnippet>
<div id="afterLoad" style="color:#008a00;font-weight:bold;text-align:center;"></div>
{% endraw %}
