var load = "CH5-Import-Htmlsnippet is Loaded Successfully";
var importData = document.getElementsByTagName("ch5-import-htmlsnippet");
importData[0].addEventListener('afterLoad', function(){
    document.getElementById("afterLoad").innerHTML = load;
});
