---
title: "ch5-toggle styling"
---
{% extends "./layouts/default.njk" %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>SASS variable</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>$ch5-toggle-font-size-unit</td>
                <td>default font size unit</td>
            </tr>
            <tr>
                <td>$ch5-toggle-font-size-value</td>
                <td>default font size value</td>
            </tr>
            <tr>
                <td>$ch5-toggle-font-size</td>
                <td>default font size</td>
            </tr>
            <tr>
                <td>$ch5-toggle-font-style</td>
                <td>default font style</td>
            </tr>
            <tr>
                <td>$ch5-toggle-font-weight</td>
                <td>default font weight</td>
            </tr>
            <tr>
                <td>$ch5-toggle-label-font-size</td>
                <td>label font size</td>
            </tr>
            <tr>
                <td>$ch5-toggle-label-font-style</td>
                <td>label font style</td>
            </tr>
            <tr>
                <td>$ch5-toggle-label-font-weight</td>
                <td>label font weight</td>
            </tr>
            <tr>
                <td>$ch5-toggle-label-font-color</td>
                <td>the text color of the label</td>
            </tr>
            <tr>
                <td>$ch5-toggle-label-margin</td>
                <td>label margin</td>
            </tr>
            <tr>
                <td>$ch5-toggle-text-font-size</td>
                <td>font size applied on the on|off label</td>
            </tr>
            <tr>
                <td>$ch5-toggle-text-font-style</td>
                <td>font style applied on the on|off label</td>
            </tr>
            <tr>
                <td>$ch5-toggle-text-font-weight</td>
                <td>font weight applied on the on|off label</td>
            </tr>
            <tr>
                <td>$ch5-toggle-text-font-color</td>
                <td>the text color of the on|off label</td>
            </tr>
            <tr>
                <td>$ch5-toggle-icon-font-size</td>
                <td>font size applied on the on|off icon</td>
            </tr>
            <tr>
                <td>$ch5-toggle-handle-circle-margin</td>
                <td>handle margin when the shape="circle"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-icon-font-style</td>
                <td>font style applied on the on|off icon</td>
            </tr>
            <tr>
                <td>$ch5-toggle-icon-font-weight</td>
                <td>font weight applied on the on|off icon</td>
            </tr>
            <tr>
                <td>$ch5-toggle-icon-font-color</td>
                <td>the color of the on|off icon</td>
            </tr>
            <tr>
                <td>$ch5-toggle-handle-oval-margin</td>
                <td>handle margin when the shape="oval"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-icon-font-style</td>
                <td>font style applied on the on|off icon</td>
            </tr>

            <tr>
                <td>$ch5-toggle-icon-font-weight</td>
                <td>font weight applied on the on|off icon</td>
            </tr>

            <tr>
                <td>$ch5-toggle-handle-checked-color</td>
                <td>the background color of the handle when value is true(checked)</td>
            </tr>

            <tr>
                <td>$ch5-toggle-handle-circle-background</td>
                <td>the background color of the handle when shape="circle"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-circle-label-on-color</td>
                <td>the text color of the on label when shape="circle"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-circle-label-off-color</td>
                <td>the text color of the off label when shape="circle"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-circle-knob-color</td>
                <td>the background color of the knob when shape="circle"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-handle-rectangle-background</td>
                <td>the background color of the handle when shape="rectangle"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-rectangle-label-on-color</td>
                <td>the text color of the on label when shape="rectangle"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-rectangle-label-off-color</td>
                <td>the text color of the off label when shape="rectangle"</td>
            </tr>
            <tr>
                <td>$ch5-toggle-rectangle-knob-color</td>
                <td>the background color of the knob when shape="rectangle"</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
