---
title: "ch5-toggle: click event"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-toggle/click-event/','ex1') %}{% endcall %}

    {# example 2 #}
        {% call exampleSectionFromPartials('ch5-toggle/click-event/','ex2') %}{% endcall %}

{% endblock %}