<div class="">
    <ch5-button type="info" label="change hall_lights_tap which will toggle hall_lights_selected" sendEventOnClick="hall_lights_tap"></ch5-button>
</div>
<br>
<ch5-button type="success" shape="rectangle" label="ReceiveSelectedFromSignal" receiveStateSelected="hall_lights_selected"></ch5-button>
