.material-icons.alarm_on:before {
    content:"alarm_on";
}
.material-icons.bookmark:before {
    content:"bookmark";
}
.material-icons.announcement:before {
    content:"announcement";
}
.material-icons.account_box:before {
    content:"account_box";
}
.material-icons.aspect_ratio:before {
    content:"aspect_ratio";
}

