<p>
    Selected buttons
    <ch5-button type="success" shape="rectangle"
                 label="Button1" selected></ch5-button>
    <ch5-button type="success" shape="rectangle"
                 label="Button2" selected="true"></ch5-button>
</p>

<p>
    Default/Unselected buttons
    <ch5-button type="success" shape="rectangle"
                 label="Button3"></ch5-button>
    <ch5-button type="success" shape="rectangle"
                 label="Button4" selected="false"></ch5-button>
</p>