<h1>Receiving selected from a signal</h1>
<p>When the signal having the name defined in the <b>receiveStateSelected</b> attribute changes to <i>true</i> the
    ch5-button element will become selected</p>
<p>In this example the signal is changed using javascript</p>
