<h1>Receiving selected from a signal</h1>
<p>When the signal having the name defined in the <b>receiveStateSelected</b> attribute changes to <i>true</i> the
    ch5-button element will become selected</p>
<p>In this example the signal is changed using the emulator and the sendEventOnClick attribute of the ch5-buttons</p>
<p>When clicking the first button the value of the sendEventOnClick will change to true and then false. This
    will in turn toggle the value of hall_lights_selected and will change the state of the second button into
    'selected'</p>
