<div class="btn_rec_sel_container content">
    <button class="btn_rec_sel_true button is-info" type="button">Set btn_receive_selected to true</button>
    <button class="btn_rec_sel_false button is-info" type="button">Set btn_receive_selected to false</button>
</div>
<ch5-button stretch="width" type="success" shape="rectangle" label="ReceiveSelectedFromSignal" receiveStateSelected="btn_receive_selected"></ch5-button>
