<strong>ch5-template</strong> validation error messages
<p>The following examples showcases error messages displayed by the ch5-template component in case of missing attributes
    or if a common error occurs.</p>
