---
title: "ch5-image styling"
---
{% extends "./layouts/default.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>SASS variable</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>$ch5-list-item-background-color</td>
        <td>Set the background color of list items, configurable for each theme</td>
    </tr>
    <tr>
        <td>$ch5-list-item-border</td>
        <td>Set the border style of list items, configurable for each theme</td>
    </tr>
    <tr>
        <td>$ch5-list-item-padding</td>
        <td>Set the padding of list items</td>
    </tr>
    <tr>
        <td>$ch5-list-item-border-color</td>
        <td>Set the border color of list items</td>
    </tr>
    <tr>
        <td>$ch5-list-item-color</td>
        <td>Set the text color of list items</td>
    </tr>

    <tr>
        <td>$ch5-list-vertical-border-width</td>
        <td>Set the width for the border of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-vertical-border-color</td>
        <td>Set the color for the border of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-vertical-color</td>
        <td>Set the text color of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-vertical-background-color</td>
        <td>Set the background color of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-vertical-padding</td>
        <td>Set the padding of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-font-size-unit</td>
        <td>Set the font size unit of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-font-size-value</td>
        <td>Set the font size value of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-font-size</td>
        <td>Set the font size of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-font-style</td>
        <td>Set the font style of the vertical list</td>
    </tr>
    <tr>
        <td>$ch5-list-font-weight</td>
        <td>Set the font weight of the vertical list</td>
    </tr>

    </tbody>
</table>

{% endblock %}
