---
title: "ch5-list: receiveStateTemplateVars"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% set scenario1 -%}
        {%- include "./emulator-scenarios/scenario-ch5-list-receive-signal-template-vars.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-list/receive-signal-template-vars/','ex1') %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-list/receive-signal-template-vars/','ex2') %}{% endcall %}

{% endblock %}