.b-red{
margin:20px;
border:3px solid #004A80;
}
.material-icons.fast_rewind:before {
content:"fast_rewind";
}
.material-icons.play_arrow:before {
content:"play_arrow";
}
.material-icons.fast_forward:before {
content:"fast_forward";
}
.material-icons.stop:before {
content:"stop";
}
.material-icons.fiber_manual_record:before {
content:"fiber_manual_record";
}
.material-icons.pause:before {
content:"pause";
}

ch5-button {
padding: 3px 0;
}

.ch5-button--text.ch5-button--selected {
background-color: #1496ED;
}

.receive{
padding: 5px;
margin: 5px;
border: 1px solid grey;
}

.directv{
padding: 5px;
margin: 5px;
border: 1px solid lightblue;
}
