---
title: "ch5-spinner: iconPosition attribute"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-spinner/attributes/icon-position/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-spinner/attributes/icon-position/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-spinner/attributes/icon-position/','ex3') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-spinner/attributes/icon-position/','ex4') %}{% endcall %}

{% endblock %}