---
title: "ch5-spinner: receiveStateSize attribute"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
    {% set scenario1 -%}
        {%- include "./emulator-scenarios/scenario-ch5-spinner-receive-signal-size.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-spinner/receive-signal-attributes/receive-signal-size/','ex1') %}{% endcall %}
{% endblock %}