<h1>ch5-toggle iconOn|iconOff</h1><br>
<p>Allows defining icons for the on/off states of the ch5-toggle</p>
<p>You can declare more than one css class in the iconOn|iconOff attribute.<br>
<p>
In this example Font Awesome Icons were used, but other css classes can be added also.
</p>
