<h1>ch5-select:</h1>
<br>
<p>The select component enables the user to select one or more choices from a list of options.</p>
<p>The select component will NOT be a wrapper around the HTML input type select, because we need to
cover other options that are not available on HTML input type select.</p>
<p>The Select component allows the designer to optionally provide a template as a definition of each item
in the list. Like the List component, the template will use a {{Index}} moniker that will be substituted
with a 1 based index of the item in the selection.</p>
<br>
<p>Regarding select dimensions, ch5-select supports this list of attributes:</p>

<ul>
    <li> - minWidth, maxWidth</li>
    <li> - minHeight, maxHeight</li>
    <li> - scrollHeight</li>
    <li> - resize</li>
</ul>
