document.getElementById('toggle-resize').addEventListener('click', function(){
   const ch5select = document.getElementById('resize-ex');
   if (ch5select.hasAttribute('resize')) {
        ch5select.removeAttribute('resize');
   } else {
        ch5select.setAttribute('resize', true);
   }
});
