<h1><b>transitionEffect</b> attribute</h1>
<p>when more than one image/color provided in url/backgroundcolor attribute
this attribute provides the time length of the transition using CSS transition-duration syntax.</p>
<p>Default is ease</p>