<p>ease</p>
<div class="background-div">
    <ch5-background
            refreshrate="10"
            scale="fill"
            transitioneffect="ease"
            url="https://picsum.photos/id/2/800/800 | https://picsum.photos/id/20/800/800 | https://picsum.photos/id/30/800/800 | https://picsum.photos/id/40/800/800 | https://picsum.photos/id/50/800/800"></ch5-background>
</div>
<hr />
<p>linear</p>
<div class="background-div">
    <ch5-background
            refreshrate="10"
            scale="fill"
            transitioneffect="linear"
            url="https://picsum.photos/id/2/800/800 | https://picsum.photos/id/20/800/800 | https://picsum.photos/id/30/800/800 | https://picsum.photos/id/40/800/800 | https://picsum.photos/id/50/800/800"></ch5-background>
</div>
<hr />
<p>ease-in-out</p>
<div class="background-div">
    <ch5-background
        transitioneffect="ease-in-out"
        refreshrate="10"
        scale="fill"
        url="https://picsum.photos/id/2/800/800 | https://picsum.photos/id/20/800/800 | https://picsum.photos/id/30/800/800 | https://picsum.photos/id/40/800/800 | https://picsum.photos/id/50/800/800"></ch5-background>
</div>
<hr />
<p>ease-in</p>
<div class="background-div">
    <ch5-background
        transitioneffect="ease-in"
        refreshrate="10"
        scale="fill"
        url="https://picsum.photos/id/2/800/800 | https://picsum.photos/id/20/800/800 | https://picsum.photos/id/30/800/800 | https://picsum.photos/id/40/800/800 | https://picsum.photos/id/50/800/800"></ch5-background>
</div>
<hr />
<p>ease-out</p>
<div class="background-div">
    <ch5-background
        transitioneffect="ease-out"
        refreshrate="10"
        scale="fill"
        url="https://picsum.photos/id/2/800/800 | https://picsum.photos/id/20/800/800 | https://picsum.photos/id/30/800/800 | https://picsum.photos/id/40/800/800 | https://picsum.photos/id/50/800/800"></ch5-background>
</div>