<div>
    <p>ease</p>
    <div style="height: 320px;">
        <ch5-background
            refreshrate="10"
            scale="fill"
            transitioneffect="ease"
            url="https://picsum.photos/id/30/800/800 | https://picsum.photos/id/10/800/800 | https://picsum.photos/id/20/800/800">
        </ch5-background>
    </div>
    <br>
    <p>liniar</p>
    <div style="height: 320px;">
        <ch5-background
            refreshrate="10"
            scale="fill"
            transitioneffect="linear"
            url="https://picsum.photos/id/30/800/800 | https://picsum.photos/id/10/800/800 | https://picsum.photos/id/20/800/800">
        </ch5-background>
    </div>
</div>