<div style="height: 320px;">
    <ch5-background
    transitioneffect="ease-in-out"
    refreshrate="10"
    scale="fill"
    url="https://picsum.photos/id/2/800/800 | https://picsum.photos/id/20/800/800 | https://picsum.photos/id/30/800/800 | https://picsum.photos/id/40/800/800 | https://picsum.photos/id/50/800/800"></ch5-background>
</div>