.form-section h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.description {
    text-align: center;
}

.form-section input,
.form-section select,
.form-section textarea {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 0;
    outline: 0;
    height: 46px;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.1);
}

.option-logs {
    color: black;
}

.option-info {
    color: #004A80
}

.option-warn {
    color: #d1a71f;
}

.option-error {
    color: darkred;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-wrapper div {
    width: 250px;
}

.main-wrapper {
    margin: 0 20px;
}

.message-log-container {
    max-height: 250px;
    overflow-y: scroll;
    font-size: 12px;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 20px;
}

summary {
    outline: none;
}

.message-list {
    padding: 0;
}

.message-text {
    font-weight: bold;
}

.message-wrapper div {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.message-text {
    width: 50%;
}

.message-level {
    width: 5%;
}

.message-date {
    font-size: 10px;
    width: 45%;
}

details {
    margin-top: 20px;
    cursor: pointer;
}

details[open] summary ~ * {
    animation: fadeIn .5s linear;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@media only screen and (max-width: 1024px) {
    .flex-wrapper {
        flex-direction: column;
    }

    .flex-wrapper div {
        width: 100%;
        margin: 0;
    }

    .message-wrapper div {
        flex-wrap: wrap;
    }

    .message-wrapper div .message-text {
        width: 90%;
    }

    .message-wrapper div .message-level {
        width: 5%;
    }
}
