<div style="height: 320px;">
    <ch5-background refreshrate="10" imgbackgroundcolor="#55efc4" scale="fit" url="https://picsum.photos/id/1/200/800 | https://picsum.photos/id/2/800/200"></ch5-background>
</div>