{% raw %}
<ch5-button type="primary" label="Hide" 
        sendEventOnClick="trigger_receive_state_hide_1"></ch5-button>    
<ch5-import-htmlsnippet
    url="ch5-import-htmlsnippet/ch5-import-htmlsnippet-content.html" receivestatehidepulse="receive_state_hide_1">
</ch5-import-htmlsnippet>
{% endraw %}
