<h1>ch5-select: mode</h1>
<p>The following values are valid. The default value is 'plain'.<br>
   plain - The select menu opens and closes as clicked by the user<br>
   panel – The select menu stays open even when not in focus</p>
