var elem = document.getElementById("demo");  
var elem2 = document.getElementById("demo2");  

elem.addEventListener('focus', function(e){
    console.log('#demo focus event: ', e);
});

elem.addEventListener('blur', function(e){
    console.log('#demo blur event: ', e);
});

elem2.addEventListener('focus', function(e){
    console.log('#demo2 focus event: ', e);
});

elem2.addEventListener('blur', function(e){
    console.log('#demo2 blur event: ', e);
});