<p>Click anywhere in this pane, then try tabbing through the elements.</p>

<ch5-slider
    id="demo"
    step="20"
    min="0"
    max="200"
    value="20">
</ch5-slider>

<br><br>

<ch5-slider
    id="demo2"
    step="20"
    min="0"
    max="200"
    value="20" 
    valueHigh="80" 
    range="true">
</ch5-slider>