<h1>Horizontal Label Alignment and Vertical Label Alignment attribute</h1>
<p>
    Possible values for hAlignLabel (Horizontal Label Alignment) are
    <b>center</b> (default),
    <b>left</b>,
    <b>right</b>
</p>
<p>
    Possible values for vAlignLabel (Vertical Label Alignment) are
    <b>middle</b> (default),
    <b>top</b>,
    <b>bottom</b>
</p>
<p style="color:red">
<strong style="color:inherit">NOTE: vAlignLabel is not applicable for shapes 'circle' and 'oval'. The value for vAlignLabel will be considered as 'middle'.</strong>
</p>