<h1>Horizontal Label Alignment and Vertical Label Alignment attribute</h1>
<p>
    Possible values for hAlignLabel (Horizontal Label Alignment) are
    <b>center ( the default )</b>,
    <b>left</b>,
    <b>right</b>
</p>
<p>
    Possible values for vAlignLabel (Vertical Label Alignment) are
    <b>middle ( the default )</b>,
    <b>top</b>,
    <b>bottom</b>
</p>
