<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="middle" label="Danger" type="danger" iconclass="fab fa-amilia" size="x-large"></ch5-button>
<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="middle" label="Text" type="text" iconclass="fab fa-amilia" size="x-large"></ch5-button>
<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="middle" label="Warning" type="warning" iconclass="fab fa-amilia" size="x-large"></ch5-button>
<br/>
<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="top" label="Info" type="info" iconclass="fab fa-amilia" size="x-large"></ch5-button>
<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="top" label="Success" type="success" iconclass="fab fa-amilia" size="x-large"></ch5-button>
<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="top" label="Default" type="default" iconclass="fab fa-amilia" size="x-large"></ch5-button>
<br/>
<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="bottom" label="Primary" type="primary" iconclass="fab fa-amilia" size="x-large"></ch5-button>
<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="bottom" label="Secondary" type="secondary" iconclass="fab fa-amilia" size="x-large"></ch5-button>
<ch5-button iconPosition="first" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="bottom" label="Danger" type="danger" iconclass="fab fa-amilia" size="x-large"></ch5-button>

<br/>
<hr />
<br/>

<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="middle" label="Danger" type="danger" iconclass="fab fa-apple" size="x-large"></ch5-button>
<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="middle" label="Text" type="text" iconclass="fab fa-apple" size="x-large"></ch5-button>
<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="middle" label="Warning" type="warning" iconclass="fab fa-apple" size="x-large"></ch5-button>
<br/>
<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="top" label="Info" type="info" iconclass="fab fa-apple" size="x-large"></ch5-button>
<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="top" label="Success" type="success" iconclass="fab fa-apple" size="x-large"></ch5-button>
<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="top" label="Default" type="default" iconclass="fab fa-apple" size="x-large"></ch5-button>
<br/>
<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="bottom" label="Primary" type="primary" iconclass="fab fa-apple" size="x-large"></ch5-button>
<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="bottom" label="Secondary" type="secondary" iconclass="fab fa-apple" size="x-large"></ch5-button>
<ch5-button iconPosition="last" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="bottom" label="Danger" type="danger" iconclass="fab fa-apple" size="x-large"></ch5-button>

<br/>
<hr />
<br/>

<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="middle" label="Danger" type="danger" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>
<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="middle" label="Text" type="text" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>
<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="middle" label="Warning" type="warning" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>
<br/>
<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="top" label="Info" type="info" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>
<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="top" label="Success" type="success" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>
<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="top" label="Default" type="default" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>
<br/>
<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="bottom" label="Primary" type="primary" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>
<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="bottom" label="Secondary" type="secondary" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>
<ch5-button iconPosition="top" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="bottom" label="Danger" type="danger" iconclass="fab fa-css3-alt" size="x-large"></ch5-button>

<br/>
<hr />
<br/>

<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="middle" label="Danger" type="danger" iconclass="fa fa-play" size="x-large"></ch5-button>
<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="middle" label="Text" type="text" iconclass="fa fa-play" size="x-large"></ch5-button>
<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="middle" label="Warning" type="warning" iconclass="fa fa-play" size="x-large"></ch5-button>
<br/>
<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="top" label="Info" type="info" iconclass="fa fa-play" size="x-large"></ch5-button>
<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="top" label="Success" type="success" iconclass="fa fa-play" size="x-large"></ch5-button>
<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="top" label="Default" type="default" iconclass="fa fa-play" size="x-large"></ch5-button>
<br/>
<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="center" vAlignLabel="bottom" label="Primary" type="primary" iconclass="fa fa-play" size="x-large"></ch5-button>
<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="left" vAlignLabel="bottom" label="Secondary" type="secondary" iconclass="fa fa-play" size="x-large"></ch5-button>
<ch5-button iconPosition="bottom" checkboxShow="true" checkboxPosition="left" hAlignLabel="right" vAlignLabel="bottom" label="Danger" type="danger" iconclass="fa fa-play" size="x-large"></ch5-button>
