<h1>Horizontal Label Alignment and Vertical Label Alignment attribute</h1>
<p>
    Possible values for hAlignLabel (Horizontal Label Alignment) are
    <b>center</b> (default),
    <b>left</b>,
    <b>right</b>
</p>
<p>
    Possible values for vAlignLabel (Vertical Label Alignment) are
    <b>middle</b> (default),
    <b>top</b>,
    <b>bottom</b>
</p>
<p style="margin-top:10px;">
    <strong style="color:red;">NOTE (for circle and oval only): </strong><br/>
    <strong>
        -&nbsp;&nbsp;&nbsp;for orientation="horizontal", vAlignLabel is not applicable and its value will be considered as 'middle'.<br/>
    </strong>
</p>
