Multi-mode: The attributes <i>hAlignLabel</i> and <i>vAlignLabel</i> in <b>ch5-button-mode-state</b> (set in the selected mode for the <b>ch5-button</b>) take precedence over <b>ch5-button-mode</b> attributes and ch5-button attributes.