<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Ch5 Dpad: useContractForCustomClass</h4>
        <p>The class list for the ch5-dpad will be appended with the Join value associated with control system state name of "My.Contract.Prefix.CustomClass" and the customclass attribute of "blue-dashed-border" should be ignored</p>
        <ch5-dpad show="true" customclass="blue-dashed-border" useContractForCustomClass="true" contractName="My.Contract.Prefix.">
        </ch5-dpad>
    </div>
</div>