---
title: "ch5-keypad-button: labelMajor"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-keypad-button/labelmajor/','ex1') %}{% endcall %}

{% endblock %}