<p>Row with enabled dpad</p>
<ch5-dpad type="danger" type="danger"></ch5-dpad>
<ch5-dpad type="text" type="text"></ch5-dpad>
<ch5-dpad type="warning" type="warning"></ch5-dpad>
<ch5-dpad type="info" type="info"></ch5-dpad>
<ch5-dpad type="success" type="success"></ch5-dpad>
<ch5-dpad type="default" type="default"></ch5-dpad>
<ch5-dpad type="primary" type="primary"></ch5-dpad>
<ch5-dpad type="secondary" type="secondary"></ch5-dpad>
<hr>
<p>Same row with disabled dpad</p>
<ch5-dpad type="danger" type="danger" disabled></ch5-dpad>
<ch5-dpad type="text" type="text" disabled></ch5-dpad>
<ch5-dpad type="warning" type="warning" disabled></ch5-dpad>
<ch5-dpad type="info" type="info" disabled></ch5-dpad>
<ch5-dpad type="success" type="success" disabled></ch5-dpad>
<ch5-dpad type="default" type="default" disabled></ch5-dpad>
<ch5-dpad type="primary" type="primary" disabled></ch5-dpad>
<ch5-dpad type="secondary" type="secondary" disabled></ch5-dpad>
