<p>Row with enabled buttons</p>
<ch5-dpad type="danger"  label="danger"></ch5-dpad>
<ch5-dpad type="text" label="text"></ch5-dpad>
<ch5-dpad type="warning" label="warning"></ch5-dpad>
<ch5-dpad type="info" label="info"></ch5-dpad>
<ch5-dpad type="success"  label="success"></ch5-dpad>
<ch5-dpad type="default" label="default"></ch5-dpad>
<ch5-dpad type="primary"  label="primary"></ch5-dpad>
<ch5-dpad type="secondary" label="secondary"></ch5-dpad>
<hr>
<p>Same row with disabled buttons</p>
<ch5-dpad type="danger"  label="danger" disabled></ch5-dpad>
<ch5-dpad type="text" label="text" disabled></ch5-dpad>
<ch5-dpad type="warning" label="warning" disabled></ch5-dpad>
<ch5-dpad type="info" label="info" disabled></ch5-dpad>
<ch5-dpad type="success"  label="success" disabled></ch5-dpad>
<ch5-dpad type="default" label="default" disabled></ch5-dpad>
<ch5-dpad type="primary"  label="primary" disabled></ch5-dpad>
<ch5-dpad type="secondary" label="secondary" disabled></ch5-dpad>
