<ch5-button label="Click to change the hall_lights_selected signal" stretch="width" sendEventOnClick="hall_lights_tap"></ch5-button>
<hr>

<ch5-keypad type="warning" showExtraButton="true" shape="rounded-rectangle"
                    receiveStateEnable="hall_lights_selected"></ch5-keypad>
<br /><br />
<ch5-keypad type="primary" showExtraButton="true" shape="square"
                    receiveStateEnable="hall_lights_selected" disabled></ch5-keypad>
