<h1>Control the enabled/disabled state from a signal</h1>
<p>In the next example there are two ch5-buttons, both tied to the same signal for enable/disable, one of them also
    having the <b>disabled</b> attribute set</p>
