{% raw %}
<h1>Utility function: publishEvent </h1>
<p>publishEvent(signalType:string, signalName:string, value:boolean|number|string|object):void</p>
<p><b>signalType</b> - a string with the type of the signal valid values: "boolean" | "b" | "number" | "numeric" | "n" | "string" | "s" | "object" | "o"</p>
<p><b>signalName</b> - a string with the name of the signal </p>
<p><b>value</b> - the value that should be published on the signal</p>
{% endraw %}