<h1>UseContractForCustomStyle attribute</h1>: 
    Possible values are
    <b>true</b>,
    <b>false</b>
    <p>The default value is false.</p>
    <p> If this value is set to true then the value received from the contract will be considered to the customstyle attribute on the `ch5-keypad` tag. 
        The <b>contractName</b> attribute's default value is empty, making the default value for <b>useContractForCustomStyle</b> as <i>false</i></p>
