<div>
    <div style="margin: 10px 0 20px 0">
        <ch5-keypad show="true" customstyle="border: 3px dashed blue" useContractForCustomStyle="false" contractName="My.Contract.Prefix."> 
        </ch5-keypad>
    </div>
</div>