<div>
    <div style="margin: 10px 0 20px 0">
        <h4>showExtraButton set as true</h4>
    </div>
    <div class="ch5-keypad-container2">
        <ch5-keypad showExtraButton="true" type="primary" shape="rounded-rectangle" stretch="height"></ch5-keypad>
    </div>
    <div class="ch5-keypad-container2">
        <ch5-keypad showExtraButton="true" type="text" shape="square" stretch="height"></ch5-keypad>
    </div>
    <div class="ch5-keypad-container2">
        <ch5-keypad showExtraButton="true" type="warning" shape="circle" stretch="height"></ch5-keypad>
    </div>
</div>
