<h1>showExtraButton attribute</h1>
<br />
<p>The default value for this attribute is false and it allows
 the developer to render an extra (5th row, 13th) button with a 
 customizable icon (refer Icon and Label section).
 </p>