<h4>showExtraButton set as true</h4>

<ch5-keypad showExtraButton="true" type="primary" shape="rounded-rectangle"></ch5-keypad>

<ch5-keypad showExtraButton="true" type="text" shape="square"></ch5-keypad>

<ch5-keypad showExtraButton="true" type="warning" shape="circle"></ch5-keypad>
