<ch5-textinput
  placeholder="Firstname"
  feedbackMode="submit"
  receiveStateValue="btn_receive_value"
  >
</ch5-textinput>
<ch5-button 
  id="submit"   
  label="Submit"
  sendEventOnClick="trig1">
</ch5-button>

<button id="reset">Reset</button>
<button id="dirty">getDirty</button>