---
title: "ch5-overlay-panel: beforeShow"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-overlay-panel/before-show/','ex1') %}{% endcall %}

{% endblock %}