---
title: "ch5-overlay-panel styling"
---
{% extends "./layouts/default.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>SASS variable</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>$ch5-overlay-panel-font-size-unit</td>
            <td>the default font size unit for the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-font-size-value</td>
            <td>the default font size value for the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-font-size</td>
            <td>the default font size for the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-font-style</td>
            <td>the default font style for the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-font-weight</td>
            <td>the default font weight for the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-default-mask-bg-color</td>
            <td>the background color of the mask element</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-background-color</td>
            <td>the background color of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-text-color</td>
            <td>the text color of the overlay panel</td>
        </tr>

        <tr>
            <td>$ch5-overlay-panel-border-radius</td>
            <td>the border radius of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-border-color</td>
            <td>the border color of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-padding</td>
            <td>set padding for the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-default-close-icon-color</td>
            <td>the color of the icon at the top of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-default-close-icon-color-hover</td>
            <td>the color of the icon at the top of the overlay panel when it is hovered</td>
        </tr>
        <tr>
            <td>$ch5-overlay-default-close-icon-font-style</td>
            <td>the font style of the icon at the top of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-default-close-icon-font-size</td>
            <td>the font size of the icon at the top of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-default-close-icon-font-weight</td>
            <td>the font weight of the icon at the top of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-close-icon-background-color</td>
            <td>the background color of the icon at the top of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-close-icon-margin</td>
            <td>the margin of the icon at the top of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-close-icon-padding</td>
            <td>the padding of the icon at the top of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-close-icon-width</td>
            <td>the width of the icon at the top of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-contents-padding</td>
            <td>the padding for the content of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-contents-font-style</td>
            <td>the font style for the content of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-contents-font-size</td>
            <td>the font size for the content of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-contents-font-weight</td>
            <td>the font weight for the content of the overlay panel</td>
        </tr>
        <tr>
            <td>$ch5-overlay-panel-contents-font-color</td>
            <td>the font color for the content of the overlay panel</td>
        </tr>
    </tbody>
</table>

{% endblock %}
