---
title: "ch5-overlay-panel: afterHide"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-overlay-panel/after-hide/','ex1') %}{% endcall %}

{% endblock %}