---
title: "ch5-overlay-panel styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>CSS Class</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ch5-overlay-panel</td>
        <td>Main class</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel-close-icon-btn</td>
        <td>Class for close icon</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel-default-close-icon</td>
        <td>Class for default close icon</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel--overflow-scroll</td>
        <td>Overflow auto</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel--overflow-show</td>
        <td>Overflow visible</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel--stretch-width</td>
        <td>Applied to make the width as much as its parent allows.</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel--stretch-height</td>
        <td>Applied to make the height as much as its parent allows.</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel--stretch-both</td>
        <td>Applied to make both width and height as much as its parent allows.</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel-mask</td>
        <td>Applied for panel mask</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel-mask-default-style</td>
        <td>Applied for default stile of panel mask</td>
    </tr>
    <tr>
        <td>ch5-overlay-panel-contents</td>
        <td>Applied for content of the panel</td>
    </tr>

    </tbody>
</table>

{% endblock %}
