---
title: "ch5-overlay-panel: closable"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-overlay-panel/closable/','ex1') %}{% endcall %}

{% endblock %}