<h1>ch5-list: pagedSwipe</h1>
<p>Default value: false</p>
<p>If false the swipe works as default.</p>
<p>If true the swipe moves a visible page at a time.</p>
<p>In order to simulate the swipe you can use the browser console and enter in mobile/touch mode</p>