<h1>ch5-list: pagedSwipe</h1>
<p>The default value is false.</p>
<p>If false, the swipe works as by default.</p>
<p>If true, the swipe moves a visible page at a time.</p>
<p>In order to simulate the swipe, the browser console can be used in mobile/touch mode.</p>