
{% raw %}
<ch5-list id="demo-list-2"
           size="50"
           orientation="vertical"
           indexId="idx"
           minWidth="150px"
           maxWidth="165px"
           minHeight="100px"
           maxHeight="150px"
           itemWidth="150px"
           itemHeight="50px"
           scrollbar="true"
           pagedSwipe="true">
    <template>
        <div class="vertical-list-item">
            <span>item_{{idx}}</span>
        </div>
    </template>
</ch5-list>
{% endraw %}
