<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Ch5 Dpad: useContractForCustomClass</h4>
        <p>The class list for the ch5-dpad will be appended with the Join value associated with control system state name of "My.Contract.Prefix.CustomStyle" and the customstyle attribute should be ignored</p>
        <ch5-dpad show="true" customstyle="border: 3px dashed blue" useContractForCustomStyle="true" contractName="My.Contract.Prefix.">
        </ch5-dpad>
    </div>
</div>