<ch5-image mode="0">
    <ch5-image-mode url="https://picsum.photos/id/2/800/800"></ch5-image-mode>
    <ch5-image-mode url="https://picsum.photos/id/20/800/800"></ch5-image-mode>
    <ch5-image-mode url="https://picsum.photos/id/30/800/800"></ch5-image-mode>
</ch5-image>