If <i>'mode'</i> attribute is not set, then the default value of mode is 0 (zero). 

<h5>Change the mode below from "0" to "1" or "2" in the 'HTML' editor and see the image changes according to mode.</h5>
<br/>
<ch5-image mode="0">
    <ch5-image-mode url="https://picsum.photos/id/2/800/800"></ch5-image-mode>
    <ch5-image-mode url="https://picsum.photos/id/20/800/800"></ch5-image-mode>
    <ch5-image-mode url="https://picsum.photos/id/30/800/800"></ch5-image-mode>
</ch5-image>