<ch5-image mode="0">
    <ch5-image-mode url="https://picsum.photos/200/500"></ch5-image-mode>
    <ch5-image-mode url="https://picsum.photos/200/300"></ch5-image-mode>
    <ch5-image-mode url="https://picsum.photos/200/900"></ch5-image-mode>
</ch5-image>