The feature of multiple url in ch5-image can be implemented with multi-mode.The maximum number of modes that the control will validate is 99. <br />
The ch5-image has child element - &lt;ch5-image-mode&gt;<br /><br />
Attributes for ch5-image-mode are: <br />
url<br/>


