
<h5>Change the mode (receiveStateMode) by clicking on the buttons.</h5>

<br/>
<ch5-image receiveStateMode="receive_image_mode">
    <ch5-image-mode url="https://picsum.photos/id/2/800/800"></ch5-image-mode>
    <ch5-image-mode url="https://picsum.photos/id/20/800/800"></ch5-image-mode>
    <ch5-image-mode url="https://picsum.photos/id/30/800/800"></ch5-image-mode>
</ch5-image>
<br />
<ch5-button sendEventOnClick="trig0" label="Mode 0"></ch5-button>
<ch5-button sendEventOnClick="trig1" label="Mode 1"></ch5-button>
<ch5-button sendEventOnClick="trig2" label="Mode 2"></ch5-button>