$(document).ready(function() {
    var submitButton = $('#room_submit_id');
    var triggerSubmit = $('#trigger_submit');

    triggerSubmit.on('click', function(){
        submitButton.click();
    });
})

