<h1>ch5-form submitId</h1>
<p>When hideSubmitButton='true', this field is the id of an element in which a 'click' event can be used to trigger the submit functionality. This element should also honor the standard 'disabled' attribute to allow the form to disable the element if any of the inputs are in error</p>

<p>Open the browser console to see that signals are send when "Trigger Submit" button is clicked. ( See JS tab )</p>