<h1>Common attributes: <strong>appendClassWhenInViewport</strong></h1>
<br/>
<p>
    This attribute applies the provided value as class name while the component is <strong>visible</strong> 
    and removes the class name when the component is not visible.
</p>
<br/>
<p>
    <strong>See the CSS tab.</strong>
    <br/><br/>        
    <i>
        Use the inspector to see how the class is added and removed.
        <br/>
        A 1s transition is added for demonstration purposes.
    </i>
</p>