.appended-class{
    transition: background-color 1s ease;
    background-color: darkolivegreen;
}

.wrapper {
    height: 200px;
    overflow-y: scroll;
}

.button-wrapper {
    padding: 100px 0;
    height: 500px;
}