<ch5-slider customClass="oslider"></ch5-slider>
<ch5-slider customClass="oslider" handleSize="x-small"></ch5-slider>
<ch5-slider customClass="oslider" handleSize="small"></ch5-slider>
<ch5-slider customClass="oslider" handleSize="regular"></ch5-slider>
<ch5-slider customClass="oslider" handleSize="large"></ch5-slider>
<ch5-slider customClass="oslider" handleSize="x-large"></ch5-slider>