drag in the spinner section to trigger the <strong>focus</strong> event.<br />
leave the spinner after dragging to trigger the <strong>blur</strong> event.<br />
to trigger the <strong>change</strong> event just drag the spinner to a new value and check browser console</br />