<ch5-toggle
    label="Alarm"
    value="false"
    iconOn="fas fa-bell"
    iconOff="fas fa-bell-slash"
    >
</ch5-toggle>

<br><br>

<ch5-toggle
    label="Microphone"
    value="true"
    iconOn="fas fa-microphone-alt"
    iconOff="fas fa-microphone-alt-slash"
    >
</ch5-toggle>

<br><br>

<ch5-toggle
    label="Retina"
    iconOn="fas fa-eye"
    iconOff="fas fa-eye-slash"
    handleShape="rectangle"
    >
</ch5-toggle>
