---
title: "ch5-jointotext-numeric: type"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials %}

{% block content %}
        {% call exampleSectionFromPartials('ch5-jointotext-numeric/type/','ex1') %}{% endcall %}
        {% call exampleSectionFromPartials('ch5-jointotext-numeric/type/','ex2') %}{% endcall %}        
        {% call exampleSectionFromPartials('ch5-jointotext-numeric/type/','ex3') %}{% endcall %}
        {% call exampleSectionFromPartials('ch5-jointotext-numeric/type/','ex4') %}{% endcall %}
        {% call exampleSectionFromPartials('ch5-jointotext-numeric/type/','ex5') %}{% endcall %}
        {% call exampleSectionFromPartials('ch5-jointotext-numeric/type/','ex6') %}{% endcall %}
        {% call exampleSectionFromPartials('ch5-jointotext-numeric/type/','ex7') %}{% endcall %}

{% endblock %}