<b>ch5-text-input</b> stretch = "fixed".
<p>
    When the stretch attribute is set to <i>fixed</i>, the width of the
    <b>ch5-textinput</b> will be set to a default value of 400px. (css class: <i>ch5-textinput--fixed</i>).
</p>
