<h1>ch5-list: receiveStateScrollTo, scrollToTime</h1>
<p><b>receiveStateScrollTo:</b>string. The name of a number signal. Scrolls the list so that the first visible item will be the item having the index equal
    to the value of the signal</p>
<p><b>scrollToTime:</b>number in ms.Default 500ms. How long to animate changing list location to the position indicated
    the signal value of receiveStateScrollTo</p>