{% raw %}
<div class="content">
    <h3>ch5-image</h3>
    <div>
        <h4>receiveStateUrl</h4>
        <p>The image URL will be received by <strong>25</strong> state subscription.</p>
        <ch5-image
            alt="Backyard image"
            height="200px"
            width="300px"
            receiveStateUrl="25">
        </ch5-image>
    </div>
</div>

{% endraw %}

