{% raw %}
<ch5-form
    submitButtonLabel="Update"
    submitbuttonicon="fa fa-play"
    cancelButtonLabel="Reset"> 
  <ch5-spinner
    indexId="idx"
    label="item {{idx}}"
    receiveStateValue="receive_spinner_value"
    itemHeight="40"
    size="7"
    feedbackMode="submit"
  ></ch5-spinner>
</ch5-form>
{% endraw %}
