<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Icon Url</h4>
        <ch5-dpad type="default" ID="test2a" shape="plus">
            <ch5-dpad-button key="center" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
            <ch5-dpad-button key="top" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
            <ch5-dpad-button key="right" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
            <ch5-dpad-button key="left" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
            <ch5-dpad-button key="bottom" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
        </ch5-dpad>
        <ch5-dpad type="success" ID="test2b" shape="circle">
            <ch5-dpad-button key="center" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
            <ch5-dpad-button key="top" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
            <ch5-dpad-button key="right" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
            <ch5-dpad-button key="left" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
            <ch5-dpad-button key="bottom" iconurl="https://img.icons8.com/material/24/000000/search.png"
                iconclass="fas fa-user"></ch5-dpad-button>
        </ch5-dpad>
    </div>
</div>
