<div class="content">
    <h3>data-ch5-show</h3>
    <ch5-button type="info" label="Toggle data-ch5-show"
                sendEventOnClick="1"></ch5-button>
    <div data-ch5-show="1" data-ch5-noshow-type="display" class="ex-section">
        DIV: Testing data-ch5-show and noshow-type-visibility set to display
    </div>
</div>

<div class="content">
    <h3>data-ch5-showpulse</h3>
    <ch5-button type="info" label="Toggle data-ch5-showpulse"
                sendEventOnClick="2"></ch5-button>
    <div data-ch5-showpulse="2" data-ch5-noshow-type="visibility" class="ex-section">
        DIV: Testing data-ch5-showpulse and noshow-type-visibility set to visibility
    </div>
</div>

<div class="content">
    <h3>data-ch5-hidepulse</h3>
    <ch5-button type="info" label="Toggle data-ch5-hidepulse"
                sendEventOnClick="3"></ch5-button>
    <div data-ch5-hidepulse="3" data-ch5-noshow-type="remove" class="ex-section">
        DIV: Testing data-ch5-hidepulse and noshow-type-visibility set to remove
    </div>
</div>

<div class="content">
    <h3>data-ch5-textcontent</h3>
    <ch5-button type="info" label="Update content using data-ch5-textcontent"
                sendEventOnClick="4"></ch5-button>
    <div data-ch5-textcontent="4" class="ex-section">
        DIV: Testing data-ch5-textcontent
    </div>
</div>

<div class="content">
    <h3>data-ch5-innerhtml</h3>
    <ch5-button type="info" label="Update HTML"
                sendEventOnClick="5"></ch5-button>
    <div class="ex-section" data-ch5-innerhtml="5"></div>
</div>

<div class="content">
    <h3>data-ch5-appendstyle</h3>
    <ch5-button type="info" label="Update style"
                sendEventOnClick="6"></ch5-button>
    <div class="ex-section" data-ch5-appendstyle="6">
        DIV: Testing data-ch5-appendstyle
    </div>
</div>

<div class="content">
    <h3>data-ch5-appendclass</h3>
    <ch5-button type="info" label="Update class"
                sendEventOnClick="7"></ch5-button>
    <div class="ex-section" data-ch5-appendclass="7">
        DIV: Testing data-ch5-appendclass
    </div>
</div>

