<ch5-toggle
    label="Vertical"
    orientation="vertical"
    labelOn="On"
    labelOff="Off"
    >
</ch5-toggle>

<br><br>

<ch5-toggle
    label="Horizontal"
    orientation="horizontal"
    labelOn="On"
    labelOff="Off"
    >
</ch5-toggle>

