var submit = document.getElementById("submit");
var reset = document.getElementById("reset")
var toggle = document.getElementById("demo")

submit.addEventListener('click', function(e){
    toggle.submit();
});

reset.addEventListener('click', function(e){
    toggle.reset();
});
