{% raw %}
    <h1>Utility function: unsubscribeState </h1>
    <p>unsubscribeState(signalType:string, signalName:string, subscriptionId:string):void</p>
    <p><b>signalType</b> - a string with the type of the signal valid values: "boolean" | "b" | "number" | "numeric" | "n" | "string" | "s" | "object" | "o"</p>
    <p><b>signalName</b> - a string with the name of the signal </p>
    <p><b>subscriptionId</b> - the subscirptionId ( the value that was returned by the call to subscribeState(...)).</p>
{% endraw %}
