<strong>The size attribute with max value:</strong><br />

The <strong>size</strong> attribute will set the number of the items in a spinner element.<br />
A spinner element can have at least 1 item and at most 30 items. <br />