The <strong>size attribute with an out of range value:</strong><br />

When the <strong>size</strong> attribute value exceeds the maximum allowed value,
the fallback value of the <strong>size</strong> attribute will be <strong>30</strong>.<br />
In the following example, <strong>40</strong> items were added to the <strong>size</strong> attribute, but only 30 items are shown.<br />
This is because the max limit of items in a spinner element is 30.
