<strong>size attribute with an out of range value:</strong><br />

When the <strong>size</strong> attribute value exceeds the maximum allowed value,
the fallback value of <strong>size</strong> attribute will be <strong>30</strong><br />
In this case we add <strong>40</strong> items to the <strong>size</strong> attribute and we can see that only 30 items are added.<br />
That's because the max limit of items in a spinner element is 30 items.
