<div>
  <ch5-textinput
    icon="fa fa-plane"
    placeholder="Firstname">
  </ch5-textinput>
</div>
<div>
  <ch5-textinput
    icon="fa fa-address-card"
   placeholder="Firstname">
  </ch5-textinput>
</div>
<div>
  <ch5-textinput
    icon="fa fa-book"
    placeholder="Firstname">
  </ch5-textinput>
</div>