<ch5-textinput
    iconClass="fa fa-plane"
    placeholder="Firstname"></ch5-textinput>
<br/><br/>
<ch5-textinput
    iconClass="fa fa-address-card"
   placeholder="Firstname"></ch5-textinput>
<br/><br/>
<ch5-textinput
    iconClass="fa fa-book"
    placeholder="Firstname"></ch5-textinput>