<ch5-textinput
    iconClass="fa fa-plane"
    iconPosition="last"
    placeholder="Firstname"></ch5-textinput>
<br/><br/>
<ch5-textinput
    iconClass="fa fa-address-card"
    iconPosition="last"
    placeholder="Firstname"></ch5-textinput>
<br/><br/>
<ch5-textinput
    iconClass="fa fa-book"
    iconPosition="last"
    placeholder="Firstname"></ch5-textinput>