{% raw %}
<h1>Utility function countNumberOfCh5Components</h1>
<p>countNumberOfCh5Components(parentElement):object returns the number of Ch5 Components that are available in a specific parent element.
</p>
{% endraw %}
