<h1><b>scale</b> attribute</h1>
<p>Defines how an image will fill the component when the component and the image do not have the same aspect ratio.
stretch will transform the image to have same aspect ratio as the component fill will size the image to leave no extra space
but will crop off either top and bottom or left and right to completely fill the component and fit will preserve the image aspect ratio
centering the image leaving either letter box on top and bottom or pillar box on left and right. For fit attribute, see related
imgBackgroundColor attribute.</p>
<p>Background scale supports stretch, fill and fit. Default value is stretch.</p>
<p><b>This attribute will be superseded by the repeat attribute if both are provided.</b></p>