The default behaviour of <strong>iconPosition</strong> attribute:<br />
The icon is positioned in the left side of the label, which is the default position when the <strong>iconPosition</strong> attribute is not set.<br />
When text direction is 'rtl', than the default position of the icon will be on the right side of the label.