{% raw %}
<ch5-button type="primary" label="Show" 
        receiveStateSelected="receive_state_show_1" 
        sendEventOnClick="trigger_receive_state_show_1"></ch5-button>  
<ch5-import-htmlsnippet
    url="ch5-import-htmlsnippet/ch5-import-htmlsnippet-content.html" receivestatehidepulse="trigger_receive_state_hide_1" receivestateshowpulse="trigger_receive_state_show_1">
</ch5-import-htmlsnippet>
{% endraw %}
