<h1><b>receiveStateShowpulse</b> attribute</h1>
<p>When clicking the button (Trigger visibility of standard HTML elements) the signal named trigger_data_ch5_hide_1 will change and it will toggle the data_ch5_hide_1 signal which controls the visibility of the elements.
</p>
