<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Ch5 Dpad: UseContractForLabel</h4>
        <ch5-dpad type="default" ID="test1a" shape="plus" useContractForLabel="true">
        </ch5-dpad>
        <ch5-dpad type="success" ID="test1b" shape="circle" useContractForLabel="false">
        </ch5-dpad>
    </div>
</div>