<h1>UseContractForLabel attribute</h1>: 
    Possible values are
    <b>true</b>,
    <b>false</b>
    <p>The default value is false.</p>
    <p> If this value is set to true then the value received from the contract will be considered for the label of the center button.
        The contractName attribute's default value is empty, making default value for useContractforLabel as false.</p>
