---
title: "ch5-textinput: required attribute"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/attributes/required/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/required/','ex2') %}{% endcall %}

{% endblock %}