---
title: "ch5-textinput: type attribute"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/attributes/type/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/type/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/type/','ex3') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/type/','ex4') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/type/','ex8') %}{% endcall %}

{% endblock %}