---
title: "ch5-textinput: size attribute"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/attributes/size/','ex1') %}{% endcall %}

{% endblock %}