---
title: "ch5-textinput: scaling attribute"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/attributes/scaling/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/scaling/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/scaling/','ex3') %}{% endcall %}
{% endblock %}