---
title: "ch5-textinput: minLength & maxLength attributes"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/attributes/minmaxlength/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/minmaxlength/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/minmaxlength/','ex3') %}{% endcall %}

{% endblock %}