---
title: "ch5-textinput: stretch attribute"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/attributes/stretch/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/stretch/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/stretch/','ex3') %}{% endcall %}

{% endblock %}
