---
title: "ch5-textinput: mask attribute"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/attributes/mask/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/mask/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/mask/','ex3') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/mask/','ex4') %}{% endcall %}


{% endblock %}