---
title: "ch5-textinput: minValue & maxValue attributes"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/attributes/minmaxvalue/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/minmaxvalue/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-textinput/attributes/minmaxvalue/','ex3') %}{% endcall %}

{% endblock %}