---
title: "ch5-textinput styling"
---
{% extends "./layouts/default.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>CSS Class</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ch5-textinput</td>
        <td>Main class</td>
    </tr>
    <tr>
        <td>ch5-textinput__label</td>
        <td>Class apply on the label</td>
    </tr>
    <tr>
        <td>ch5-textinput__input</td>
        <td>Class apply on the input</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--uppercase</td>
        <td>Class apply on the input when text-transform="uppercase"</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--lowercase</td>
        <td>Class apply on the input when text-transform="lowercase"</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--capitalize</td>
        <td>Class apply on the input when text-transform="capitalize"</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--none</td>
        <td>Class apply on the input when text-transform="none"</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--x-small</td>
        <td>Class apply on the input when  size="x-small"</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--small</td>
        <td>Class apply on the input when  size="small"</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--regular</td>
        <td>Class apply on the input when  size="regular"</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--large</td>
        <td>Class apply on the input when  size="large"</td>
    </tr>
    <tr>
        <td>ch5-textinput__input--x-large</td>
        <td>Class apply on the input when  size="x-large"</td>
    </tr>
    <tr>
        <td>ch5-textinput__icon</td>
        <td>Class apply on the icon</td>
    </tr>
    <tr>
        <td>ch5-textinput__icon--last</td>
        <td>Class apply on the icon when iconPosition attribute is set to 'last'</td>
    </tr>
    <tr>
        <td>ch5-textinput__icon--first</td>
        <td>Class apply on the icon when iconPosition attribute is set to 'first'</td>
    </tr>
    <tr>
        <td>ch5-textinput--disabled</td>
        <td>Added automatically based on the <i>disabled</i> attribute or by <i>receiveStateEnable</i></td>
    </tr>
    </tbody>
</table>

{% endblock %}
