---
title: "ch5-textinput: validitychange customEvent"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
    
    {% call exampleSectionFromPartials('ch5-textinput/custom-events/event-validitychange/','ex1') %}{% endcall %}

{% endblock %}