---
title: "ch5-textinput: Send Events when focus event is fired"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-textinput/send-signal-attributes/send-signal-on-focus/','ex1') %}{% endcall %}
    
{% endblock %}