---
title: "ch5-modal-dialog: width, height"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-modal-dialog/dimensions/','ex1') %}{% endcall %}

{% endblock %}