---
title: "ch5-modal-dialog: prompt, promptIcon"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-modal-dialog/prompt/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-modal-dialog/prompt/','ex2') %}{% endcall %}

{% endblock %}