---
title: "ch5-modal-dialog (inherited from ch5-overlay-panel): closeIcon"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-modal-dialog/close-icon/','ex1') %}{% endcall %}

{% endblock %}