---
title: "ch5-modal-dialog (inherited from ch5-overlay-panel): overflow"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-modal-dialog/overflow/','ex1') %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-modal-dialog/overflow/','ex2') %}{% endcall %}

{% endblock %}