---
title: "ch5-modal-dialog styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>CSS Class</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ch5-modal-dialog</td>
            <td>the class added on the div that is the only direct child of the ch5-modal-dialog element and wraps all its contents</td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-header</td>
            <td>the modal header; the title string is placed here</td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-prompt</td>
            <td>modal section (a div) that wraps the prompt-icon and the prompt-text</td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-prompt-icon</td>
            <td>an image element. </td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-prompt-text</td>
            <td>a span element</td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-contents</td>
            <td>wrap the html that is initially between the ch5-modal-dialog tags</td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-footer</td>
            <td>modal section ( a div ) that contains the two buttons</td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-btn-ok</td>
            <td>the class added on the ok button</td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-btn-cancel</td>
            <td>the class of the cancel button</td>
        </tr>
        <tr>
            <td>ch5-modal-dialog-mask</td>
            <td>class added on the mask element</td>
        </tr>
        </tbody>
    </table>

{% endblock %}