---
title: "ch5-modal-dialog: mask"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-modal-dialog/mask/','ex1') %}{% endcall %}

{% endblock %}