---
title: "ch5-modal-dialog: afterHide"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-modal-dialog/after-hide/','ex1') %}{% endcall %}

{% endblock %}