<h1><b>label</b> attribute, Label for the center button only, for others it will be ignored.
<br>
When iconUrl, iconClass and label specified, only the icon will be shown, label will not be shown. iconUrl will supersede iconClass and iconClass will supersede label.<h1>
