<h1><b>label</b> attribute, Label for the center button only, for others it will be ignored.
<br>
When specified, only the label will be shown, icon will not be shown.  label will supersede iconClass and iconUrl attributes.<h1>
