<div>
    <ch5-dpad type="success" shape="circle">
        <ch5-dpad-button key="center" label="t"></ch5-dpad-button>
        <ch5-dpad-button key="up" label="1"></ch5-dpad-button>
        <ch5-dpad-button key="right"></ch5-dpad-button>
        <ch5-dpad-button key="left"></ch5-dpad-button>
        <ch5-dpad-button key="down"></ch5-dpad-button>
    </ch5-dpad>
</div>
<div style="margin-top: 10px">
    <ch5-dpad type="success">
        <ch5-dpad-button key="center" label="t"></ch5-dpad-button>
        <ch5-dpad-button key="up" label="1"></ch5-dpad-button>
        <ch5-dpad-button key="right"></ch5-dpad-button>
        <ch5-dpad-button key="left"></ch5-dpad-button>
        <ch5-dpad-button key="down"></ch5-dpad-button>
    </ch5-dpad>
</div>
