<ch5-keypad showExtraButton="true" type="success" stretch="width" shape="rounded-rectangle" customClass="blue-dashed-border"></ch5-keypad>
<br/>

<ch5-keypad showExtraButton="true" type="success" stretch="width" shape="square" customclassselected="keypad-active"></ch5-keypad>
<br/>

<ch5-keypad showExtraButton="true" type="success" stretch="width" shape="circle" customclassselected="keypad-active"></ch5-keypad>
<br/>

<ch5-keypad showExtraButton="true" type="success" stretch="width" shape="rounded-rectangle" customclasspressed="keypad-pressed"></ch5-keypad>
<br/>

<ch5-keypad showExtraButton="true" type="success" stretch="width" shape="square" customclassdisabled="keypad-disabled"></ch5-keypad>
<br/>

<ch5-keypad showExtraButton="true" type="success" stretch="width" shape="circle" customclassdisabled="keypad-disabled"></ch5-keypad>