.blue-dashed-border {
    border: 3px dashed blue;
}

.keypad-active {
    background-color: blue;
}

.keypad-pressed {
    background-color: red;
}

.keypad-disabled {
    background-color: gray;
    pointer-events: none;
}
