.blue-dashed-border {
    border: 3px dashed blue;
}
.green-dotted-border {
    border: 3px dotted green;
}
.red-solid-border {
    border: 3px solid red;
}
.bg1 {
    background-color: #777;
}
.bg2 {
    background-color: #aaa;
}