<h1>positionTo</h1>
<p>The ID of an HTML element that will be a reference for positioning the overlay. The '#' character is optional.</p>
<p>Note that the ch5-overlay-panel will also change its position in the DOM so that it becomes a sibling of the
reference element.</p>

