When the value of <strong>visibleItemScroll</strong> attribute exceeds the size:<br />
The maximum value for the <strong>visibleItemScroll</strong> attribute will be the value of size attribute.
In this case, the <strong>visibleItemScroll</strong> attribute value is <strong>30</strong>, but only 7 items are shown and the height of the panel fits for the 7 items (not 30).