when the value of <strong>visibleItemScroll</strong> attribute exceeds the size:<br />
The maximum value for <strong>visibleItemScroll</strong> attribute will be the value of size attribute.
In this case you'll notice that the <strong>visibleItemScroll</strong> attribute value is <strong>30</strong> and you see everytime only 7 items and the height of the panel fits for the 7 items not for 30