---
title: "ch5-dpad: size"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-dpad/usecontractforicons/','ex1') %}{% endcall %}

{% endblock %}