---
title: "ch5-dpad styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}


<table class="table">
    <thead>
    <tr>
        <th>CSS Class</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ch5-dpad</td>
        <td>Primary Class</td>
    </tr>
    <tr>
        <td>ch5-dpad--circle</td>
        <td>Defines the dpad shape</td>
    </tr>
    <tr>
        <td>ch5-dpad--plus</td>
        <td>Defines the dpad shape</td>
    </tr>
    <tr>
        <td>ch5-dpad__style</td>
        <td>Up icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad_icon-down</td>
        <td>Down icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad_icon-left</td>
        <td>Left icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad_icon-right</td>
        <td>Right icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad_icon-center</td>
        <td>Center icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad--info</td>
        <td>class apply when type="info"</td>
    </tr>
    <tr>
        <td>ch5-dpad--warning</td>
        <td>class apply when type="warning"</td>
    </tr>
    <tr>
        <td>ch5-dpad--danger</td>
        <td>class apply when type="danger"</td>
    </tr>
    <tr>
        <td>ch5-dpad--text</td>
        <td>class apply when type="text"</td>
    </tr>
    <tr>
        <td>ch5-dpad--success</td>
        <td>class apply when type="success"</td>
    </tr>
    <tr>
        <td>ch5-dpad--default</td>
        <td>class apply when type="default"</td>
    </tr>
    <tr>
        <td>ch5-dpad--primary</td>
        <td>class apply when type="primary"</td>
    </tr>
    <tr>
        <td>ch5-dpad--secondary</td>
        <td>class apply when type="secondary"</td>
    </tr>
    <tr>
        <td>ch5-dpad-button</td>
        <td>Primary Class</td>
    </tr>
    <tr>
        <td>ch5-dpad-button__icon</td>
        <td>Apply to icons</td>
    </tr>
    <tr>
        <td>ch5-dpad--selected</td>
        <td>class apply when button in the selected state</td>
    </tr>
    <tr>
        <td>ch5-dpad--pressed</td>
        <td>class apply when button in the pressed state</td>
    </tr>
    <tr>
        <td>ch5-dpad--disabled</td>
        <td>class apply when button in the disabled state</td>
    </tr>
    </tbody>
</table>

{% endblock %}
