---
title: "ch5-keypad styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>SASS variable</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>$defaultDimension</td>
            <td>the default size container width</td>
        </tr>
        <tr>
            <td>$xsmallDimension</td>
            <td>the x-small size container width</td>
        </tr>
        <tr>
            <td>$smallDimension</td>
            <td>the small size container width</td>
        </tr>
        <tr>
            <td>$largeDimension</td>
            <td>the small size container width</td>
        </tr>
        <tr>
            <td>$xlargeDimension</td>
            <td>the small size container width</td>
        </tr>
    </tbody>
</table>

{% endblock %}
