---
title: "ch5-dpad: sendEventOnClick"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-dpad/sendeventonclickstart/','ex1') %}{% endcall %}

{% endblock %}