---
title: "ch5-dpad: contractName"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-dpad/contractname/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-dpad/usecontractforenable/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-dpad/usecontractforshow/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-dpad/usecontractforcustomclass/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-dpad/usecontractforcustomclass/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-dpad/usecontractforcustomstyle/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-dpad/usecontractforcustomstyle/','ex2') %}{% endcall %}

{% endblock %}