---
title: "ch5-dpad styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}


<table class="table">
    <thead>
    <tr>
        <th>CSS Class</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ch5-dpad</td>
        <td>Primary Class</td>
    </tr>
    <tr>
        <td>ch5-dpad--shape-circle</td>
        <td>Defines the dpad shape</td>
    </tr>
    <tr>
        <td>ch5-dpad--shape-plus</td>
        <td>Defines the dpad shape</td>
    </tr>
    <tr>
        <td>ch5-dpad__style</td>
        <td>Up icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad_icon-down</td>
        <td>Down icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad_icon-left</td>
        <td>Left icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad_icon-right</td>
        <td>Right icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad_icon-center</td>
        <td>Center icon - add icon related style</td>
    </tr>
    <tr>
        <td>ch5-dpad--type-info</td>
        <td>class apply when type="info"</td>
    </tr>
    <tr>
        <td>ch5-dpad--type-warning</td>
        <td>class apply when type="warning"</td>
    </tr>
    <tr>
        <td>ch5-dpad--type-danger</td>
        <td>class apply when type="danger"</td>
    </tr>
    <tr>
        <td>ch5-dpad--type-text</td>
        <td>class apply when type="text"</td>
    </tr>
    <tr>
        <td>ch5-dpad--type-success</td>
        <td>class apply when type="success"</td>
    </tr>
    <tr>
        <td>ch5-dpad--type-default</td>
        <td>class apply when type="default"</td>
    </tr>
    <tr>
        <td>ch5-dpad--type-primary</td>
        <td>class apply when type="primary"</td>
    </tr>
    <tr>
        <td>ch5-dpad--type-secondary</td>
        <td>class apply when type="secondary"</td>
    </tr>
    <tr>
        <td>ch5-dpad-button</td>
        <td>Primary Class</td>
    </tr>
    <tr>
        <td>ch5-dpad-button__icon</td>
        <td>Apply to icons</td>
    </tr>
    <tr>
        <td>ch5-dpad--selected</td>
        <td>class apply when button in the selected state</td>
    </tr>
    <tr>
        <td>ch5-dpad--pressed</td>
        <td>class apply when button in the pressed state</td>
    </tr>
    <tr>
        <td>ch5-dpad--disabled</td>
        <td>class apply when button in the disabled state</td>
    </tr>
    <tr>
        <td>ch5-dpad--size-x-small</td>
        <td> Applied when size="x-small"</td>
    </tr>
    <tr>
        <td>ch5-dpad--size-small</td>
        <td> Applied when size="small"</td>
    </tr>
    <tr>
        <td>ch5-dpad--size-large</td>
        <td> Applied when size="large"</td>
    </tr>
    <tr>
        <td>ch5-dpad--size-x-large</td>
        <td> Applied when size="x-large"</td>
    </tr>
    </tbody>
</table>

{% endblock %}
