---
title: "ch5-dpad: shapes"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-dpad/shapes/','ex1') %}{% endcall %}

{% endblock %}