---
title: "ch5-dpad: useContractForCustomStyle"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    

{% endblock %}