---
title: "ch5-dpad: useContractForCustomStyle"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-dpad/usecontractforcustomstyle/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-dpad/usecontractforcustomstyle/','ex2') %}{% endcall %}

{% endblock %}