---
title: "ch5-dpad common: receiveStateShow, receiveStateShowPulse, receiveStateHidePulse"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% set scenario1 -%}
        {%- include "./emulator-scenarios/ch5-dpad/show.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

{# example 1 #}
    {% call exampleSectionFromPartials('ch5-dpad/common-show/','ex1') %}{% endcall %}

{# example 2 #}
    {% call exampleSectionFromPartials('ch5-dpad/common-show/','ex2') %}{% endcall %}

{# example 3 #}
    {% call exampleSectionFromPartials('ch5-dpad/common-show/','ex3') %}{% endcall %}

{% endblock %}