<div class="btn_rec_url_container content">
    <p>
        The buttons change the value of <b>receive_image_url</b> ( See the Emulator section )
    </p>
    <p>
        <ch5-button label="Btn1" sendEventOnClick="trig1"></ch5-button>
    </p>
    <p>
        <ch5-button label="Btn2" sendEventOnClick="trig2"></ch5-button>
    </p>
</div>

<ch5-image
    alt="Backyard image"
    height="200px"
    width="300px"
    receiveStateUrl="receive_image_url">
</ch5-image>