---
title: "Component Configuration: attributes"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection, componentConfigurationSection %}

{% block content %}

    {#{% set scenario1 -%}#}
        {#{%- include "./partials/component-configuration/attributes/scenario-component-config-attributes.json" %}#}
    {#{%- endset %}#}
    {#{% call emulatorScenarioSection(scenario1) %}{% endcall %}#}
    {% set configJson -%}
        {%- include "./partials/component-configuration/attributes/config-attributes.json" %}
    {%- endset %}
    {% call componentConfigurationSection(configJson) %}{% endcall %}


    {% call exampleSectionFromPartials('component-configuration/attributes/','ex1', true) %}{% endcall %}

{% endblock %}