<h1>The example demonstrates the usage of join numbers as signal names for <strong>receiveStatePositionTo</strong> and 
<strong>receiveStatePositionOffset</strong> in CH5 Overlay Panel component.</h1>
