.content + .content {
    margin-top: 36px;
}

ch5-button,
#ref-element-1 {
    position:relative;
}

.cols2 {
    display: flex;
    flex-direction: row;
}

.cols2 > div {
    padding: 0 8px 0 0;
}

.cols2 > div + div {
    padding: 0 0 0 8px;
}

