$(document).ready(function() {
    var cancelButton = $('#room_cancel_id');
    var triggerCancel = $('#trigger_cancel');

    triggerCancel.on('click', function(){
        cancelButton.click();
    });
})

