<h1>ch5-button in gestureable container</h1>
<div class="row">
    <p><p>The default value is false. When set to true, gesturing will be supported. When you swipe left or swipe right, the active view will change</p></p>
    <p>
        <strong>Note:</strong> Open inspector console to see events logs.
    </p>
</div>