<h1>ch5-form cancelButtonType</h1>
<p>
    Valid values:
    <b>danger</b>,
    <b>text</b>,
    <b>warning</b>,
    <b>info</b>,
    <b>success</b>,
    <b>default</b>,
    <b>primary</b>,
    <b>secondary</b>
</p>