<div style="height: 320px;">
    <ch5-background scale="fill" receivestaterefreshrate="receive_refresh_rate" url="https://picsum.photos/id/30/800/800 | https://picsum.photos/id/10/800/800 | https://picsum.photos/id/20/800/800"></ch5-background>
</div>
<br>
<ch5-button label="Refresh rate 15 second" sendEventOnClick="send_refresh_rate_1"></ch5-button>
<ch5-button label="Refresh rate 12 second" sendEventOnClick="send_refresh_rate_2"></ch5-button>