<h1>ch5-form cancelId</h1>
<p>When hideCancelButton='true', this field is the id of an element in which a 'click' event can be used to trigger the revert functionality</p>

<p>Open the browser console to see that signals are send when "Trigger Cancel" button is clicked. ( See JS tab )</p>