{% raw %}
<h1>Utility function subscribeInViewPortChange</h1>
<p>subscribeInViewPortChange(el:HTMLElement, callback):void</p>
<p>
    <b>el</b> is a HTMLElement that can be observed when ir enters or leaves the viewport
</p>
<p>
    <b>callback</b> is to be executed when the element enters or leaves the viewport.
    <b>callback params</b> el: HTMLElement, isInViewport: boolean
</p>
{% endraw %}
