<h1>ch5-list: endless</h1>
<p>The default value is false.</p>
<p>If false, continued swiping when reaching the end of a list will reveal no items beyond the last.</p>
<p>If true, the first item of the list will virtually follow the last item when reaching the end of the list.
    Swiping towards the beginning of list will also reveal the last item prior to the first item.</p>
