<h1>ch5-list: endless</h1>
<p>Default false.</p>
<p>If false, continued swiping when reach end of list will reveal no entries beyond the last entry.</p>
<p>If true, the first entry of the list will virtually follow the last entry of list when reaching the end of the entries.
    Swiping towards the beginning of list entries will also review the last entry prior to the first entry.</p>
