<h1>ch5-list <b>used</b> in Angular</h1>
<p>This example documents the usages of the <i>ngNonBindable</i> directive in Angular 2+ for a ch5-list</p>
<p>The usage of ngNonBindable is required only in Angular 2+, the example here is for demonstrative purposes only</p>
