var demo2 = document.getElementById('demo2');
var prev2 = document.getElementById('prev2');
var next2 = document.getElementById('next2');

prev2.addEventListener('click', function() {
	demo2.previousViewChild(); 
});

next2.addEventListener('click', function() {
	demo2.nextViewChild(); 
});