<h1><b>receiveStateUrl</b> event</h1>
<p>Provides the video URL to use when the selection changes to the INDEX value.</p>
<p>INDEX is the value passed in the 'indexId' attribute that can be used as prefix or suffix of a signal template name. INDEX is 0-based offset into the list of up to maximum number of sources.</p>
<p>As example if value provided as indexId is "INDEX" and value provide for receiveStateURL is "panel2.videourl[{{INDEX}}]", this video control will use "panel2.videourl[0]", "panel2.videourl[1]", ..., "panel2.video_url[31]" as string state names to be associated with select value 0, 1, ..., 31. </p>