<h1>ch5-select: multi selection</h1>
<p>Attributes used:</p>
<ul>
    <li> - multiselect set to true and it can be used only with mode=panel</li>
    <li> - ch5-select-option.sendEventOnClick used to select options</li>
    <li> - receiveStateSelected</li>
    <li> - signalValueSyncTimeout</li>
</ul>
