A usage of the <strong>minValue</strong> attribute:<br />
Used only for input[type="number"] elements. <br />
To make the input valid, a value greater than 10 must be passed. An error message will be displayed if the value is lower than 10.