usage of <strong>minValue</strong> attribute<br />
used only for input[type="number"] elements. <br />
to make the input valid you have to pass a value greater than 10. By submitting the form you'll see a error message if the value is lower than 10.