A usage of the <strong>maxValue</strong> attribute:<br />
Used only for input[type="number"] elements. 
To make the input valid, a value lower than 10 must be passed. An error message will be displayed if the value is lower than 10.