usage of <strong>maxValue</strong> attribute<br />
used only for input[type="number"] elements. 
to make the input valid you have to pass a value lower than 10 also by submitting the form you will get a error message if the value is lower than 10.