A usage of the <strong>minValue</strong> attribute within a input[type="text"] element:<br />
<strong>Result:</strong> The <strong>min</strong> attribute should not be seen on the input. (Inspect the input element to confirm.)