usage of <strong>minValue</strong> attribute within a input[type="text"] element<br />
<strong>Result:</strong> you should not see the <strong>min</strong> attribute on the input. ( Inspect input element in order to see that )