<p style="color:red">
<strong style="color:inherit">The Showcase app is not capable of displaying CH5 Video.</strong><br/>
CH5 Video must be displayed in a live project on a supported Crestron touch screen or Crestron Mobile app.
</p>
