{% raw %}
<p>
Please use the Sample Projects as the playground for CH5 Video and load into the Crestron touch screen or Crestron Mobile app.
</p>

<p>
Documentation: <a href=" https://www.crestron.com/developer">CH5 Video</a>
</p>

{% endraw %}
