{% raw %}
<p>
Please use the Sample Projects as the playground for CH5 Video and load into the Crestron touch screen or Crestron Mobile app.
</p>

<p>
Documentation: <a href="https://sdkcon78221.crestron.com/sdk/Crestron_HTML5UI/Content/Topics/UI-Video-Considerations.htm" target="_blank">CH5 Video</a>
</p>

{% endraw %}
