<div>
    <ch5-textinput
        icon="fas fa-address-book"
        iconPosition="last"
        placeholder="Address book"
    ></ch5-textinput>
</div>
<div>
    <ch5-textinput
        icon="fas fa-anchor"
        iconPosition="last"
        placeholder="Anchor"
    ></ch5-textinput>
</div>
<div>
    <ch5-textinput
        icon="fas fa-battery-full"
        iconPosition="last"
        placeholder="Battery full"
    ></ch5-textinput>
</div>
