<h1>ch5-dpad stretch height</h1>
<p>When the stretch attribute is set to height, the ch5-dpad stretches in height, as much as its parent
    allows.</p>
<p>Size attribute gets preference over the Stretch attribute.