<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Stretch: Height</h4>
    </div>
    <div class="ch5-dpad-container2" style="width: 300px; height: 400px;">
        <ch5-dpad type="success" shape="plus" stretch="height"></ch5-dpad>
    </div>
    <div class="ch5-dpad-container2" style="width: 300px; height: 400px;">
        <ch5-dpad type="warning" shape="circle" stretch="height"></ch5-dpad>
    </div>
</div>
