<h1>Stretch attribute: height</h1>
<br />
<p>When the stretch attribute is set to height, the ch5-dpad stretches in height, as much as its parent
    allows.</p>
<p>Size attribute gets preference over the Stretch attribute.