<h1><b>stretch</b> attribute: height</h1>
<br />
<p>When the stretch attribute is set to height, the ch5-dpad stretches in height, as much as its parent
    allows.</p>
<p>Stretch attibute always overrides the size attribute. If the stretch attribute is applied, then the size attribute is set to its default value (regular)</p>
<br />
<p><b>Note:</b> Parent container has to be set a Fixed height and width to see the expected behaviour</p>