<h4>stretch: height</h4>
 <div class="ch5-dpad-container1">
    <ch5-dpad 
        type="success"
        shape="plus" 
        stretch="height">
    </ch5-dpad>
</div>
    
<br>

<div class="ch5-dpad-container1">
    <ch5-dpad 
        type="warning"
        shape="circle" 
        stretch="height">
    </ch5-dpad>
</div>

