<div class="ch5-btn-container1">
    <ch5-dpad type="success" shape="plus" stretch="height"></ch5-dpad>
</div>
<div class="ch5-btn-container1">
    <ch5-dpad type="success" shape="circle" stretch="height"></ch5-dpad>
</div>
