<div class="ch5-btn-container2">
    <ch5-dpad type="success" shape="plus" stretch="width"></ch5-dpad>
</div>
<div class="ch5-btn-container2">
    <ch5-dpad type="success" shape="circle" stretch="width"></ch5-dpad>
</div>
