<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Stretch: Width</h4>
    </div>
    <div class="ch5-dpad-container2" style="width: 400px; height: 300px;">
        <ch5-dpad type="success" shape="plus" stretch="width" style="width: 200px; height: 200px;"></ch5-dpad>
    </div>
    <div class="ch5-dpad-container2" style="width: 400px; height: 300px;">
        <ch5-dpad type="warning" shape="circle" stretch="width" style="width: 200px; height: 200px;"></ch5-dpad>
    </div>
</div>
