<h4>stretch: width</h4>
 <div class="ch5-dpad-container2">
<ch5-dpad 
    type="success" 
    shape="plus" 
    stretch="width">
</ch5-dpad>
</div>
<br>
<div class="ch5-dpad-container2">
<ch5-dpad 
    type="warning"
    shape="circle" 
    stretch="width">
</ch5-dpad>
</div>

