<div class="ch5-btn-container3">
    <ch5-dpad type="success" shape="plus" stretch="both"></ch5-dpad>
</div>
<div class="ch5-btn-container3">
    <ch5-dpad type="success" shape="circle" stretch="both"></ch5-dpad>
</div>
