<h4>stretch: both</h4>
<div class="ch5-dpad-container3">
<ch5-dpad
    type="success" 
    shape="plus" 
    stretch="both">
</ch5-dpad>
</div>
<br>
<div class="ch5-dpad-container3">
<ch5-dpad 
    type="warning" 
    shape="circle" 
    stretch="both">
</ch5-dpad>
</div>

