<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Stretch: Both</h4>
    </div>
    <div class="ch5-dpad-container3" style="width: 400px; height: 400px;">
        <ch5-dpad type="success" shape="plus" stretch="both" style="width: 400px; height: 400px;"></ch5-dpad>
    </div>
    <div class="ch5-dpad-container3" style="width: 400px; height: 400px;">
        <ch5-dpad type="warning" shape="circle" stretch="both" style="width: 400px; height: 400px;"></ch5-dpad>
    </div>
</div>
