<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Default value: true</h4>
        <ch5-keypad useContractForExtraButtonShow="true"></ch5-keypad>
    </div>
    
    <div style="margin: 10px 0 20px 0">
        <h4>False</h4>
        <ch5-keypad useContractForExtraButtonShow="false"></ch5-keypad>
    </div>
</div>