<h1>useContractForxtraButtonShow attribute</h1>
<p>
    Possible values
    <b>true</b>,
    <b>false</b>,
</p>
<p>
    If contractName exists and the value is true, then the extra button is visible. This has higher precedence over "showExtraButton"
    Default is 'true'.
</p>
