<div class="flex-wrapper">
    <ch5-button
            type="info"
            sendEventOnClick="trig1"
            label="Focus the input">
    </ch5-button>
    <ch5-textinput
            receiveStateFocus="btn_receive_focus"
            placeholder="Focus on me">
    </ch5-textinput>
</div>
