<h4>Set focus to true</h4>
<div class="flex-wrapper">
    <ch5-textinput
            receiveStateFocus="btn_receive_focus"
            placeholder="Focus on me">
    </ch5-textinput>
    <ch5-button
            type="info"
            sendEventOnClick="trig1"
            label="Focus the input">
    </ch5-button>
</div>
<hr/>
<h4>Toggle focus</h4>
<div class="flex-wrapper">
    <ch5-textinput
            receiveStateFocus="btn_receive_focus2"
            placeholder="Focus on me">
    </ch5-textinput>
    <ch5-button
            type="info"
            sendEventOnClick="trig2"
            label="Toggle the input focus">
    </ch5-button>
</div>
