<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Icon Class, Label (Major and Minor)</h4>
        <ch5-keypad showExtraButton="true" shape="rounded-rectangle">
            <ch5-keypad-child-button key="button1" labelMajor="11" labelMinor="ONE"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button2" labelMajor="12" labelMinor="TWO"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button3" labelMajor="13" labelMinor="THREE"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button4" labelMajor="14" labelMinor="FOUR"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button5" labelMajor="15" labelMinor="FIVE"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button6" labelMajor="16" labelMinor="SIX"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button7" labelMajor="17" labelMinor="SEVEN"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button8" labelMajor="18" labelMinor="EIGHT"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button9" labelMajor="19" labelMinor="NINE"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="button0" labelMajor="10" labelMinor="ZERO"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="buttonstar" labelMajor="^^" labelMinor="MISC1"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="buttonhash" labelMajor="&&" labelMinor="MISC2"></ch5-keypad-child-button>
            <ch5-keypad-child-button key="buttoncenter" iconClass="fas fa-user"></ch5-keypad-child-button>
        </ch5-keypad>
    </div>
</div>
