<h1>Common attributes: <strong>sendEventOnShow</strong></h1>
<br/>
<p>
    An event is sent whenever the visible state of the component changes.
    <br/><br/>
    <i>Use the developer console to see that the event is sent with the proper value.</strong>
</p>