{% raw %}
<label>Press the button below to get data from signal</label>
<ch5-spinner
  indexId="idx"
  receiveStateSize="receive_spinner_size"
  size="1"
  autosetitemheight
>
  <template>
    <div>
        <label>Item {{idx}}</label>
        <ch5-image refreshrate="0" receiveStateUrl="receive_spinner_icon_{{idx}}"></ch5-image>
    </div>
  </template>
</ch5-spinner>

<ch5-button
  sendEventOnClick="trig1"
  label="Change the url"
  stretch="width"
></ch5-button>

{% endraw %}