{% raw %}
<label>Press the button below to get data from signal</label>
<ch5-spinner
  indexId="idx"
  receiveStateSize="receive_spinner_size"
  receiveStateLabel="receive_spinner_label_1"
  size="1"
  autosetitemheight
>
</ch5-spinner>

<ch5-button
  sendEventOnClick="trig1"
  label="Change the label"
  stretch="width"
></ch5-button>

{% endraw %}