<div>
    <ch5-button 
        type="info" 
        sendEventOnClick="trig1" 
        
        label="Give value to input">
    </ch5-button>
</div>
<ch5-textinput
    receiveStateValue="btn_receive_value"
    feedbackMode="submit"
    placeholder="Click the button to get the value">
</ch5-textinput>

<button id="submit">Submit</button>
<button id="reset">Reset</button>
<button id="getDirty">GetDirty</button>
