<b>ch5-text-input</b> stretch = "content".
<p>
    When the stretch attribute is set to <i>content</i>, the width and height of the
    <b>ch5-textinput</b> will be set to 100% in order to cover all the area of the parent. (css class: <i>ch5-textinput--content</i>)
</p>
