<h1><b>receiveStateSnapshotRefreshrate</b> event</h1>
<p>Defines the refresh period for a still image url when the selection changes to INDEX value. 0 indicates no refresh. See description of INDEX in receiveStateURL.</p>
