<h1>The example demonstrates the usage of Join Numbers as Signal Names for <strong>receiveStateValue</strong>, 
<strong>receiveStateValueHigh</strong>, <strong>receiveStateScriptLabelHtml</strong> in CH5 Slider component</h1>
