<h1>The example demonstrates the usage of join numbers as signal names for <strong>receiveStateValue</strong>, 
<strong>receiveStateValueHigh</strong>, and <strong>receiveStateScriptLabelHtml</strong> in the CH5 Slider component.</h1>
