<h1><b>stretch</b> attribute</h1>
<p>When true, video will be displayed in the whole component. When false, video will be displayed as letter or pillar box based upon the aspect ratio of the video feed and the size of the component. Default false.</p>
<p>Note: this attribute is independent of aspectRatio.</p>
