<h1><b>URL</b> attribute</h1>
<p>When one or more image URLs to be used as background. Supported image types include JPEG, PNG, SVG, and BMP.
Motion GIFs are not supported. Multiple urls can be provided separated by | (vertical bar) to have images replaced over time.</p>