<h1>sendEventOnClickStart attribute</h1>
<br />
<p>
    <b>sendeventonclickstart</b> attribute allows a developer to bind event clicks based on signals.
    The value is referred to, and each child button is assigned with an incremental digit based on 
    the initial value passed as attribute value.
</p>

<br />
<p>
    If the  initial value of <b>sendeventonclickstart</b> is assigned as number 6 (digitals), 
    the events are bound on each child button as below:
</p>
<p>
Only applies if contractName is not provided, if this parameter is supplied, the join number is applied as follows:
<ul style="margin-left:20px">
<li><b>Number 1</b>: value + 1</li>
<li><b>Number 2</b>: value + 2</li>
<li><b>Number 3</b>: value + 3</li>
<li><b>Number 4</b>: value + 4</li>
<li><b>Number 5</b>: value + 5</li>
<li><b>Number 6</b>: value + 6</li>
<li><b>Number 7</b>: value + 7</li>
<li><b>Number 8</b>: value + 8</li>
<li><b>Number 9</b>: value + 9</li>
<li><b>Number 0</b>: value + 0</li>
<li><b>Star</b>: value + 10</li>
<li><b>Hash</b>: value + 11</li>
<li><b>Extra button</b>: value + 12</li>
</ul>
</p>
