<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Ch5 keypad: SendEventOnClickStart</h4>
        <ch5-keypad showExtraButton="true" type="primary" ID="test1a" shape="rounded-rectangle" sendEventOnClickStart="5">
        </ch5-keypad>
        <ch5-keypad showExtraButton="true" type="text" ID="test1b" shape="square" sendEventOnClickStart="5">
        </ch5-keypad>
        <ch5-keypad showExtraButton="true" type="warning" ID="test1c" shape="circle" sendEventOnClickStart="5">
        </ch5-keypad>
    </div>
</div>
