<p>
    Ch5 components can be preconfigured with default values for <b>attributes</b> and for <b>templatevariables</b>.
    The configuration can be done using <b>Ch5Config</b> and its methods:
    <ul>
        <li><b>loadConfig(config:TCh5Config)</b> loads a new configuration and overrides the existing one.</li>
        <li><b>setAttributeForId(elementId:string, attributeName:string, attributeValue:string)</b> sets an attributeValue
        for an attributeName of the specified HTML elementId</li>
        <li><b>setAttributeForComponent(componentName:string, attributeName:string, attributeValue:string)</b> sets an attributeValue
            for an attributeName of the specified ch5 component (componentName) </li>
        <li><b>setTemplateVarsForId(elementId:string, tempVarsItems:any[])</b> sets the template
            variables for the ch5 component having the specified elementId</li>
        <li><b>getConfig()</b> returns the current configuration object</li>
        <li><b>getAttributesForId(elementId:string):TCh5ConfigAttributes</b> returns the configrued attributes for the
        component having the specified <b>elementId</b></li>
        <li><b>getAttributesForComponent(componentName:string):TCh5ConfigAttributes</b> returns all configured attributes
            for the component specified in <b>componentName</b> ( for example 'ch5-button')
        </li>
        <li><b>getTemplateVarsForElementById(elementId:string):TCh5ConfigTemplateVars[]</b> returns the configured template
            variables for the component having the specified <b>elementId</b>
        </li>
        <li>
            <b>getAttributesForElement(cr:Ch5Common):TCh5ConfigAttributes</b> returns all configured attributes for a
            ch5 component
        </li>
        <li>
            <b>getTemplateVarsForElement(cr:Ch5Common):TCh5ConfigTemplateVars[]</b> returns all configured templatevariables
            for a ch5 component
        </li>
    </ul>
</p>
<pre>
<code>
type TCh5ConfigAttributes={
    [attrName:string]: string
}
type TCh5ConfigTemplateVars={
    [varName:string]: string
}
type TCh5Config={
    "attributes": {
        "id": {
            [id:string]:TCh5ConfigAttributes
        },
        "component": {
            [component:string]:TCh5ConfigAttributes
        }
    },
    "templatevariables": {
        "id": {
            [id:string]:TCh5ConfigTemplateVars[]
        }
    }
}
</code>
</pre>
