<script src="{{siteurl}}lib/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{siteurl}}js/js-interface-mock.js" type="text/javascript" charset="utf-8"></script>
{#
If using a "no-ce" build these scripts should also be included (when building for browsers that do not have support for customElements.)
The first script provides polyfills.
The second script allow browser that already implement customElements to also be able to use this build version
<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js" type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/custom-elements-es5-adapter.js" type="text/javascript" charset="utf-8"></script>
#}
<script src="{{siteurl}}cr-com-lib/cr-com-lib.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/11.9.1/i18next.js"></script>

<script src="{{siteurl}}lib/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="{{siteurl}}js/avoid-console-errors.js" type="text/javascript" charset="utf-8"></script>

<script src="{{siteurl}}js/main.js" type="text/javascript" charset="utf-8"></script>
