<section class="hero">
    <div class="hero-body header-section">
        <div class="">
            <h1 class="title">
                Crestron Components Lib - Showcase App
            </h1>
            <h2 class="subtitle">{{title}}</h2>
        </div>
    </div>
</section>


