<div class="theme-changer-wrapper">
    <div class="theme-changer-loader">
        <div class="theme-changer-loading">
            <div class="lds-spin" style="width:100%;height:100%">
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
        <span class="theme-changer-error fas fa-times-circle"></span>
        <span class="theme-changer-loaded fas fa-check-circle"></span>
        <select class="theme-changer">
            <option disabled>Choose a theme</option>
            <option value="highContrast">High Contrast</option>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
    </div>

</div>