
.my-custom-class1 {
  color: red;
  fill: red;
}
.my-custom-class2 {
  color: black;
  fill: black;
}
.my-custom-class3 {
  color: blue;
  fill: blue;
}
.my-custom-class4 {
  color: orange;
  fill: orange;
}