Button mode with no attributes in ch5-button-mode. Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 1. 

<br /><br />

<ch5-button type="warning" label="Button 1" stretch="both">
    <ch5-button-mode></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button-mode and none (matching ones) in ch5-button. Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 1. 

<br /><br />

<ch5-button label="Button 2" size="x-large" checkboxshow="true">
    <ch5-button-mode type="danger" iconClass="fab fa-chrome" iconPosition="top" customStyle="border:3px solid orange;" customClass="my-custom-class2" checkboxPosition="right" halignLabel="left" valignlabel="top"></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 1. iconUrl is not added. 
<br /><br />

<ch5-button label="Button 3" size="x-large" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconClass="fa fa-play" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode type="success" iconClass="fab fa-chrome" iconPosition="top" customStyle="border:3px solid orange;" customClass="my-custom-class2" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button and none in ch5-button-mode. Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 1. iconUrl is not added. 


<br /><br />

<ch5-button label="Button 4" size="x-large" checkboxshow="true" type="secondary" customStyle="border:3px solid orange;" customClass="my-custom-class3" iconClass="fa fa-play" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 1. iconUrl takes preference over iconClass. 


<br /><br />

<ch5-button label="Button 6" size="regular" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconUrl="./app/project/assets/img/navigation/lists.svg" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode type="success" iconUrl="./app/project/assets/img/navigation/video.svg" customStyle="border:3px solid blue;" customClass="my-custom-class5" iconPosition="bottom" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button and none in ch5-button-mode. Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 1. iconClass is not added. 


<br /><br />

<ch5-button label="Button 7" size="x-large" checkboxshow="true" type="info" customStyle="border:3px solid green;" customClass="my-custom-class2" iconUrl="./app/project/assets/img/navigation/lists.svg" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 1. iconClass and iconUrl defined together. iconClass takes preference. 


<br /><br />

<ch5-button label="Button 8" size="x-large" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconUrl="./app/project/assets/img/navigation/lists.svg" iconPosition="top" checkboxPosition="right" halignlabel="center" valignlabel="middle">
    <ch5-button-mode type="text" iconClass="fab fa-chrome" customStyle="border:3px solid orange;" customClass="my-custom-class3" iconPosition="bottom" checkboxPosition="left" halignlabel="left" valignlabel="bottom"></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. . Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 1. iconClass and iconUrl defined together. iconUrl takes preference. 


<br /><br />

<ch5-button label="Button 9" size="x-large" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconUrl="./app/project/assets/img/navigation/lists.svg" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode type="primary" iconClass="fab fa-chrome" iconUrl="./app/project/assets/img/navigation/video.svg" customStyle="border:3px solid orange;" customClass="my-custom-class2" iconPosition="bottom" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. iconClass and iconUrl defined together. iconUrl takes preference. 


<br /><br />

<ch5-button label="Button 10" mode="0" size="x-large" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconClass="fab fa-chrome" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode type="secondary" iconClass="fab fa-chrome" iconUrl="./app/project/assets/img/navigation/video.svg" customStyle="border:3px solid orange;" customClass="my-custom-class2" iconPosition="bottom" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. iconClass and iconUrl defined together. iconUrl takes preference. 


<br /><br />

<ch5-button label="Button 11" mode="0" size="x-large" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconClass="fab fa-chrome" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode type="info" iconUrl="./app/project/assets/img/navigation/video.svg" customStyle="border:3px solid orange;" customClass="my-custom-class2" iconPosition="bottom" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
</ch5-button>

<hr />


Button mode with no attributes in ch5-button-mode. Mode attribute is NOT set in ch5-button, and so mode=0. Mode length is 2. Mode number 1 has the attributes of ch5-button but are not used. 


<br /><br />

<ch5-button type="warning" label="Button 12" stretch="both">
    <ch5-button-mode></ch5-button-mode>
    <ch5-button-mode type="danger" halignLabel="top" valignLabel="bottom"></ch5-button-mode>
</ch5-button>

<hr />


Set all attributes in ch5-button-mode and none (matching ones) in ch5-button. Mode length is 2. iconUrl is not added. 


<br /><br />

<ch5-button mode="0" label="Button 13" size="x-large" checkboxshow="true">
    <ch5-button-mode type="danger" iconClass="fab fa-chrome" iconPosition="top" customStyle="border:3px solid orange;" customClass="my-custom-class2" checkboxPosition="right" halignLabel="left" valignlabel="top"></ch5-button-mode>
    <ch5-button-mode type="warning" iconClass="fa fa-play" iconPosition="bottom" customStyle="border:3px solid green;" customClass="my-custom-class4" checkboxPosition="left" halignLabel="right" valignlabel="top"></ch5-button-mode>
</ch5-button><hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. Mode length is 2. iconUrl is not added. 
<br /><br />

<ch5-button label="Button 14" mode="0" size="x-large" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconClass="fa fa-play" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode type="success" iconClass="fab fa-chrome" iconPosition="top" customStyle="border:3px solid orange;" customClass="my-custom-class2" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
    <ch5-button-mode type="info" iconClass="fa fa-play" iconPosition="top" customStyle="border:3px solid green;" customClass="my-custom-class3" checkboxPosition="left" halignLabel="right" valignlabel="bottom"></ch5-button-mode>
</ch5-button><hr />


Set all attributes in ch5-button and none in ch5-button-mode. Mode length is 2. iconUrl is not added. 


<br /><br />

<ch5-button mode="0" label="Button 15" size="x-large" checkboxshow="true" type="secondary" customStyle="border:3px solid orange;" customClass="my-custom-class3" iconClass="fa fa-play" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode></ch5-button-mode>
    <ch5-button-mode type="info" iconClass="fa fa-play" iconPosition="top" customStyle="border:3px solid green;" customClass="my-custom-class3" checkboxPosition="left" halignLabel="right" valignlabel="bottom"></ch5-button-mode>
</ch5-button><hr />


Set all attributes in ch5-button-mode and none (matching ones) in ch5-button. Mode length is 2. iconClass is not added. 

<br /><br />

<ch5-button mode="0" label="Button 16" size="large" checkboxshow="true">
    <ch5-button-mode type="danger" iconUrl="./app/project/assets/img/navigation/video.svg" iconPosition="top" customStyle="border:3px solid orange;" customClass="my-custom-class4" checkboxPosition="right" halignLabel="right" valignlabel="top"></ch5-button-mode>
    <ch5-button-mode type="primary" iconUrl="./app/project/assets/img/navigation/lists.svg" iconPosition="top" customStyle="border:3px solid green;" customClass="my-custom-class" checkboxPosition="left" halignLabel="left" valignlabel="bottom"></ch5-button-mode>
</ch5-button><hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. Mode length is 2. iconUrl takes preference over iconClass. 

<br /><br />

<ch5-button mode="0" label="Button 17" size="regular" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconUrl="./app/project/assets/img/navigation/lists.svg" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode type="success" iconUrl="./app/project/assets/img/navigation/video.svg" customStyle="border:3px solid blue;" customClass="my-custom-class5" iconPosition="bottom" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
    <ch5-button-mode type="text" iconUrl="./app/project/assets/img/navigation/ok.svg" customStyle="border:3px solid grey;" customClass="my-custom-class5" iconPosition="first" checkboxPosition="left" halignLabel="center" valignlabel="center"></ch5-button-mode>
</ch5-button><hr />


Set all attributes in ch5-button and ch5-button-mode. ch5-button-mode will override all attributes. Mode length is 3. iconClass and iconUrl defined together. iconUrl takes preference. 

<br /><br />

<ch5-button mode="0" label="Button 18" size="x-large" checkboxshow="true" type="danger" customStyle="border:3px solid red;" customClass="my-custom-class1" iconUrl="./app/project/assets/img/navigation/lists.svg" iconPosition="top" checkboxPosition="right" halignLabel="center" valignlabel="middle">
    <ch5-button-mode type="primary" iconClass="fab fa-chrome" iconUrl="./app/project/assets/img/navigation/video.svg" customStyle="border:3px solid orange;" customClass="my-custom-class2" iconPosition="bottom" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
    <ch5-button-mode type="secondary" iconClass="fa fa-play" iconUrl="./app/project/assets/img/navigation/ok.svg" customStyle="border:3px solid orange;" customClass="my-custom-class2" iconPosition="bottom" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
    <ch5-button-mode type="success" iconClass="fa fa-pause" iconUrl="./app/project/assets/img/navigation/lists.svg" customStyle="border:3px solid orange;" customClass="my-custom-class2" iconPosition="bottom" checkboxPosition="left" halignLabel="left" valignlabel="top"></ch5-button-mode>
</ch5-button>