If the number of elements is more than zero, then multi-mode feature is enabled for the
button. The maximum number of modes that the control will validate is 99.<br />
This ch5-button-mode has two child elements - &lt;ch5-button-label&gt; and &lt;ch5-buttonmode-
state&gt;<br /><br />
Attributes for ch5-button-mode are: <br />
type: danger, text, warning, info, success, <b>default</b>, primary, secondary<br/>
iconClass<br/>
iconPosition: <b>first</b>, last, top, bottom<br/>
iconUrl<br/>
customClass<br/>
customStyle<br/>
checkboxPosition: <b>left</b>, right<br/>
hAlignLabel: left, right, <b>center</b><br/>
vAlignLabel: top, bottom, <b>middle</b><br/>
