<h1>Common attributes: <strong>receiveStateShowPulse</strong> and <strong>receiveStateHidePulse</strong></h1>
<br/>
<p>
    If the element with these attributes is already visible when triggering a pulse for <strong>receiveStateShowPulse</strong>, this will have no effect.
    <br/>
    Otherwise, the element will become visible.
    <br/><br/>
    If the element is not visible when triggering a pulse for <strong>receiveStateHidePulse</strong>, this will have no effect.
    <br/>
    Otherwise, the element will become invisible.
</p>