---
title: "ch5-video: receivestateurl"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-video/receive-state-url/','ex1') %}{% endcall %}

{% endblock %}
