---
title: "ch5-button: customClass, receiveStateCustomClass"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% set scenario1 -%}
        {%- include "./emulator-scenarios/scenario-ch5-button-custom-class.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}


    {% call exampleSectionFromPartials('ch5-button/common-custom-class/','ex1') %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-button/common-custom-class/','ex2') %}{% endcall %}

{% endblock %}