---
title: "ch5-button styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>CSS Class</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ch5-button</td>
        <td>Main class</td>
    </tr>
    <tr>
        <td>ch5-button--label</td>
        <td>Applied on label</td>
    </tr>
    <tr>
        <td>ch5-button--icon</td>
        <td>Applied on icons</td>
    </tr>
    <tr>
        <td>ch5-button--img</td>
        <td>Applied on images</td>
    </tr>
    <tr>
        <td>ch5-button--rectangle</td>
        <td>Applied when shape='rectangle'</td>
    </tr>
    <tr>
        <td>ch5-button--rounded-rectangle</td>
        <td>Applied when shape='rounded-rectangle'</td>
    </tr>
    <tr>
        <td>ch5-button--circle</td>
        <td>Applied when shape='circle'</td>
    </tr>
    <tr>
        <td>ch5-button--oval</td>
        <td>Applied when shape='oval'</td>
    </tr>
    <tr>
        <td>ch5-button--tab</td>
        <td>Applied when shape='tab'</td>
    </tr>
    <tr>
        <td>ch5-button--text</td>
        <td>Applied when type='text'</td>
    </tr>
    <tr>
        <td>ch5-button--danger</td>
        <td>Applied when type='danger'</td>
    </tr>
    <tr>
    <tr>
        <td>ch5-button--warning</td>
        <td>Applied when type='warning'</td>
    </tr>
    <tr>
        <td>ch5-button--info</td>
        <td>Applied when type='info'</td>
    </tr>
    <tr>
        <td>ch5-button--success</td>
        <td>Applied when type='success'</td>
    </tr>
    <tr>
        <td>ch5-button--default</td>
        <td>Default button</td>
    </tr>
    <tr>
        <td>ch5-button--primary</td>
        <td>Applied when type='primary'</td>
    </tr>
    <tr>
        <td>ch5-button--secondary</td>
        <td>Applied when type='secondary'</td>
    </tr>
    <tr>
        <td>ch5-button--selected</td>
        <td>Applied when selected signal is applied</td>
    </tr>
    <tr>
        <td>ch5-button--pressed</td>
        <td>Applied  between press and release events</td>
    </tr>
    <tr>
        <td>ch5-button--disabled</td>
        <td>Applied when the button is disabled</td>
    </tr>
    <tr>
        <td>ch5-button--stretch-width</td>
        <td>Applied to make the width as much as its parent allows.</td>
    </tr>
    <tr>
        <td>ch5-button--stretch-height</td>
        <td>Applied to make the height as much as its parent allows.</td>
    </tr>
    <tr>
        <td>ch5-button--stretch-both</td>
        <td>Applied to make both width and height as much as its parent allows.</td>
    </tr>
    <tr>
        <td>ch5-button--vertical</td>
        <td>Vertical orientation</td>
    </tr>
    <tr>
        <td>ch5-button--horizontal</td>
        <td>Horizontal orientation</td>
    </tr>
    <tr>
        <td>ch5-button--size-x-small</td>
        <td> Applied when size="x-small"</td>
    </tr>
    <tr>
        <td>ch5-button--size-small</td>
        <td> Applied when size="small"</td>
    </tr>
    <tr>
        <td>ch5-button--size-large</td>
        <td> Applied when size="large"</td>
    </tr>
    <tr>
        <td>ch5-button--size-x-large</td>
        <td> Applied when size="x-large"</td>
    </tr>
    </tbody>
</table>

{% endblock %}
