---
title: "ch5-button: orientation"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-button/orientation/','ex1') %}{% endcall %}

{% endblock %}