---
title: "ch5-button: multi-mode ch5-button-label"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
    {% set scenario1 -%}
        {%- include "./emulator-scenarios/ch5-button/multimode-buttonlabel.json" %}
    {%- endset %}

    {% call exampleSectionFromPartials('ch5-button/multimode-buttonlabel/','ex1') %}{% endcall %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-button/multimode-buttonlabel/','ex2') %}{% endcall %}

{% endblock %}