---
title: "ch5-button: customClass, receiveStateCustomClass"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-button/playground/','ex1') %}{% endcall %}

{% endblock %}