---
title: "ch5-button: receiveStateSelected"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-button/selected/','ex1') %}{% endcall %}

    {% set scenario1 -%}
        {%- include "./emulator-scenarios/ch5-button/selected.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-button/selected/','ex2') %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-button/selected/','ex3') %}{% endcall %}

{% endblock %}