---
title: "ch5-button: events"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-button/events/','ex1') %}{% endcall %}

{% endblock %}