---
title: "ch5-button: iconClass, iconPosition, receiveStateIconClass"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
    {% set scenario1 -%}
        {%- include "./emulator-scenarios/scenario-ch5-button-icon-class.json" %}
    {%- endset %}

    {% call exampleSectionFromPartials('ch5-button/icons/','ex1') %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-button/icons/','ex2') %}{% endcall %}
    
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-button/icons/','ex3') %}{% endcall %}


{% endblock %}