---
title: "ch5-button in gestureable container"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-button/gestureable-container/','ex1') %}{% endcall %}

{% endblock %}