---
title: "ch5-button: sendEventOnClick, sendEventOnTouch"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-button/send-on-click-touch/','ex1') %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-button/send-on-click-touch/','ex2') %}{% endcall %}

{% endblock %}