<strong>resize</strong> attribute:<br />
will override the width of the wrapper element with width=auto.<br />
the spinner below has a width defined in css, but this attribute overrides the defined css width. <br />
to see the effect you can remove the <strong>resize</strong> attribute in code section