<strong>resize</strong> attribute:<br />
Overrides the width of the wrapper element with width=auto.<br />
The spinner below has a width defined in CSS, but this attribute overrides the defined CSS width. <br />
To see this effect, remove the <strong>resize</strong> attribute in code section.