<h1>ch5-slider stretch</h1>
<p>Valid Values: 'width', 'height', 'both'. When the stretch property is set, the slider inherits the width and/or height of the container.</p>
<p>The default value is 'both'.</p>