<ch5-image
    alt="Backyard image"
    height="200px"
    width="300px"
    url="//wrong-url-that-triggers-an-error"
    sendEventOnError="image_error"
    receiveStateUrl="receive_image_url">
</ch5-image>