<h1><b>sendEventOnError</b> attribute</h1>
<p>
   Open the browser console to see when an error occurs while loading the image url, an error string is sent through a
   signal named image_error. This will trigger a change in <b>receive_image_url</b> to  "http://via.placeholder.com/350x150"
   ( See Emulator section above )
</p>
