---
title: "ch5-import-htmlsnippet: receiveStateHidepulse"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
{% set scenario1 -%}
        {%- include "./emulator-scenarios/scenario-receive-state-hidepulse.json" %}

    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-import-htmlsnippet/receive-state-hidepulse/','ex1') %}{% endcall %}

{% endblock %}
