Every day we look for ways to improve product quality and increase MTBF (mean time between failures). Over the past year we have employed quality control experts from different industries, implemented new systems, and upgraded our processes. We simply won't settle for anything less than perfection.
