---
title: "ch5-import-htmlsnippet: url"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-import-htmlsnippet/url/','ex1') %}{% endcall %}

{% endblock %}
