ch5-button{
    padding: 5px 0;
}

.b-blue {
    border:3px solid blue;
}

.alarm-system {
    margin-bottom: 24px;
    padding: 16px;
}

.alarm-status {
    font-weight: bold;
    margin-left: 24px;
}

.blinking_red {
    color: red;
    animation: blinker 1s linear infinite;
}

.blinking_blue {
    color: blue;
    animation: blinker 1s linear infinite;
}

.disarmed {
    color: green;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.black {
    color: black;
}
