<h1>Vertical orientation</h1>
<p>The default value is 'horizontal'. Valid values: 'horizontal', 'vertical'. Positions the control elements in a horizontal or vertical orientation. For vertical alignment, it will apply a CSS class that will rotate the component 90 degrees (270 degrees clockwise, 90 degrees counter clockwise).</p>