<h1>Common attributes: <strong>receiveStateCustomClass</strong></h1>
<br/>
<p>
    Custom classes are received via signal.
    <br/>
    One or more classes can be set (separated by spaces).
    <br/>
    A change in the signal value will remove the previous value and then apply the next one.
</p>
<br/>
<p>
    <strong>See the CSS tab.</strong>
    <br/><br/>       
    Click the <i>Trigger1</i> and <i>Trigger2</i> buttons to change the class of the components having
    the <i>receiveStateCustomClass</i> attribute set.
</p>