.blue-dashed-border { 
    border: 2px dashed blue;
}

.background-1 {
    background: orange;
}

.green-dotted-border {
    border: 2px dotted green;
}

.background-2 {
    background: darkolivegreen;
}