<ch5-image
    alt="Backyard image"
    height="200px"
    width="300px"
    url="https://www.crestron.com/Crestron/media/Crestron/GeneralSiteImages/Featured%20Pages/Digital%20Media/point_to_point_tr.jpg"
    sendEventOnTouch="img_touch">
</ch5-image>