<h1><b>sendEventOnTouch</b> attribute</h1>
<p>Open the browser console to see that a signal named img_touched is sent when a touch event is triggered. 
The signal is reinforced to true every 500ms and is set to false when touchEnd or touchMove is detected.
The browser console should be switched to mobile mode in order to be able to simulate touch events.</p>
