<h1>data-ch5-showpulse</h1>
<p>In the following example, multiple HTML elements are given the same signal on data-ch5-showpulse and
    data-ch5-hidepulse with different
    data-ch5-no-show-type values.</p>
<p>When clicking the first button (Trigger visibility of standard HTML elements), the signal named <b>trigger_data_ch5_show_1</b>
    will change and it will toggle the <b>data_ch5_show_1</b> signal that
    controls the visibility of the elements.</p>
<p> When clicking the second button (Trigger hide of standard HTML elements) the signal named
    <b>trigger_data_ch5_hide_1</b>
    will change and it will toggle the <b>data_ch5_show_1</b> signal that
    controls the visibility of the elements.</p>
<p>When the data-ch5-no-show-type is set to 'remove', the element is detached from the DOM, but references to its parent
    and next sibling are kept.</p>
