{% raw %}
<h1>Utility function: unsubscribeStateScript </h1>
<p>unsubscribeStateScript(subKey:string)</p>
<p><b>subKey</b> is a string containing the subscription key returned by the subscribeStateScript function</p>
{% endraw %}