<h1>ch5-textinput <strong>change</strong> event</h1>
<p>Modify the text in the input field, then click outside the field to fire the change event. Open up the browser console to see that and as well the js tab.</p>
