<h1>ch5-textinput <strong>change</strong> event</h1>
<p>Modify the text in the input field, and then click outside the field to initiate the change event. Open up the browser console to confirm as well in the js tab.</p>
