<h1>Disable attribute</h1>
<br />
<p>
This is a standard HTML attribute, documented here to indicate that each Crestron Component must honor this attribute.<br>defaulted to false, this property will direct the component to change CSS and event listeners to reflect a disabled state when true.
</p>
