<ch5-button type="success" stretch="width" shape="rectangle" label="custom class in attribute" customClass="blue-dashed-border"></ch5-button>
<br/><br/>

<ch5-button type="success" stretch="width" shape="rectangle" label="custom class selected" customclassselected="btn-active"></ch5-button>
<br/><br/>

<ch5-button type="success" stretch="width" shape="rectangle" label="custom class pressed" customclasspressed="btn-pressed"></ch5-button>
<br/><br/>

<ch5-button type="success" stretch="width" shape="rectangle" label="custom class disabled" customclassdisabled="btn-disabled"></ch5-button>