<h1>Receiving custom css classes from a signal</h1>
<p>The signal can contain one css class or more ( separated by spaces )</p>
<p>Clicking the "trigger" buttons will change the value of the signal defined in the receiveStateCustomClass
    attribute of the last two buttons </p>

