<p>Open the browser console to see that when the handle is changing a signal named slider_value_on_change is sent with slide value.</p>

<ch5-slider
    value="25"
    step="25"  
    min="0"
    max="100"
    sendEventOnChange="slider1.change"
    receiveStateValue="slider1.value"
    >
</ch5-slider> 