<h1>ch5-modal-dialog closable</h1>
<p>Default value: false</p>
<p>If the closable attribute is present then a close icon will be displayed in the upper part of the modal</p>
<p>If the attribute is present and different from '0' or 'false' then it is considered to be 'true'</p>
