<div>
    <ch5-dpad type="success" shape="circle">
        <ch5-dpad-button key="center"></ch5-dpad-button>
        <ch5-dpad-button key="top" disabled></ch5-dpad-button>
        <ch5-dpad-button key="right"></ch5-dpad-button>
        <ch5-dpad-button key="left"></ch5-dpad-button>
        <ch5-dpad-button key="bottom" disabled></ch5-dpad-button>
    </ch5-dpad>
</div>
