<h1><b>afterload</b> event</h1>
<p>The afterload event occurs when a HTML snippet has been loaded and inserted into the DOM. Afterload is most often 
used within the ch5-import-htmlsnippet element to execute a script once an HTML snippet has completely loaded all content 
(including images, script files, CSS files, and so forth).</p>
