<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Ch5 Keypad: ContractName</h4>
        <ch5-keypad type="primary" ID="test1a" showExtraButton="true" shape="rounded-rectangle" contractname="LivingRoom.AppleTV">
        </ch5-keypad>
        <ch5-keypad type="default" ID="test1b" showExtraButton="true" shape="square" contractname="LivingRoom.AppleTV">
        </ch5-keypad>
        <ch5-keypad type="success" ID="test1b" showExtraButton="true" shape="circle" contractname="LivingRoom.AppleTV">
        </ch5-keypad>
    </div>
</div>
