<h1>ContractName attribute</h1>
<br />
<p>
    <b>contractname</b> attribute allows a developer to bind event clicks based on a contract.
    The value is referred to, and each child button is assigned with an incremental digit based on 
    the initial value passed as attribute value.
</p>

<br />
<p>
    If the  initial value of <b>contractname</b> is assigned as "LivingRoom.AppleTV" (digital join), 
    the events are bound on each child button as below:
</p>
<p>
	<b>ch5-keypad-child-button</b>  key="button1" sendeventonclick="LivingRoom.AppleTV.Press1"
	<br />
	<b>ch5-keypad-child-button</b>  key="button2" sendeventonclick="LivingRoom.AppleTV.Press2"
	<br />
	<b>ch5-keypad-child-button</b>  key="button3" sendeventonclick="LivingRoom.AppleTV.Press3"
	<br />
	<b>ch5-keypad-child-button</b>  key="button4" sendeventonclick="LivingRoom.AppleTV.Press4"
	<br />
	<b>ch5-keypad-child-button</b>  key="button5" sendeventonclick="LivingRoom.AppleTV.Press5"
	<br />
	<b>ch5-keypad-child-button</b>  key="button6" sendeventonclick="LivingRoom.AppleTV.Press6"
	<br />
	<b>ch5-keypad-child-button</b>  key="button7" sendeventonclick="LivingRoom.AppleTV.Press7"
	<br />
	<b>ch5-keypad-child-button</b>  key="button8" sendeventonclick="LivingRoom.AppleTV.Press8"
	<br />
	<b>ch5-keypad-child-button</b>  key="button9" sendeventonclick="LivingRoom.AppleTV.Press9"
	<br />
	<b>ch5-keypad-child-button</b>  key="button0" sendeventonclick="LivingRoom.AppleTV.Press0"
	<br />
	<b>ch5-keypad-child-button</b>  key="buttonstar" sendeventonclick="LivingRoom.AppleTV.PressStar"
	<br />
	<b>ch5-keypad-child-button</b>  key="buttonhash" sendeventonclick="LivingRoom.AppleTV.PressHash"
	<br />
	<b>ch5-keypad-child-button</b>  key="buttoncenter" sendeventonclick="LivingRoom.AppleTV.PressExtraButton"
</p>
