document.getElementById("change-to-ch5-show-3").addEventListener('click', function() {
     const e = document.getElementsByClassName('custom-dom-changes');
     for (let i = 0; i < e.length; i++) {
            e[i].setAttribute('data-ch5-show', 'data_ch5_show_2_2');
     }
});

 document.getElementById("remove-ch5-show").addEventListener('click', function() {
     const e = document.getElementsByClassName('custom-dom-changes');
     for (let i = 0; i < e.length; i++) {
            e[i].removeAttribute('data-ch5-show');
     }
});


 document.getElementById("add-ch5-show").addEventListener('click', function() {
     const e = document.getElementsByClassName('custom-dom-changes');
     for (let i = 0; i < e.length; i++) {
            e[i].setAttribute('data-ch5-show', 'data_ch5_show_2_1');
     }
});

document.getElementById("rem-ch5-show-el").addEventListener('click', function() {
     const e = document.getElementsByClassName('custom-dom-changes');
     for (let i = 0; i < e.length; i++) {
            e[i].remove();
            i--;
     }
});
