.editable-code {
  position: relative;
  margin: 0;
  width: 100%;

  &.ace_editor {
    font-size: 16px;
  }
}

/* fixes color conflict with bulma */
.message pre.ace-monokai {
  background-color: #272822;
}