{% raw %}
<ch5-spinner
  indexId="idx"
  label="item {{idx}}"
  receiveStateValue="receive_spinner_value"
  itemHeight="40"
  size="7"
></ch5-spinner>

<ch5-button
  sendEventOnClick="trig1"
  label="Select item 5"
  ></ch5-button>
  <ch5-button
  sendEventOnClick="trig2"
  label="Select item 3"
  ></ch5-button>
  {% endraw %}