<h1>useContractforShow attribute</h1>
<p>
    Possible values
    <b>true</b>,
    <b>false</b>,
</p>
<p>
    If this value is set to true then the value received from the contract will be considered to show / hide ch5-keypad tag.
    Default is 'true'.
</p>
