<p>Toggle the ch5 dpad between being <i>enabled</i> / <i>disabled</i>. While the dpad is disabled, no events
    will be triggered (pointer-events: none) and the opacity value is lowered.</p>
<ch5-button label="Click to change the toggle_enabled_or_disabled signal" sendEventOnClick="toggle_enabled_or_disabled"></ch5-button>

<ch5-dpad
        receiveStateEnable="set_enabled_or_disabled">
</ch5-dpad>
