<p>Possible values for the <i>orientation</i> attribute are: <b>horizontal</b> and <b>vertical</b>.</p>
<p>By <b>default</b>, if the <i>orientation</i> attribute is not provided, the list will be displayed vertically,
    equivalent to having
    <i>orientation="vertical"</i></p>
<p>The following example shows a horizontal list:</p>
