<h1>data-ch5-innerhtml</h1>
<p>
    The 'data-ch5-innerhtml' custom HTML attribute allows for dynamic HTML content to be applied to standard HTML
    elements such as "div". This is a very powerful construct that when used poorly can lead to functional
    and performance issues if used to inject badly formed HTML. The attribute value is signalScript as described in
    the ch5.subscribeStateScript utility function description.
</p>
<p>
    The value will be applied as described by the Element.innerHTML javascript API
    (https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML)
</p>
