<h1><b>URL</b> attribute</h1>
<p>This component allows the users to load the HTML snippets. The snippets should not contain HTML, HEAD and BODY tags. 
The users can modularize the HTML files into pages or sections using this component and it inserts the Snippet into the DOM at 
the respective place during run time. Cross-domain requests for snippets are not allowed under the browser’s same origin policy.</p>
