<p>See the JS tab for the code and browser console for messages</p>

<div>
    <ch5-button id="ex1-btn1" label="Btn1" ></ch5-button>
    Clicking this button will:<pre>
    - publish <b>true</b> on a boolean signal named ex1_b
    - publish <b>3</b> on a numeric signal named ex1_n
    - publish <b>New York</b> on a string signal named ex1_s
    {#- publish <b>{"key1":"val1"}</b> on an object signal named ex1_o#}
    </pre>
</div>
<div>
    <ch5-button id="ex1-btn2" label="Btn2" ></ch5-button>
    Clicking this button will:<pre>
    - publish <b>false</b> on a boolean signal named ex1_b
    - publish <b>11</b> on a numeric signal named ex1_n
    - publish <b>London</b> on a string signal named ex1_s
    {#- publish <b>{"key2":"val2"}</b> on an object signal named ex1_o#}
    </pre>
</div>

