{% raw %}
<ch5-button type="primary" label="Hide" 
        receiveStateSelected="data_ch5_show_1" 
        sendEventOnClick="trigger_data_ch5_show_1"></ch5-button>    
<ch5-import-htmlsnippet
    url="ch5-import-htmlsnippet/ch5-import-htmlsnippet-content.html" receivestatehidepulse="trigger_data_ch5_show_1">
</ch5-import-htmlsnippet>
{% endraw %}
