---
title: "ch5-jointotext: textWhenEmpty"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials %}

{% block content %}
        {% call exampleSectionFromPartials('ch5-jointotext-string/text-when-empty/','ex1') %}{% endcall %}
{% endblock %}