<h1>ch5-toggle iconOn|iconOff</h1><br>
<p>Allows icons to be defined for the on/off states of the ch5-toggle.</p>
<p>You can declare more than one CSS class in the iconOn|iconOff attribute.<br>
<p>
In this example, Font Awesome Icons were used, but other CSS classes can also be added.
</p>
