<h1>The example demonstrates the usage of Join Numbers as Signal Names for <strong>receiveStateSelected</strong>, 
<strong>receiveStateLabel</strong>, <strong>receiveStateScriptLabelHtml</strong> in CH5 Button component</h1>
<br/>
<div class="content">
    All <strong>receiveState*</strong> attributes are validated for Join Number and if validation passes the final subscription
    is made with a signal name that is prefixed with <strong>fb</strong> (ex: for the attribute value of 22, the final subscription name will be fb22).
</div>
