{% raw %}
    <h1>The following examples showcase the usage of join numbers as signal passed as {{idx}} next to the value of a
        state or event. </h1>
    <p>For a ch5-select / spinner / list, passing receiveStateUrl="301{{idx}}, for a size of 5 will generate the
        following values: 301, 302, 303, 304 and 305</p>
{% endraw %}
