/* covers both ch5-list and ch5-select-option, the first child (span) is for the list */
.green {
    color: green;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green span {
    color: green;
    background-color: white;
}

.red span{
    color: red;
    background-color: white;
}

.blue span{
    color: blue;
    background-color: white;
}
