<ch5-button label="Click to toggle the signal" sendEventOnClick="hall_lights_tap"></ch5-button>
<hr>
<div class="examples-wrapper">
{% raw %}
<h4><code>ch5-button</code></h4>
<h5>Enabled: </h5>
<ch5-button label="Enabled button" receiveStateEnable="hall_lights_selected"></ch5-button>
<hr/>
<h5>Disabled: </h5>
<ch5-button label="Disabled button" receiveStateEnable="hall_lights_selected" disabled></ch5-button>
<hr/>


<h4><code>ch5-list</code></h4>
<h5>Enabled: </h5>
<ch5-list id="demo-list-1"
        receiveStateEnable="hall_lights_selected"
        size="5"
        orientation="horizontal"
        indexId="idx">
    <template>
        <div class="horizontal-list-item">
            <span>item_{{idx}}</span>
        </div>
    </template>
</ch5-list>
<hr/>
<h5>Disabled: </h5>
<ch5-list id="demo-list-1"
        receiveStateEnable="hall_lights_selected"
        size="5"
        orientation="horizontal"
        indexId="idx"
        disabled>
    <template>
        <div class="horizontal-list-item">
            <span>item_{{idx}}</span>
        </div>
    </template>
</ch5-list>
<hr/>

<h4><code>ch5-image</code></h4>
<h5>Enabled: </h5>
<ch5-image
    receiveStateEnable="hall_lights_selected"
    url="https://www.crestron.com/Crestron/media/Crestron/GeneralSiteImages/Featured%20Pages/Digital%20Media/all-in-one.jpg"
    height="200px">
</ch5-image>
<hr/>
<h5>Disabled: </h5>
<ch5-image
    receiveStateEnable="hall_lights_selected"
    url="https://www.crestron.com/Crestron/media/Crestron/GeneralSiteImages/Featured%20Pages/Digital%20Media/all-in-one.jpg"
    height="200px"
    disabled>
</ch5-image>
<hr/>

<h4><code>ch5-select</code></h4>
<h5>Enabled: </h5>
<ch5-select minWidth="250px" maxWidth="350px" receiveStateEnable="hall_lights_selected"
            minHeight="36px"  maxHeight="48px"
            size="5" indexId="idx" noneSelectedPrompt="Select">
    <template>
        <ch5-select-option>
            <div>
                <span>item_{{idx}}</span>
            </div>
        </ch5-select-option>
    </template>
</ch5-select>
<hr/>
<h5>Disabled: </h5>
<ch5-select minWidth="250px" maxWidth="350px" receiveStateEnable="hall_lights_selected"
            minHeight="36px"  maxHeight="48px"
            size="5" indexId="idx" noneSelectedPrompt="Select" disabled>
    <template>
        <ch5-select-option>
            <div>
                <span>item_{{idx}}</span>
            </div>
        </ch5-select-option>
    </template>
</ch5-select>
<hr/>

<h4><code>ch5-slider</code></h4>
<h5>Enabled: </h5>
<ch5-slider receiveStateEnable="hall_lights_selected"></ch5-slider>
<hr/>
<h5>Disabled: </h5>
<ch5-slider disabled receiveStateEnable="hall_lights_selected"></ch5-slider>
<hr/>

<h4><code>ch5-textinput</code></h4>
<h5>Enabled: </h5>
<ch5-textinput placeholder="Name" receiveStateEnable="hall_lights_selected"></ch5-textinput>
<hr/>
<h5>Disabled: </h5>
<ch5-textinput placeholder="Name" disabled receiveStateEnable="hall_lights_selected"></ch5-textinput>
<hr/>

<h4><code>ch5-toggle</code></h4>
<h5>Enabled: </h5>
<ch5-toggle receiveStateEnable="hall_lights_selected"></ch5-toggle>
<hr/>
<h5>Disabled: </h5>
<ch5-toggle disabled receiveStateEnable="hall_lights_selected"></ch5-toggle>
<hr/>
{% endraw %}
</div>