function setLabelUsingJavascript() {
  document.getElementById("btn_receive_label").setLabel("New Label set using Javascript");
  document.getElementById("btn_receive_html_script_label").setLabel("New Label set using Javascript");
}
