.horizontal-list-item {
    display: table;
    width: 100%;
    height: 100%;
}
.horizontal-list-item span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.list-size-control{
    display: flex;
    justify-content: space-between;
    border: 1px solid #3273dc;
    padding: 15px;
}

.ch5-button .cb-btn {
    width: auto;
}