<p>
    Clicking this button will increment the signal for the list by 5
    <ch5-button label="Btn1" sendEventOnClick="trigV1"></ch5-button>
</p>

{% raw %}
<ch5-list size="10"
           orientation="vertical"
           indexId="idx"
           minWidth="150px"
           maxWidth="165px"
           minHeight="100px"
           maxHeight="150px"
           itemWidth="150px"
           itemHeight="75px"
           scrollbar="true"
           receiveStateSize="sigV1">
    <template>
        <div class="vertical-list-item">
            <span>item_{{idx}}</span>
        </div>
    </template>
</ch5-list>




{% endraw %}
