<h1>Common attributes: <strong>receiveStateShow</strong></h1>
<br/>
<p>
    A click on the trigger button will change the value for the <strong>hall_lights_tap</strong> signal 
    and toggle the visibility of the elements having the <strong>receiveStateShow</strong> attribute.
    <br/>
    Initially, the elements are hidden.
</p>