<h1>ch5-button: Events</h1>
<ul>
    <li> - press</li>
    <li> - click</li>
    <li> - release</li>
    <li> - focus</li>
    <li> - blur</li>
</ul>


<div class="row">
    <p>
        <strong>Note:</strong> Open inspector console to see events logs.
    </p>
</div>