var input = document.querySelector('ch5-textinput');
var submit = document.querySelector('#submit');
var reset = document.querySelector('#reset');
var dirty = document.querySelector('#dirty');
var form = document.querySelector('form');

form.onsubmit = function(e) {
    e.preventDefault();
}

submit.addEventListener('click', function() {
   console.log(input.submit()); 
});

reset.addEventListener('click', function() {
    input.reset();
})

dirty.addEventListener('click', function() {
    console.log(input.getDirty());
})









