{% raw %}
Media Player:
<br />
<ch5-button label="Loading...">
    <ch5-button-label>
        <template>
            <ch5-jointotext-boolean value="false" textWhenFalse="Paused"></ch5-jointotext-boolean>
        </template>
    </ch5-button-label>
</ch5-button>
{% endraw %}
