<h1>Send signal on touch</h1>
<p>Open the browser console to see that a signal named  <b>btn_touched</b> is sent when a touch event is triggered.
    The signal is reinforced to <i>true</i> every 200ms and is set to <i>false</i> when touchEnd or touchMove is detected.
</p>
<p>The browser console should be switched to mobile mode in order to be able to simulate touch events. </p>
