<h1>ch5-textinput <strong>keypress</strong> event</h1>
<p>The keypress event is fired when a key that produces a character value is pressed down. Open up the browser console to see that and as well the js tab.</p>
