<h1>ch5-textinput <strong>keypress</strong> event</h1>
<p>The keypress event is initiated when a key that produces a character value is pressed down. Open the browser console to confirm as well in the js tab.</p>
