<h1>ch5-triggerview activeView</h1>
<p>Default 0. Which view will be shown. 0-based index.</p>
<p class="has-text-danger">The correct value of activeView can be retrieved only with javascript getAttribute function</p>