<ch5-triggerview activeView="2" gestureable="true" endless="true">
    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>First View</h1>
        </div>
    </ch5-triggerview-child>

    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>Second View</h1>
        </div>
    </ch5-triggerview-child>

    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>Third View</h1>
        </div>
    </ch5-triggerview-child>

    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>4th View</h1>
        </div>
    </ch5-triggerview-child>

    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>5th View</h1>
        </div>
    </ch5-triggerview-child>

    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>6th View</h1>
        </div>
    </ch5-triggerview-child>

    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>7th View</h1>
        </div>
    </ch5-triggerview-child>

    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>8th View</h1>
        </div>
    </ch5-triggerview-child>
    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>9th View</h1>
        </div>
    </ch5-triggerview-child>
    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>10th View</h1>
        </div>
    </ch5-triggerview-child>
</ch5-triggerview>
