<div>
  <ch5-textinput
    placeholder="text-transform=none"
    sendeventonchange="ti.output_1"
    receivestatevalue="ti.input_1"
    text-transform="none"
  ></ch5-textinput>
</div>
<div>
  <ch5-textinput
    placeholder="text-transform=capitalize"
    sendeventonchange="ti.output_2"
    receivestatevalue="ti.input_2"
    text-transform="capitalize"
  ></ch5-textinput>
</div>
<div>
  <ch5-textinput
    placeholder="text-transform=uppercase"
    sendeventonchange="ti.output_3"
    receivestatevalue="ti.input_3"
    text-transform="uppercase"
  ></ch5-textinput>
</div>
<div>
  <ch5-textinput
    placeholder="TEXT-TRANSFORM=lowercase"
    sendeventonchange="ti.output_4"
    receivestatevalue="ti.input_4"
    text-transform="lowercase"
  ></ch5-textinput>
</div>