<h1>receiveStateExtraButtonShow attribute</h1>
<br />
<p>The boolean value of the signal determines if the dial button is seen by the user.
<br>Only applicable if contractName is not provided as a parameter.<br>
Overwrites the showExtraButton attribute.
 </p>