<ch5-button stretch="width" label="trigger change in signal" sendEventOnClick="extra_button_tap"></ch5-button>
<hr>

<ch5-keypad showExtraButton="true" type="primary" receiveStateExtraButtonShow="extra_button_state"></ch5-keypad>
<br>
<ch5-keypad showExtraButton="false" type="primary" receiveStateExtraButtonShow="extra_button_state"></ch5-keypad>
<br>
<ch5-keypad type="primary" receiveStateExtraButtonShow="extra_button_state"></ch5-keypad>
