<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Stretch: Height</h4>
    </div>
    <div class="ch5-keypad-container1">
        <ch5-keypad showExtraButton="true" type="success" shape="rounded-rectangle" stretch="height"></ch5-keypad>
    </div>
    <div class="ch5-keypad-container1">
        <ch5-keypad showExtraButton="true" type="warning" shape="square" stretch="height"></ch5-keypad>
    </div>
    <div class="ch5-keypad-container1">
        <ch5-keypad showExtraButton="true" type="warning" shape="circle" stretch="height"></ch5-keypad>
    </div>
</div>
