<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Stretch: Width</h4>
    </div>
    <div class="ch5-keypad-container2">
        <ch5-keypad showExtraButton="true" type="success" shape="rounded-rectangle" stretch="width"></ch5-keypad>
    </div>
    <div class="ch5-keypad-container2">
        <ch5-keypad showExtraButton="true" type="warning" shape="square" stretch="width"></ch5-keypad>
    </div>
    <div class="ch5-keypad-container2">
        <ch5-keypad showExtraButton="true" type="warning" shape="circle" stretch="width"></ch5-keypad>
    </div>
</div>
