<h1>Stretch attribute: Both</h1>
<br />
<p>When the stretch attribute is set to both, the ch5-dpad stretches in both width and height, as much as its parrent
allows.</p>
<br />
<p><b>Note:</b> Parent container has to be set a fixed height and width to see the expected behaviour</p>