<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Default value: top</h4>
        <ch5-keypad textOrientation="top"></ch5-keypad>
    </div>
    
    <div style="margin: 10px 0 20px 0">
        <h4>Right</h4>
        <ch5-keypad textOrientation="right"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Left</h4>
        <ch5-keypad textOrientation="left"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Bottom</h4>
        ch5-keypad textOrientation="bottom"></ch5-keypad>
    </div>
</div>