Play with the multi language select to see how changing language it actually work. <br />
Components use the <strong>i18next</strong> interface to make the translations. <br />
Please check the <strong>js</strong> to see how this it is working