Try multi-language options to see how the language change works.<br />
Components use the <strong>i18next</strong> interface to make the translations. <br />
The JS code will help you to understand on how it is implemented.
