<ch5-button stretch="width" label="trigger change in signal" sendEventOnClick="hall_lights_tap"></ch5-button>
<hr>

<ch5-keypad showExtraButton="true" type="primary" shape="rounded-rectangle"  
    noshowType="remove" receiveStateShow="hall_lights_selected"></ch5-keypad>

<br /><br />

<ch5-keypad showExtraButton="true" type="primary" shape="rounded-rectangle" 
    noshowType="display" receiveStateShow="hall_lights_selected"></ch5-keypad>

<br /><br />

<ch5-keypad showExtraButton="true" type="primary" shape="rounded-rectangle" 
    noshowType="visibility" receiveStateShow="hall_lights_selected"></ch5-keypad>
