<div style="height: 320px;">
    <ch5-background refreshrate="10" receivestatebackgroundcolor="receive_background_color"></ch5-background>
</div>
<br>
<ch5-button label="Send multiple background" sendEventOnClick="send_background_color"></ch5-button>