<h1>attribute: mask</h1>
<p>Default value: false. If true applies default style for the background mask ( or the style found in <b>maskStyle</b>
    if defined)</p>
<p>If the attribute is present and different from '0' or 'false' then it is considered to be 'true'</p>