{% raw %}
    <p>
        Changes the value of the string signal temperature_in_city to "37 degrees Celsius"
        <ch5-button sendEventOnClick="trigger_1" label="T1"></ch5-button>
    </p>
    <p>
        Changes the value of the string signal temperature_in_city to "20 degrees Celsius"
        <ch5-button sendEventOnClick="trigger_2" label="T2"></ch5-button>
    </p>

    <div id="textcontent-el-1" class="b-red"
         data-ch5-textcontent="temperature_in_city">
        DIV: Testing data-ch5-textcontent
    </div>
{% endraw %}

