<ch5-button type="success" shape="rounded-rectangle" label="rounded rectangle"></ch5-button>
<ch5-button type="success" shape="rectangle" label="rectangle"></ch5-button>
<ch5-button type="success" shape="tab" label="tab"></ch5-button>
<ch5-button type="success" shape="circle" label="circle"></ch5-button>
<ch5-button type="success" shape="oval" label="oval"></ch5-button>
