<div class="class-div">
    <h4>regular (default)</h4>
    <ch5-keypad size="regular" shape="square"></ch5-keypad>
    <ch5-keypad size="regular" shape="circle"></ch5-keypad>
</div>

<div class="class-div">
    <h4>x-small</h4>
    <ch5-keypad type="warning" shape="square" size="x-small"></ch5-keypad>
    <ch5-keypad type="warning" shape="circle" size="x-small"></ch5-keypad>
</div>

<div class="class-div">
    <h4>small</h4>
    <ch5-keypad type="danger" shape="square" size="small"></ch5-keypad>
    <ch5-keypad type="danger" shape="circle" size="small"></ch5-keypad>
</div>

<div class="class-div">
    <h4>large</h4>
    <ch5-keypad type="info" shape="square" size="large"></ch5-keypad>
    <ch5-keypad type="info" shape="circle" size="large"></ch5-keypad>
</div>

<div class="class-div">
    <h4>x-large</h4>
    <ch5-keypad type="text" shape="square" size="x-large"></ch5-keypad>
    <ch5-keypad type="text" shape="circle" size="x-large"></ch5-keypad>
</div>