<h1><b>receiveStatePlay</b> event</h1>
<p>when defined, will play video only when the value is true, will stop video when value is false. If not defined, the video will play whenever the component is visible.  If defined and value of false, display background of ch5-video--nosource css class.</p>
