<h1>data-ch5-appendstyle</h1>
<p>
    The 'data-ch5-appendstyle' custom HTML attribute appends the value of a signal to the 'style' attribute on a
    standard HTML element. A change in the value of the signal will remove the prior value of the signal and append
    the new value.
</p>

