<div style="height: 320px;">
    <ch5-background refreshrate="10" scale="fill" receivestateurl="receive_background_url"></ch5-background>
</div>
<br>
<ch5-button label="Send multiple background" sendEventOnClick="send_background_url"></ch5-button>