{% raw %}
    <h1>Utility function: subscribeState </h1>
    <p>subscribeState(signalType:string, signalName:string, callback:Function, errCalback:Function):string</p>
    <p><b>signalType</b> - a string with the type of the signal valid values: "boolean" | "b" | "number" | "numeric" |
        "n" | "string" | "s" | "object" | "o"</p>
    <p><b>signalName</b> - a string with the name of the signal </p>
    <p><b>callback</b> - the callback function that will be called on the signal change. Receives one parameter, which is the new value
        of the signal.</p>
    <p><b>errCallback</b> - the callback function that will be called on error.</p>
    <p>Returns a string - the subscription id</p>
{% endraw %}
