<h1><b>receiveStateSourceType</b> event</h1>
<p>provides the video source type when the selection changes to INDEX value. See description of INDEX in receiveStateURL. Enumerated values are “Network”, “HDMI”, and “DM”.</p>
