---
title: "Common attributes: appendClassWhenInViewport"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection, componentConfigurationSection %}

{% block content %}

    {% call exampleSectionFromPartials('common-attributes/append-class-when-in-viewport/','ex1', true) %}{% endcall %}

{% endblock %}