---
title: "Common attributes: receiveStateCustomClass"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection, componentConfigurationSection %}

{% block content %}

    {% set scenario1 -%}
        {%- include "./emulator-scenarios/common-attributes/receive-state-custom-class.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}


    {% call exampleSectionFromPartials('common-attributes/receive-state-custom-class/','ex1', true) %}{% endcall %}

{% endblock %}