<div>
    <p>
        Clicking this button will change the value of the signal <b>receive_html_script_label</b> ( See Emulator section above )
        <br />
        <ch5-button type="info" stretch="width" sendEventOnClick="trig1" label="Btn - emulator"></ch5-button>
    </p>
</div>


<ch5-toggle
    label="receiveStateScriptLabelHTML"
    labelOn="On"
    labelOff="Off"    
    receiveStateScriptLabelHtml="receive_html_script_label">
</ch5-toggle>
