<h1><b>receiveStateScriptLabelHTML</b> attribute</h1>
<p>The value of the <b>receiveStateScriptLabelHTML</b> attribute is the name of a string signal. The signal should
    contain valid HTML. This HTML code will be placed in the label part of the ch5-toggle (see Emulator scenario).</p>
