{% raw %}
(function($, CrComLib){

    var code1El = $('#code1');
    var res1El = $('#res1');

    var city="New York";

    var res1Val = CrComLib.textformat('City: {1}',city);
    code1El.text("var city='New York';CrComLib.textformat('City: {1}',city);");
    res1El.text(res1Val);
    
})(jQuery,CrComLib);
{% endraw %}