{% raw %}
(function () {
    const code1El = document.getElementById('code1');
    const res1El = document.getElementById('res1');
    
    const city = 'New York';
    
    const res1Val = CrComLib.textformat('City: {1}',city);
    code1El.innerText = "const city='New York';CrComLib.textformat('City: {1}',city);";
    res1El.innerText = res1Val;
})()
{% endraw %}