<p>See the JS tab for the code</p>

<div class="mb">
    The result of <pre id="code1"></pre> is <code id="res1"></code>
</div>

<div class="mb">
    The result of <pre id="code2"></pre> is <code id="res2"></code>
</div>

<div class="mb">
    The result of <pre id="code3"></pre> is <code id="res3"></code>
</div>

