{% raw %}
<h1>Utility function textformat</h1>
<p>textformat(template:string,...args):string</p>
<p>
    <b>template</b> is a string that can contain placeholders in the form {n} where n is a number starting from 1.
</p>
<p>
    <b>...args</b> are the arguments that will replace the placeholders
</p>
{% endraw %}
