<h1>The example demonstrates the usage of join numbers as Signal names for <strong>receiveStateSelected</strong>, 
<strong>receiveStateLabel</strong>, and <strong>receiveStateScriptLabelHtml</strong> in the CH5 Button component.</h1>
<br/>
<div class="content">
    All <strong>receiveState*</strong> attributes are validated for join numbers and, if validation passes the final subscription,
    is made with a signal name that is prefixed with <strong>fb</strong> (Example: for the attribute value of 22, the final subscription name will be fb22).
</div>
