<h1>ch5-list: receiveStateTemplateVars</h1>
<p><b>receiveStateTemplateVars</b> contains the name of a string signal. The signal contains a JSON-encoded array of
    name/value objects, one per item created from the list template.</p>
<p>If the size of the list is larger than the entries from the array, then only the variables in from the first list items
will be replaced.</p>