<p>
    On the first load since the signal is not initilised the template vars are not replaced.
    Clicking this button will set the signal <b>sigV1</b> to a string containing a JSON array ( see the emulator section )
    <ch5-button label="Btn1" sendEventOnClick="trigV1"></ch5-button>
</p>

{% raw %}
<ch5-list size="5"
           orientation="vertical"
           indexId="idx"
           minWidth="150px"
           maxWidth="165px"
           minHeight="100px"
           maxHeight="150px"
           itemWidth="150px"
           itemHeight="75px"
           scrollbar="true"
           receiveStateTemplateVars="sigV1">
    <template>
        <div class="horizontal-list-item">
            <span class="{{cssClass}}">item_{{idx}} {{label}}</span>
        </div>
    </template>

</ch5-list>




{% endraw %}
