---
title: "ch5-background: repeat"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-background/repeat/','ex1') %}{% endcall %}
    
    {# example 2 #}
        {% call exampleSectionFromPartials('ch5-background/repeat/','ex2') %}{% endcall %}
    
    {# example 3 #}
        {% call exampleSectionFromPartials('ch5-background/repeat/','ex3') %}{% endcall %}
    
    {# example 4 #}
        {% call exampleSectionFromPartials('ch5-background/repeat/','ex4') %}{% endcall %}

{% endblock %}