---
title: "ch5-background: url"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-background/url/','ex1') %}{% endcall %}
    
    {# example 2 #}
        {% call exampleSectionFromPartials('ch5-background/url/','ex2') %}{% endcall %}

{% endblock %}