---
title: "ch5-background: refreshRate"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-background/refresh-rate/','ex1') %}{% endcall %}

{% endblock %}