---
title: "ch5-background: receiveStateRefreshRate"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% set scenario1 -%}
        {%- include "./emulator-scenarios/scenario-ch5-background-receive-signal-refresh-rate.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

{# example 1 #}
    {% call exampleSectionFromPartials('ch5-background/receive-refresh-rate/','ex1') %}{% endcall %}

{% endblock %}