---
title: "ch5-background: imgBackgroundColor"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-background/img-background-color/','ex1') %}{% endcall %}

{% endblock %}