<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Default</h4>
        <ch5-keypad showExtraButton="true" type="default" shape="rounded-rectangle"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="default" shape="square"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="default" shape="circle"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Warning</h4>
        <ch5-keypad showExtraButton="true" type="warning" shape="rounded-rectangle"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="warning" shape="square"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="warning" shape="circle"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Danger</h4>
        <ch5-keypad showExtraButton="true" type="danger" shape="rounded-rectangle"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="danger" shape="square"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="danger" shape="circle"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Info</h4>
        <ch5-keypad showExtraButton="true" type="info" shape="rounded-rectangle"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="info" shape="square"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="info" shape="circle"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Text</h4>
        <ch5-keypad showExtraButton="true" type="text" shape="rounded-rectangle"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="text" shape="square"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="text" shape="circle"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Success</h4>
        <ch5-keypad showExtraButton="true" type="success" shape="rounded-rectangle"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="success" shape="square"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="success" shape="circle"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Primary</h4>
        <ch5-keypad showExtraButton="true" type="primary" shape="rounded-rectangle"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="primary" shape="square"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="primary" shape="circle"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Secondary</h4>
        <ch5-keypad showExtraButton="true" type="secondary" shape="rounded-rectangle"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="secondary" shape="square"></ch5-keypad>
        <ch5-keypad showExtraButton="true" type="secondary" shape="circle"></ch5-keypad>
    </div>
</div>
