<div class="class-div">
    <h4>rounded-rectangle w/o extra button</h4>
    <ch5-keypad showExtraButton="false" type="default" shape="rounded-rectangle"></ch5-keypad>
</div>
<div class="class-div">
    <h4>square w/o extra button</h4>
    <ch5-keypad showExtraButton="false" type="warning" shape="square"></ch5-keypad>
</div>
<div class="class-div">
    <h4>circle w/o extra button</h4>
    <ch5-keypad showExtraButton="false" type="info" shape="circle"></ch5-keypad>
</div>
<div class="class-div">
    <h4>rounded-rectangle with extra button</h4>
    <ch5-keypad showExtraButton="true" type="text" shape="rounded-rectangle"></ch5-keypad>
</div>
<div class="class-div">
    <h4>square with extra button</h4>
    <ch5-keypad showExtraButton="true" type="primary" shape="square"></ch5-keypad>
</div>
<div class="class-div">
    <h4>circle with extra button</h4>
    <ch5-keypad showExtraButton="true" type="success" shape="circle"></ch5-keypad>
</div>