<h1>Type attribute</h1>: 
    Possible values are
    <b>danger</b>,
    <b>text</b>,
    <b>warning</b>,
    <b>info</b>,
    <b>success</b>,
    <b>default</b>,
    <b>primary</b>,
    <b>secondary</b>
<br/>
<p>
    Overrides the appearance of each of the buttons inside the component with alternative CSS defined in classes defined with ch5-keypad--type
    where type is the value of the property.   If no "type" is provided, the type of 'default' is used.
</p>
