.blue-dashed-border {
    border: 3px dashed blue;
}

.btn-active {
    background-color: blue;
}

.btn-pressed {
    background-color: red;
}

.btn-disabled {
    background-color: gray;
    pointer-events: none;
}
