.blue-dashed-border {
    border: 3px dashed blue;
}

.btn-active {
    background-color: blue;
}

.btn-pressed {
    background-color: red;
}

.btn-disabled {
    background-color: gray;
    pointer-events: none;
}

.ch5-dpad-container1{
    width: 300px; 
    height: 200px;
    
}