<ch5-dpad type="success" stretch="width" shape="plus" customClass="blue-dashed-border"></ch5-dpad>
<br/>

<ch5-dpad type="success" stretch="width" shape="circle" label="custom class selected" customclassselected="btn-active"></ch5-dpad>
<br/><br/>

<ch5-dpad type="success" stretch="width" shape="plus" label="custom class pressed" customclasspressed="btn-pressed"></ch5-dpad>
<br/><br/>

<ch5-dpad type="success" stretch="width" shape="circle" label="custom class disabled" customclassdisabled="btn-disabled"></ch5-dpad>