<ch5-dpad type="success" stretch="width" shape="plus" customClass="blue-dashed-border"></ch5-dpad>
<br/>

<ch5-dpad type="success" stretch="width" shape="circle" customclassselected="btn-active"></ch5-dpad>
<br/><br/>

<ch5-dpad type="success" stretch="width" shape="plus" customclasspressed="btn-pressed"></ch5-dpad>
<br/><br/>

<ch5-dpad type="success" stretch="width" shape="circle" customclassdisabled="btn-disabled"></ch5-dpad>