<h1>Receiving custom CSS classes from a signal</h1>
<p>The signal can contain one or more CSS classes (separated by spaces)</p>
<p>Clicking the "trigger" buttons will change the value of the signal defined in the <b>receiveStateCustomClass</b>
    attribute of the last two buttons.</p>

