<p>
    This example demonstrates the usage and functionality of the <strong>sendEventOnChange</strong> and <strong>receiveStateValue</strong> signals.
    <br/><br/>
    The attribute <strong>feedbackMode</strong> must be set to <strong>submit</strong> so that the <i>submit, reset, and getDirty</i> methods work as expected.
</p>