<p>Toggle the image between being <i>enabled</i> / <i>disabled</i>. While the image is disabled click / touch events
    will not be triggered (pointer-events: none) and the opacity value is lowered.</p>
<ch5-button label="Click to change the toggle_enabled_or_disabled signal" sendEventOnClick="toggle_enabled_or_disabled"></ch5-button>
<p>The image below is initially disabled via the <b>'disabled'</b> attribute.</p>
<ch5-image
        disabled
        receiveStateEnable="set_enabled_or_disabled"
        alt="Backyard image"
        height="200px"
        width="300px"
        url="https://www.crestron.com/Crestron/media/Crestron/GeneralSiteImages/Featured%20Pages/Digital%20Media/point_to_point_tr.jpg"
        sendEventOnClick="trig1"
        receiveStateUrl="receive_image_url">
</ch5-image>
