<h1>ch5-triggerview-child receiveStateShow</h1>
<p>In case the value of this is true, it will tell the parent component ( trigger view) to hide all the other childview and show this one.</p> 
<p class="has-text-danger">When using "show" attribute, ch5-triggerview-child "noShowType" attribute value is predefined with 'visibility' and can't be changed, otherwise calculations for showing next or previous triggerview-child will fall</p>