<h1>ch5-triggerview-child receiveStateShow</h1>
<p>When the value of this is true, it will tell the parent component (trigger view) to hide all the other viewChilds and to show this one.</p> 
<p class="has-text-danger">When using "show" attribute, the ch5-triggerview-child "noShowType" attribute value is predefined with 'visibility' and cannot be changed, otherwise calculations for showing the next or previous triggerview-child will fail.</p>