<h1><b>imgBackgroundColor</b> attribute</h1>
<p>Related to the scale attribute having value of fit this attribute defines the color of the pillarbox or
letterbox borders when image aspect ratio is not the same of the component aspect ratio.</p>
<p>Default color is black.</p>