<div>
    <ch5-keypad showExtraButton="true">
        <ch5-keypad-child-button key="button1"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button2"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button3"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button4"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button5"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button6"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button7"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button8"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button9"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="button0"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="buttonstar"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="buttonhash"></ch5-keypad-child-button>
        <ch5-keypad-child-button key="buttoncenter" iconClass="fas fa-user"></ch5-keypad-child-button>
    </ch5-keypad>
</div>
