<h1>UseContractForShow attribute</h1>: 
    Possible values are
    <b>true</b>,
    <b>false</b>
    <p>The default value is false.</p>
    <p>If this value is set to true then the value received from the contract will be considered to show / hide `ch5-dpad` tag.
    The names from the contract will be different for each of the buttons and the overall `ch5-dpad` component. The <b>contractName</b> attribute's default value is empty, making the default value for <b>useContractForShow</b> as false</p>
