<h1><b>refreshRate</b> attribute</h1>
<p>The number of seconds between each refresh. If 0, refresh will not occur.</p>
<p>If the show attribute is <b>false</b>, then no refreshes/requests will be done until it changes to <b>true</b></p>
<p>The requests can be seen in the browser console. The <b>debug</b> attribute allows additional info
to be shown in the console</p>
<p>When the status of the show attribute changes from false to true, the URL is requested again, which ensures that the image
    is not outdated.</p>
