.content + .content {
    margin-top: 36px;
}
#target {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    min-height: 68px;
    border: 1px solid blue;
    border-radius: 2px;
    background-color: #f7f7f7;
}

#inputValueForPublishBtn {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #c6c8ca;
    border-radius: 2px;
}
#inputValueForPublishBtn.error {
    border: 1px solid #ff0000;
}

.info {
    display: block;
    font-size: 14px;
    margin: 8px 0;
}

#sig_value {
    border: 1px solid #c6c8ca;
    padding: 4px;
    border-radius: 2px;
    background-color: #f7f7f7;
}

.flex-wrapper-centered-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.example-section {
    margin: 0 10px 0 0;
}
