<div class="flex-wrapper">
    <ch5-textinput
            receiveStateValue="btn_receive_value"
            placeholder="Receive input value via receiveStateValue">
    </ch5-textinput>
    <ch5-button
            type="info"
            sendEventOnClick="trig1"
            label="Trigger value for input">
    </ch5-button>
</div>

