<h1><b>receiveStateShow</b> attribute</h1>
<p>In case the value of this is true, it will tell the parent component (trigger view) to hide all the other childviews and show this one.</p>
<p style="color:#ff0000;">When using "show" attribute, the ch5-triggerview-child "noShowType" attribute value is predefined with 'visibility' and can't be changed, otherwise calculations for showing the next or previous triggerview-child will fail.</p>
