---
title: "ch5-select styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>SASS variable</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>$ch5-select-border-color</td>
                <td>component border color</td>
            </tr>
            <tr>
                <td>$ch5-select-font-color</td>
                <td>component main font color</td>
            </tr>

            <tr>
                <td>$ch5-select-panel-item-selected-background-color</td>
                <td>selected item background color</td>
            </tr>
            <tr>
                <td>$ch5-select-panel-item-border-color</td>
                <td>item border color</td>
            </tr>
            <tr>
                <td>$ch5-select-panel-item-color</td>
                <td>item main text color</td>
            </tr>
            <tr>
                <td>$ch5-select-panel-item-background-color</td>
                <td>item background color</td>
            </tr>
            <tr>
                <td>$ch5-select-panel-item-hover-background-color</td>
                <td>item background color on mouse over</td>
            </tr>
            <tr>
                <td>$ch5-select-panel-items-background-color</td>
                <td>select panel background color</td>
            </tr>
            <tr>
                <td>$ch5-select-font-size-unit</td>
                <td>component main font size unit</td>
            </tr>
            <tr>
                <td>$ch5-select-font-size-value</td>
                <td>component main font size value</td>
            </tr>
            <tr>
                <td>$ch5-select-font-size</td>
                <td>component main font size</td>
            </tr>
            <tr>
                <td>$ch5-select-font-style</td>
                <td>component main font style</td>
            </tr>
            <tr>
                <td>$ch5-select-font-weight</td>
                <td>component main font weight</td>
            </tr>
            <tr>
                <td>$ch5-select-padding</td>
                <td>top line content padding</td>
            </tr>
            <tr>
                <td>$ch5-select-border-width</td>
                <td>component border width</td>
            </tr>
            <tr>
                <td>$ch5-select-border-radius</td>
                <td>component border radius</td>
            </tr>
            <tr>
                <td>$ch5-select-combo-trigger-margin</td>
                <td>combo trigger button margin</td>
            </tr>
            <tr>
                <td>$ch5-select-combo-trigger-width</td>
                <td>combo trigger button width</td>
            </tr>
            <tr>
                <td>$ch5-select-combo-trigger-height</td>
                <td>combo trigger button height</td>
            </tr>
            <tr>
                <td>$ch5-select-item-selected-width</td>
                <td>top line width</td>
            </tr>
            <tr>
                <td>$ch5-select-panel-item-border-width</td>
                <td>item border width</td>
            </tr>
            <tr>
                <td>$ch5-select-panel-item-padding</td>
                <td>item padding</td>
            </tr>
            <tr>
                <td>$ch5-select-panel-items-box-shadow</td>
                <td>select panel shadow</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
