---
title: "ch5-select common attributes: disabled, receiveStateEnable"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% set scenario1 -%}
        {%- include "./emulator-scenarios/scenario-ch5-common-enable-disable.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-select/common-disable-enable/','ex1') %}{% endcall %}

{% endblock %}
