---
title: "ch5-select: mode"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-select/mode/','ex1') %}{% endcall %}

{% endblock %}
