---
title: "ch5-select: template processing"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection, componentConfigurationSection %}

{% block content %}

    {% set scenario1 -%}
    {%- include "./emulator-scenarios/scenario-ch5-select-tmpl-proccessing-signals.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

    {% set configJson -%}
        {%- include "./partials/ch5-select/template-processing/config-tpl-vars.json" %}
    {%- endset %}
    {% call componentConfigurationSection(configJson) %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-select/template-processing/','ex1') %}{% endcall %}

{% endblock %}
