<form id="validityCheckForm">
    <ch5-textinput
            type="number"
            minValue="5"
            maxValue="10"
            feedbackMode="submit">
    </ch5-textinput>
    <input type="submit"/>
</form>
