<h1>ch5-textinput <strong>validitychange</strong> event</h1>
<p>This event is initiated up when the validity of the input is changed. Open the browser console to see the message
    and the JS panel for more details.</p>
<p>This will work only with <strong>feedbackMode='submit'</strong>.</p>
