<h1><b>backgroundColor</b> attribute</h1>
<p>When one or more background colors are used using the CSS background-color property
syntax including color names, #hex codes, rgb(), rgba(), hsl() and hsla().
Multiple colors can be provided separated by a | (vertical bar) to cycle colors based on the time defined.</p>
<p>This attribute is superseded by the url attribute.</p>