<h1><b>backgroundColor</b> attribute</h1>
<p>When one or more color of background using CSS background-color property
syntax including color names, #hex codes, rgb(), rgba(), hsl() and hsla().
Multiple colors can be provided separated by | (vertical bar) to have colors replaced based on time defined.</p>
<p>This attribute is superseded by the url attribute.</p>