<div style="height: 320px;">
    <ch5-background refreshrate="10" backgroundcolor="olive | #55efc4 | rgb(255,118,117) | rgba(253,203,110, 0.5) | hsl(339, 97.1%, 73.3%) | hsla(196, 7.0%, 41.8%, 1)"></ch5-background>
</div>