<ch5-button type="success" shape="rectangle" label="Icon First" iconClass="fas fa-arrow-alt-circle-left" iconPosition="first"></ch5-button>
<ch5-button type="success" shape="rectangle" label="Icon Last" iconClass="fas fa-arrow-right" iconPosition="last"></ch5-button>
<ch5-button type="success" shape="rectangle" label="Icon Top" iconClass="fas fa-battery-full" iconPosition="top"></ch5-button>
<ch5-button type="success" shape="rectangle" label="Icon Bottom" iconClass="fas fa-chevron-down" iconPosition="bottom"></ch5-button>
