---
title: "ch5-template with ch5-form"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
    {% call exampleSectionFromPartials('ch5-template/other-elements/ch5-form/','ex1') %}{% endcall %}
{% endblock %}
