<ch5-button stretch="width" label="trigger change in signal" sendEventOnClick="hall_lights_tap"></ch5-button>
<hr>

<ch5-button type="success" stretch="width" shape="rectangle" label="noShowType is remove" noshowType="remove" receiveStateShow="hall_lights_selected"></ch5-button>

<br /><br />

<ch5-button type="success" stretch="width" shape="rectangle" label="noShowType is display" noshowType="display" receiveStateShow="hall_lights_selected"></ch5-button>

<br /><br />

<ch5-button type="success" stretch="width" shape="rectangle" label="noShowType is visibility" noshowType="visibility" receiveStateShow="hall_lights_selected"></ch5-button>
