<ch5-button label="trigger pulse (to show)" sendEventOnClick="sig_pulse_show"></ch5-button>

<ch5-button label="trigger pulse (to hide)" sendEventOnClick="sig_pulse_hide"></ch5-button>

<hr/>
<div style="border:1px solid red;">next is remove</div>
<ch5-button type="success" shape="rectangle" label="remove"
             noshowType="remove"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-button>
<div style="border:1px solid red;">next is display</div>
<ch5-button type="success" shape="rectangle" label="none"
             noshowType="display"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-button>
<div style="border:1px solid red;">next is visibility</div>
<ch5-button type="success" shape="rectangle" label="visibility"
             noshowType="visibility"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-button>
<div style="border:1px solid red;height:20px;width:20px;"></div>
