<ch5-button stretch="width" label="trigger pulse (to show)" sendEventOnClick="sig_pulse_show"></ch5-button>
<br /><br />
<ch5-button stretch="width" label="trigger pulse (to hide)" sendEventOnClick="sig_pulse_hide"></ch5-button>

<hr/>

<ch5-button type="success" stretch="width" shape="rectangle" label="noshowType is remove"
             noshowType="remove"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-button>
<br /><br />

<ch5-button type="success" stretch="width" shape="rectangle" label="noshowType is display"
             noshowType="display"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-button>
<br /><br />

<ch5-button type="success" stretch="width" shape="rectangle" label="noshowType is visibility"
             noshowType="visibility"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-button>
