<ch5-button label="toggle show" sendEventOnClick="toggle_btn_visibility"></ch5-button>
<hr>
<ch5-button debug type="success" shape="rectangle" label="Button that sends a signal when it becomes visible"
             noshowType="display" receiveStateShow="show_button" sendEventOnShow="button_shown"></ch5-button>
