<h1><b>refreshRate</b> attribute</h1>
<p>Number of seconds between each refresh. If 0, no refreshes will be done.</p>
<p>If the show attribute is <b>false</b> then no refreshes/requests will be done until it changes to <b>true</b></p>
<p>You can see in the browser console the requests being made. The <b>debug</b> attribute allows seeing additional info
in the console</p>
<p>When the status of the show attribute changes from false to true the url is requested again, this ensures that the image
    is not stale</p>
