<p>Clicking this button will change the <b>show</b> attribute  <button class="button is-info" id="btn1">Change the show attribute</button></p>

<ch5-image
    id="ex1-img"
    debug
    refreshRate="5"
    url="https://picsum.photos/200/300/?random">
</ch5-image>