<h1><b>refreshRate</b> attribute</h1>
<p>Number of seconds between each refresh. If 0, no refreshes will be done.</p>
<p>refresh calls will also stop if one of the ancestors of the ch5-image element is no longer being displayed by
    the browser. ( For an ancestor display:none or removal from DOM is considered as hidden, visibility:hidden is not )</p>