<h1><b>refreshRate</b> attribute</h1>
<p>The number of seconds between each refresh. If 0, refresh will not occur.</p>
<p>Refresh calls will also stop if one of the ancestors of the ch5-image element is no longer being displayed by
    the browser. (For an ancestor, display:none or removal from DOM is considered as hidden, while visibility:hidden is considered not hidden.)</p>