<h1>The <b>iconClass</b> attribute with Font Awesome icons and Material Icons</h1>
<p>You can declare more than one css class in the <b>iconClass</b> attribute</p>
<p>In this example Font Awesome and Material Icons were used, but other css classes can be added also.</p>
<p>Since on the ch5-button we can only control the classes that are added to the icon section, For Material icons,
    in order to be able to also add text inside the tags (<code>&lt;i class="material-icons"&gt;account_box&lt;/i&gt;</code>)
    We need to add css rules for the icons that we will be using. With the help of <b>:before</b> and <b>content</b>
    we are able to also use Material icons.
</p>
