<div>
    <p> With Font Awesome:</p>
    <div>
        <ch5-button type="success" shape="rectangle" label="Btn1" iconClass="fas fa-address-book"></ch5-button>
        <ch5-button type="success" shape="rectangle" label="Btn2" iconClass="fas fa-anchor"></ch5-button>
        <ch5-button type="success" shape="rectangle" label="Btn3" iconClass="fas fa-battery-full"></ch5-button>
        <ch5-button type="success" shape="rectangle" label="Btn4" iconClass="fab fa-bluetooth-b"></ch5-button>
        <ch5-button type="success" shape="rectangle" label="Btn5" iconClass="fab fa-twitter"></ch5-button>
    </div>
</div>
<br><br><br>
<div>
    <p> With Material Icons:</p>
    <div>
        <ch5-button type="success" shape="rectangle" label="Btn1" iconClass="material-icons md-alarm_on"></ch5-button>
        <ch5-button type="success" shape="rectangle" label="Btn2" iconClass="material-icons md-bookmark"></ch5-button>
        <ch5-button type="success" shape="rectangle" label="Btn3" iconClass="material-icons md-announcement"></ch5-button>
        <ch5-button type="success" shape="rectangle" label="Btn4" iconClass="material-icons md-account_box"></ch5-button>
        <ch5-button type="success" shape="rectangle" label="Btn5" iconClass="material-icons md-aspect_ratio"></ch5-button>
    </div>
</div>