<h1>The <b>iconPosition</b> attribute</h1>
<p>You can declare more than one css class in the iconClass attribute</p>
<p>In this example Font Awesome icons were used, but other css classes can be added also.</p>
