<div>
  <h3>The icon for the below button will be changed</h3>
  <ch5-button type="success" shape="rectangle" label="Font Icon" receivestateiconclass="current_icon"></ch5-button>
</div>
<br />
<div>
  <h5>Click on the button below in order to change the icon</h5>
  <ch5-button type="success" shape="rectangle" label="Address Book" iconClass="fas fa-address-book" sendeventonclick="trigger_icon_change_address"></ch5-button>
  <ch5-button type="success" shape="rectangle" label="Anchor" iconClass="fas fa-anchor" sendeventonclick="trigger_icon_change_anchor"></ch5-button>
</div>
