---
title: "ch5-form styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>SASS variable</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>$ch5-form-font-size</td>
        <td>set the default font size for the form </td>
    </tr>
    <tr>
        <td>$ch5-form-font-style</td>
        <td>set the default font style for the form </td>
    </tr>
    <tr>
        <td>$ch5-form-font-weight</td>
        <td>set the default font weight for the form </td>
    </tr>
    </tbody>
</table>

{% endblock %}
