---
title: "ch5-form: custom submit/cancel"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
    {% call exampleSectionFromPartials('ch5-form/custom-submit-cancel-buttons/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-form/custom-submit-cancel-buttons/','ex2') %}{% endcall %}

{% endblock %}
