---
title: "ch5-form: submitButtonStyle"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-form/style-submit/','ex1') %}{% endcall %}
        
{% endblock %}