---
title: "ch5-form: submitId"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-form/submitid/','ex1') %}{% endcall %}

{% endblock %}