{% raw %}
<div class="content">
    <h3>ch5-toggle</h3>
    <div>
        <h4>receiveStateValue="31"</h4>
        <ch5-toggle
            label="Alarm"
            labelOn="On"
            labeloff="Off"
            sendEventOnClick="31"
            receiveStateValue="31">
        </ch5-toggle>
    </div>
    <br/>
    <div>
        <h4>receiveStateScriptLabelHTML="32"</h4>
        <ch5-toggle
            label="receiveStateScriptLabelHTML"
            labelOn="On"
            labeloff="Off"
            receiveStateScriptLabelHtml="32">
        </ch5-toggle>
    </div>
</div>
{% endraw %}