---
title: "ch5-jointotext-boolean: textWhenTrue"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials %}

{% block content %}
        {% call exampleSectionFromPartials('ch5-jointotext-boolean/text-when-true/','ex1') %}{% endcall %}
{% endblock %}