<p>Click anywhere in this pane, then try tabbing through the elements.</p>

<ch5-toggle
    id="demo"
    label="Retina"
    labelOn="On"
    labelOff="Off"
    >
</ch5-toggle>

<br><br>

<ch5-toggle
    id="demo2"
    label="Microphone"
    labelOn="On"
    labelOff="Off"
    >
</ch5-toggle>
