<div class="btn_rec_label_container content">
    <p>
        Clicking this button will change the value of the signals <b>btn_receive_label</b> and <b>btn_receive_html_script_label</b> ( See Emulator section above )
        <ch5-button debug type="info" sendEventOnClick="trig1" label="Btn1 - emulator"></ch5-button>
    </p>
    <p>
        Clicking this button will change the value of the signals <b>btn_receive_label</b> and <b>btn_receive_html_script_label</b> ( See Emulator section above )
        <ch5-button type="info" sendEventOnClick="trig2" label="Btn2 - emulator"></ch5-button>
    </p>
</div>

<div class="btn-example-block">
    Button with receiveStateLabel attribute set to <b>btn_receive_label</b>
    <ch5-button type="success" shape="rectangle" label="ReceiveLabelFromSignal" receiveStateLabel="btn_receive_label"></ch5-button>
</div>

<div class="btn-example-block">
    Button with receiveStateLabel attribute set to <b>btn_receive_html_script_label</b>
    <ch5-button type="success" shape="rectangle" label="ReceiveHtmlScriptLabelFromSignal" receiveStateScriptLabelHtml="btn_receive_html_script_label"></ch5-button>
</div>
