<h1>The example demonstrates the usage of Join Numbers as Signal Names for <strong>receiveStateValue</strong>, 
<strong>receiveStateSize</strong>, <strong>receiveStateTemplateVars</strong>, <strong>receiveStateSelected</strong>,
<strong>receiveStateLabel</strong> in CH5 Select component</h1>