---
title: "ch5-slider styling"
---
{% extends "./layouts/default.njk" %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>CSS Class</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ch5-slider</td>
            <td>the class added on the component and wraps all its contents</td>
        </tr>
        <tr>
            <td>ch5-slider--pressed</td>
            <td>class apply when the slider is pressed</td>
        </tr>
        <tr>
            <td>ch5-slider--disabled</td>
            <td>class apply when the slider is disabled</td>
        </tr>
        <tr>
            <td>ch5-slider--shape--rounded-rectangle</td>
            <td>class apply when slider shape="rounded-rectangle" </td>
        </tr>
        <tr>
            <td>ch5-slider--shape--rectangle</td>
            <td>class apply when slider shape="rectangle" </td>
        </tr>
        <tr>
            <td>ch5-slider--shape--circle</td>
            <td>class apply when slider shape="circle" </td>
        </tr>
        <tr>
            <td>ch5-slider--shape--oval</td>
            <td>class apply when slider shape="oval" </td>
        </tr>
        <tr>
            <td>ch5-slider--orientation--horizontal</td>
            <td>class apply when slider orientation="horizontal" </td>
        </tr>
        <tr>
            <td>ch5-slider--orientation--vertical</td>
            <td>class apply when slider orientation="vertical" </td>
        </tr>
        </tbody>
    </table>

{% endblock %}