---
title: "ch5-slider: tapSettable"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-slider/tapsettable/','ex1') %}{% endcall %}
{% endblock %}