---
title: "ch5-slider: toolTipDisplayType"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-slider/tooltip-display-type/','ex1') %}{% endcall %}
{% endblock %}