.row {
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

.ch5-select .ch5-select__panel__item {
    color: #4a4a4a;
}

.ch5-select .ch5-select__panel__item > * {
    margin-right: 16px;
}



