<h1>ch5-select: single selection</h1>
<p>Attributes used:</p>
<ul>
    <li> - sendEventOnChange</li>
    <li> - ch5-select-option.sendEventOnClick</li>
    <li> - signalValueSyncTimeout (default 1500ms)</li>
    <li> - selectedValue (it will always contain the selected option index)</li>
    <li> - receiveStateValue</li>
    <li> - receiveStateSelected</li>
    <li> - custom change event fired when option selection has changed</li>
</ul>
