{% raw %}
(function($, CrComLib){
    $('.with-on-change').on('change', (e) => {
        console.log('[ShowcaseApp] ch5-select selectedValue has changed: ', e.detail);
    });
})(jQuery,CrComLib);
{% endraw %}
