---
title: "Utility function subscribeInViewportChange"
---

{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

{# example 1 #}
    {% call exampleSectionFromPartials('utility/subscribe-in-viewport-change/','ex1') %}{% endcall %}

{% endblock %}