---
title: "Utility function unsubscribeStateScript"
---

{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% set scenario1 -%}
        {%- include "./partials/utility/unsubscribe-signal-script/scenario-utility-unsubscribe-signal-script.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}


{# example 1 #}
    {% call exampleSectionFromPartials('utility/unsubscribe-signal-script/','ex1') %}{% endcall %}


{% endblock %}