---
title: "Utility function countNumberOfCh5Components"
---

{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

{# example 1 #}
    {% call exampleSectionFromPartials('utility/count-components/','ex1') %}{% endcall %}


{% endblock %}