<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Default - Top</h4>
        <ch5-keypad type="default"></ch5-keypad>
    </div>
    <div style="margin: 10px 0 20px 0">
        <h4>Bottom</h4>
        <ch5-keypad type="default" textorientation="bottom"></ch5-keypad>
    </div>
    <div style="margin: 10px 0 20px 0">
        <h4>Right</h4>
        <ch5-keypad type="default" textorientation="right"></ch5-keypad>
    </div>
    <div style="margin: 10px 0 20px 0">
        <h4>Left</h4>
        <ch5-keypad type="default" textorientation="left"></ch5-keypad>
    </div>
</div>
