<div style="height: 320px;">
    <ch5-background
        refreshrate="12"
        scale="fill"
        transitionduration="2s"
        url="https://picsum.photos/id/30/800/800 | https://picsum.photos/id/10/800/800 | https://picsum.photos/id/20/800/800">
    </ch5-background>
</div>