There are three states for &lt;ch5-button-mode-state&gt; and one child elements &lt;ch5-button-label&gt;<br /><br />
Attributes for ch5-button-mode-state are: <br />
type: danger, text, warning, info, success, <b>default</b>, primary, secondary<br/>
iconClass<br/>
iconPosition: <b>first</b>, last, top, bottom<br/>
iconUrl<br/>
customClass<br/>
customStyle<br/>
checkboxPosition: <b>left</b>, right<br/>
hAlignLabel: left, right, <b>center</b><br/>
vAlignLabel: top, bottom, <b>middle</b><br/>
state: <b>normal</b>, pressed, selected