<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Ch5 Dpad: UseContractForIcons</h4>
        <ch5-dpad type="default" ID="test1a" shape="plus" useContractForIcons="true">
        </ch5-dpad>
        <ch5-dpad type="success" ID="test1b" shape="circle" useContractForIcons="false">
        </ch5-dpad>
    </div>
</div>