<h1>UseContractForIcons attribute</h1>: 
    Possible values are
    <b>true</b>,
    <b>false</b>
    <p>The default value is false.</p>
    <p>If this value is set to true then the value received from the contract will be considered for remaining ch5-dpad button iconClass and iconUrl attributes. 
        The <b>contractName</b> attribute's default value is empty, making the default value for <b>useContractForIcons<b> as <i>false</i>.</p>
