<ch5-button label="Show modal" sendEventOnClick="sig_trig_show1"></ch5-button>
<hr>

<ch5-modal-dialog
        receiveStateShow="sig_show1"
        closable
        dismissable
>
    <p>Sample text</p>
    <ch5-image
            id="ex1-img"
            url="https://picsum.photos/200/300/?random">
    </ch5-image>
</ch5-modal-dialog>
