<ch5-button label="trigger pulse (to show)" sendEventOnClick="sig_trig_pulse2"></ch5-button>
<hr>

<ch5-modal-dialog
        receiveStateShowPulse="sig_trig_pulse2"
        closable
        dismissable
>
    <p>Sample text</p>
    <ch5-image
            id="ex2-img"
            url="https://picsum.photos/200/300/?random">
    </ch5-image>
</ch5-modal-dialog>
