<ch5-button label="trigger pulse (to show)"
             sendEventOnClick="sig_trig_show_pulse3"></ch5-button>
<ch5-button label="trigger pulse (to hide)"
             sendEventOnClick="sig_trig_hide_pulse3"
             ></ch5-button>
<hr>

<ch5-modal-dialog
        receiveStateShowPulse="sig_trig_show_pulse3"
        receiveStateHidePulse="sig_trig_hide_pulse3"
        closable
        dismissable
>
    <p>Sample text</p>
    <ch5-image
            id="ex1-img"
            url="https://picsum.photos/200/300/?random">
    </ch5-image>
</ch5-modal-dialog>

