<ch5-toggle
    label="Circle"
    labelOn="On"
    labelOff="Off"    
    >
</ch5-toggle>

<br><br>

<ch5-toggle
    label="Rectangle"
    labelOn="On"
    labelOff="Off"
    handleShape="rectangle"    
    >
</ch5-toggle>
