<h1>sendEventOnClickStart attribute</h1>
<br />
<p>
    <b>sendeventonclickstart</b> attribute allows a developer to bind event clicks based on signals.
    The value is referred to, and each child button is assigned with an incremental digit based on 
    the initial value passed as attribute value.
</p>
<br />
<p>
    If the  initial value of <b>sendeventonclickstart</b> is assigned as number 6 (analog join), 
    the events are bound on each child button as below:
</p>
<p>
    <b>ch5-dpad-button-top</b> sendeventonclick = 6
    <br />
    <b>ch5-dpad-button-bottom</b>  sendeventonclick = 7
    <br />
    <b>ch5-dpad-button-left</b>  sendeventonclick = 8
    <br />
    <b>ch5-dpad-button-right</b>  sendeventonclick = 9
    <br />
    <b>ch5-dpad-button-center</b>  sendeventonclick = 10
</p>
