<h1>ch5-slider step</h1>
<p>Default 1. Defines the size or amount of each interval or step the slider takes between min and max.</p>
<p>If the value range between max and min (i.e. max - min) is not evenly divisible by step value, the max will be adjusted accordingly.</p> 
<p>Since all values on the slider are part of a range, step is strict related to min and max attributes.</p> 
<p>If you want quarters  0, 25, 50, 75, 100 then 25 is the value for step attribute, 0 is value for min and 100 is vale for max</p>