    <ch5-button type="danger"  label="Press | Click | Release"></ch5-button>
    <hr>

    <p>Click anywhere in this pane, then try tabbing.</p>
    <ch5-button type="info" label="Focus | Blur"></ch5-button>
