<div>
    <ch5-textinput
        placeholder="I have a value" onclean="alert(2)"></ch5-textinput>
</div>
<button id="submit">Submit</button>
<button id="reset">Reset</button>
<button id="getDirty">GetDirty</button>
