<p>Keypad : Type=Danger [Enabled, Disabled]</p>
<ch5-keypad showExtraButton="true" type="danger"></ch5-keypad>
<ch5-keypad showExtraButton="true" type="danger" disabled></ch5-keypad>

<br/>
<p>Keypad : Type=Text [Enabled, Disabled]</p>
<ch5-keypad showExtraButton="true" type="text"></ch5-keypad>
<ch5-keypad showExtraButton="true" type="text" disabled></ch5-keypad>

<br/>
<p>Keypad : Type=Warning [Enabled, Disabled]</p>
<ch5-keypad showExtraButton="true" type="warning"></ch5-keypad>
<ch5-keypad showExtraButton="true" type="warning" disabled></ch5-keypad>

<br/>
<p>Keypad : Type=Info [Enabled, Disabled]</p>
<ch5-keypad showExtraButton="true" type="info"></ch5-keypad>
<ch5-keypad showExtraButton="true" type="info" disabled></ch5-keypad>

<br/>
<p>Keypad : Type=Success [Enabled, Disabled]</p>
<ch5-keypad showExtraButton="true" type="success"></ch5-keypad>
<ch5-keypad showExtraButton="true" type="success" disabled></ch5-keypad>

<br/>
<p>Keypad : Type=Default [Enabled, Disabled]</p>
<ch5-keypad showExtraButton="true" type="default"></ch5-keypad>
<ch5-keypad showExtraButton="true" type="default" disabled></ch5-keypad>

<br/>
<p>Keypad : Type=Primary [Enabled, Disabled]</p>
<ch5-keypad showExtraButton="true" type="primary"></ch5-keypad>
<ch5-keypad showExtraButton="true" type="primary" disabled></ch5-keypad>

<br/>
<p>Keypad : Type=Secondary [Enabled, Disabled]</p>
<ch5-keypad showExtraButton="true" type="secondary"></ch5-keypad>
<ch5-keypad showExtraButton="true" type="secondary" disabled></ch5-keypad>
