---
title: "ch5-dpad-button: keys"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-dpad-button/disable-enable/','ex1') %}{% endcall %}
{% endblock %}