<h1>ch5-select: template processing</h1>
<p>
    Options creation is depending on the following attributes: <strong>size</strong>,
    <strong>indexId</strong>, <strong>receiveStateTemplateVars</strong> and <strong>"templatevariables"</strong>
    from global config data.
</p>
<br>
<p>
    By default, when we have a template defined, the option is created using "templatevariables" data and can be updated
    by receiveStateTemplateVars signal data. When an option is selected the top line will display the entire option
    html (singleselection case) or a list of comma separated labels/"N items selected" (multiselect case).
    <strong>Note:</strong> For multiselect make sure <strong>receiveStateLabel</strong> is used to provide option label.
    If this signal attribute is not used, multiselect top line will display empty values as label.
</p>
