{% raw %}
(function(){
    const updateDirty = (container, selectEl) => {
        container.innerHTML = selectEl.getDirty();
    };

    const initActions = (selectSelector, dirtyContainerSelector, submitBtnSelector, resetBtnSelector) => {
        let dirtyValContainer = document.getElementById(dirtyContainerSelector);
        let select = document.getElementById(selectSelector);
        updateDirty(dirtyValContainer, select);

        select.addEventListener('change', (e) => {
            updateDirty(dirtyValContainer, select);
        });

        select.addEventListener('dirty', (e) => {
            updateDirty(dirtyValContainer, select);
        });

        select.addEventListener('clean', (e) => {
            updateDirty(dirtyValContainer, select);
        });

        let submitBtn = document.getElementById(submitBtnSelector);
        submitBtn.addEventListener('click', (e) => {
            select.submit();
            updateDirty(dirtyValContainer, select);
        });

        let resetBtn = document.getElementById(resetBtnSelector);
        resetBtn.addEventListener('click', (e) => {
            select.reset();
            updateDirty(dirtyValContainer, select);
        });
    };

    initActions('default_tmpl_f_submit_single', 'dirty-select-1', 'submit-btn-1', 'reset-btn-1');
    initActions('default_tmpl_f_submit_multi', 'dirty-select-2', 'submit-btn-2', 'reset-btn-2');

})();
{% endraw %}
