{% raw %}
    <p>
        <ch5-button sendEventOnClick="trigger_1" label="Update HTML"></ch5-button>
        <ch5-button sendEventOnClick="trigger_2" label="Reset"></ch5-button>
    </p>

    <div class="b-red" data-ch5-innerhtml="data_ch5_innerhtml_signal_1">

    </div>

    <div id="mutations-parent" style="margin-top: 68px;">
        <p><strong>DOM mutations example</strong></p>
        <p>
            <ch5-button id="add" label="Add new el with data-ch5-innerhtml attr"></ch5-button>
        </p>
        <p>
            <ch5-button id="update" label="Update data-ch5-innerhtml attr"></ch5-button>
        </p>
        <p>
            <ch5-button id="remove" label="Remove el with data-ch5-innerhtml attr"></ch5-button>
        </p>

    </div>
{% endraw %}

