<h1>ch5-slider toolTipShowType</h1>
<p>The default value is "off". Displays an optional tooltip above (horizontal) or to the right (vertical) of the handle.  Valid values:</p>
<ul style="list-style: disc; padding-left: 30px;">
    <li>
        "off" - The tooltip is not displayed
    </li>
    <li>
       "on" - The tooltip is always displayed
    </li>
    <li>
       "auto" - The tooltip is displayed when the user interacts with the slider
    </li>
</ul>
