<h1>ch5-slider toolTipShowType</h1>
<p>Default "off".  Option to display a tooltip above (horizontal), right(vertical) of the handle.  Valid values are </p>
<ul style="list-style: disc; padding-left: 30px;">
    <li>
        "off" not displayed
    </li>
    <li>
       "on" always displayed
    </li>
    <li>
       "auto" displayed while user interact with the slider
    </li>
</ul>
