<strong>sendEventOnOverflow/sendEventOnUnderflow</strong><br />
sendEventOnOverflow is sent when the spinner hits the end and is following the first item in spinner. <br />
sendEventOnUnderflow is sent when the spinner hits the start and is following the last item in spinner in a circular mode.<br />
This is a circular move of spinner and the <strong>endless</strong> attribute has to be set in order to send this kind of signal.