<strong>sendEventOnOverflow/sendEventOnUnderflow</strong><br />
sendEventOnOverflow is sent when the spinner reaches the end and is following the first item in spinner. <br />
sendEventOnUnderflow is sent when the spinner reaches the start and is following the last item in spinner in a circular mode.<br />
This is a circular spinner movement and the <strong>endless</strong> attribute has to be set in order to send this type of signal.