{% raw %}
<ch5-spinner
  label="Item {{idx}}"
  indexId="idx"
  itemHeight="40"
  size="30"
  endless="true"
  sendEventOnOverflow="trig1"
  sendEventOnUnderflow="trig2"
></ch5-spinner>
<ch5-button
  label="Drag the spinner"
  receiveStateLabel="btn_receive_label"
  stretch="width"
></ch5-button>
{% endraw %}