<h1>UseContractForEnable attribute</h1>: 
    Possible values are
    <b>true</b>,
    <b>false</b>
    <p>The default value is true.</p>
    <p> If this value is set to true then the value received from the contract will be considered to enable `ch5-dpad` tag and also to enable the buttons under 
        `ch5-dpad` component i.e. `ch5-dpad-button`. The names from the contract will be different for each of the buttons and the overall `ch5-dpad` component. 
        The <b>contractName</b> attribute's default value is empty, making the default value for <b>useContractForEnable</b> as <i>false</i></p>
