<h1>attribute: overflow</h1>
<p>
    Valid values are 'scroll' and 'show'.
</p>
<p>
    The overflow property specifies what happens if content overflows the component box or not.
    If 'scroll' is selected the scrollbars might appear if content is larger than the available area.
    If 'show' is selected the overflow is not clipped.
</p>
<p>The following example is for overflow='show'</p>