.my-css-class {
    border: 1px dashed red;
}

.svg-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg');
    background-size:contain;
    background-repeat:no-repeat;
    width: 20px;
    height: 20px;
    display:inline-block;
}