---
title: "ch5-keypad: cssClass"
---
{% extends "./layouts/base.njk" %}

{% block content %}


<table class="table">
    <thead>
    <tr>
        <th>CSS Class</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ch5-keypad</td>
        <td>Primary Class</td>
    </tr>
    <tr>
        <td>ch5-keypad--rounded-rectangle</td>
        <td>Defines the keypad shape</td>
    </tr>
    <tr>
        <td>ch5-keypad--rectangle</td>
        <td>Defines the keypad shape</td>
    </tr>
    <tr>
        <td>ch5-keypad--circle</td>
        <td>Defines the keypad shape</td>
    </tr>
    <tr>
        <td>keypad-btn</td>
        <td>Add styles for all buttons inside the keypad</td>
    </tr>
    <tr>
        <td>ch5-keypad-type--info</td>
        <td>class apply when type="info"</td>
    </tr>
    <tr>
        <td>ch5-keypad-type--warning</td>
        <td>class apply when type="warning"</td>
    </tr>
    <tr>
        <td>ch5-keypad-type--danger</td>
        <td>class apply when type="danger"</td>
    </tr>
    <tr>
        <td>ch5-keypad-type--text</td>
        <td>class apply when type="text"</td>
    </tr>
    <tr>
        <td>ch5-keypad-type--success</td>
        <td>class apply when type="success"</td>
    </tr>
    <tr>
        <td>ch5-keypad-type--default</td>
        <td>class apply when type="default"</td>
    </tr>
    <tr>
        <td>ch5-keypad-type--primary</td>
        <td>class apply when type="primary"</td>
    </tr>
    <tr>
        <td>ch5-keypad-type--secondary</td>
        <td>class apply when type="secondary"</td>
    </tr>
    <tr>
        <td>ch5-keypad--selected</td>
        <td>class apply when button in the selected state</td>
    </tr>
    <tr>
        <td>ch5-keypad--pressed</td>
        <td>class apply when button in the pressed state</td>
    </tr>
    <tr>
        <td>ch5-keypad--disabled</td>
        <td>class apply when button in the disabled state</td>
    </tr>
    <tr>
        <td>ch5-keypad--shape-rounded-rectangle</td>
        <td>class apply when shape="rounded-rectangle"</td>
    </tr>
    <tr>
        <td>ch5-keypad--shape-square</td>
        <td>class apply when shape="square"</td>
    </tr>
    <tr>
        <td>ch5-keypad--shape-circle</td>
        <td>class apply when shape="circle"</td>
    </tr>
    <tr>
        <td>ch5-keypad--orientation-top</td>
        <td>class apply when button in the textOrientation="top"</td>
    </tr>
    <tr>
        <td>ch5-keypad--orientation-left</td>
        <td>class apply when button in the textOrientation="left"</td>
    </tr>
    <tr>
        <td>ch5-keypad--orientation-right</td>
        <td>class apply when button in the textOrientation="right"</td>
    </tr>
    <tr>
        <td>ch5-keypad--orientation-bottom</td>
        <td>class apply when button in the textOrientation="bottom"</td>
    </tr>
    </tbody>
</table>

{% endblock %}
