---
title: "ch5-keypad: styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>SASS variable</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>$defaultContainerWidth</td>
            <td>the default size container width</td>
        </tr>
        <tr>
            <td>$defaultContainerHeight</td>
            <td>the default size container height</td>
        </tr>
        <tr>
            <td>$defaultContainerHeightExtra</td>
            <td>the default size container extra height, used when the 13th button is displayed</td>
        </tr>
        <tr>
            <td>$cellDimension</td>
            <td>the cell dimensionY</td>
        </tr>
        <tr>
            <td>$cellMargin</td>
            <td>the margin for the cell</td>
        </tr>
        <tr>
            <td>$xsmallContainerWidth</td>
            <td>the x-small size container width</td>
        </tr>
        <tr>
            <td>$xsmallContainerHeight</td>
            <td>the x-small size container height</td>
        </tr>
        <tr>
            <td>$xsmallContainerHeightExtra</td>
            <td>the x-small size container extra height, used when the 13th button is displayed</td>
        </tr>
        <tr>
            <td>$smallContainerWidth</td>
            <td>the small size container width</td>
        </tr>
        <tr>
            <td>$smallContainerHeight</td>
            <td>the small size container height</td>
        </tr>
        <tr>
            <td>$smallContainerHeightExtra</td>
           <td>the small size container extra height, used when the 13th button is displayed</td>
        </tr>
        <tr>
            <td>$largeContainerWidth</td>
            <td>the large size container width</td>
        </tr>
        <tr>
            <td>$largeContainerHeight</td>
            <td>the large size container height</td>
        </tr>
        <tr>
            <td>$largeContainerHeightExtra</td>
            <td>the large size container extra height, used when the 13th button is displayed</td>
        </tr>
        <tr>
            <td>$xlargeContainerWidth</td>
            <td>the x-large size container width</td>
        </tr>
        <tr>
            <td>$xlargeContainerHeight</td>
            <td>the x-large size container height</td>
        </tr>
        <tr>
            <td>$xlargeContainerHeightExtra</td>
            <td>the x-large size container extra height, used when the 13th button is displayed</td>
        </tr>
    </tbody>
</table>

{% endblock %}
