---
title: "ch5-keypad: textOrientation"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-keypad/text-orientation/','ex1') %}{% endcall %}

{% endblock %}