---
title: "ch5-keypad: shape"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-keypad/shapes/','ex1') %}{% endcall %}

{% endblock %}