---
title: "ch5-keypad: useContractForEnable"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-keypad/usecontractforenable/','ex1') %}{% endcall %}

{% endblock %}