---
title: "ch5-keypad: showExtraButton"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-keypad/show-extra-button/','ex1') %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-keypad/show-extra-button/','ex2') %}{% endcall %}

{% endblock %}