---
title: "ch5-keypad: customClass, receiveStateCustomClass"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% set scenario1 -%}
        {%- include "./emulator-scenarios/ch5-keypad/custom-class.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}


    {% call exampleSectionFromPartials('ch5-keypad/common-custom-class/','ex1') %}{% endcall %}

    {% call exampleSectionFromPartials('ch5-keypad/common-custom-class/','ex2') %}{% endcall %}

{% endblock %}