---
title: "ch5-keypad: contractName"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-keypad/contractname/','ex1') %}{% endcall %}

{% endblock %}