---
title: "ch5-keypad: stretch"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {% call exampleSectionFromPartials('ch5-keypad/stretches/','ex1') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-keypad/stretches/','ex2') %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-keypad/stretches/','ex3') %}{% endcall %}

{% endblock %}