<ch5-button checkboxShow="true" size="x-large" type="danger" iconClass="fab fa-amilia"></ch5-button>
<ch5-button checkboxShow="true" checkboxPosition="left" size="x-large" type="text" label="Text"></ch5-button>
<ch5-button checkboxShow="true" checkboxPosition="left" size="x-large" type="warning" iconClass="fas fa-at" label="Warning"></ch5-button>
<ch5-button checkboxShow="true" checkboxPosition="right" size="x-large" type="info" iconurl="./img/ok.svg"></ch5-button>
<ch5-button checkboxShow="true" checkboxPosition="right" selected size="x-large" type="success" iconurl="./img/lists.svg" label="Success"></ch5-button>
<ch5-button checkboxShow="true" checkboxPosition="left" selected size="x-large" type="default" iconurl="./img/page.svg" label="Default"></ch5-button>
<ch5-button checkboxShow="true" checkboxPosition="left" selected size="x-large" type="primary" iconurl="./img/something.svg" label="Primary"></ch5-button>
<ch5-button checkboxShow="true" checkboxPosition="right" selected size="x-large" type="secondary" iconurl="./img/video.svg" label="Secondary"></ch5-button>