<h1>Mutli-mode: Setting <i>checkboxPosition</i> attribute in <strong>ch5-button-mode-state</strong> overrides the <i>type</i> attribute in <strong>ch5-button-mode</strong> and <strong>ch5-button</strong>.</h1>
