<ch5-slider customClass="oslider"> </ch5-slider>
<ch5-slider customClass="oslider" size="x-small"> </ch5-slider>
<ch5-slider customClass="oslider" size="small"> </ch5-slider>
<ch5-slider customClass="oslider" size="regular"> </ch5-slider>
<ch5-slider customClass="oslider" size="large"> </ch5-slider>
<ch5-slider customClass="oslider" size="x-large"> </ch5-slider>