<ch5-slider orientation="vertical" customClass="vslider"></ch5-slider>
<ch5-slider size="x-small" orientation="vertical" customClass="vslider"></ch5-slider>
<ch5-slider size="small" orientation="vertical" customClass="vslider"></ch5-slider>
<ch5-slider size="regular" orientation="vertical" customClass="vslider"></ch5-slider>
<ch5-slider size="large" orientation="vertical" customClass="vslider"></ch5-slider>
<ch5-slider size="x-large" orientation="vertical" customClass="vslider"></ch5-slider>