<h1>Label text received from signal</h1>
<p>The label is first set through the <b>label</b> attribute. </p>
<p>When the signal with the name specified in the
    <b>receiveStateLabel</b> attribute changes value, the text of the button label also changes.</p>
<p>When the signal with the name specified in the
    <b>receiveStateScriptLabelHtml</b> attribute changes value, the html code of the button label also changes.</p>
<p>Click the buttons to change the value of the <b>btn_receive_label</b> and <b>btn_receive_html_script_label</b> signals</p>
