<div>
    <p>With image icon:</p>
    <div>
        <ch5-button
                type="text"
                shape="rectangle"
                label="PNG Icon Button"
                iconUrl="https://img.icons8.com/material/24/000000/search.png"
        ></ch5-button>
        <ch5-button
                type="text"
                shape="rectangle"
                label="SVG Icon Button"
                customClass="svg-btn-color"
                iconUrl="./img/nav_icon.svg"
        ></ch5-button>
    </div>
</div>