<div>
  <h3>The icon for the below button will be changed</h3>
  <ch5-button type="success" shape="rectangle" label="SVG Icon" receivestateiconurl="current_svg"></ch5-button>
  <ch5-button type="text" shape="rectangle" label="PNG Icon" receivestateiconurl="current_png"></ch5-button>
</div>
<br />
<div>
  <h5>Click on the button below in order to change the icon</h5>
  <ch5-button type="success" shape="rectangle" label="Mute SVG" iconurl="./img/volume_mute.svg" sendeventonclick="trigger_icon_change_mute"></ch5-button>
  <ch5-button type="success" shape="rectangle" label="Unmute SVG" iconurl="./img/volume_unmute.svg" sendeventonclick="trigger_icon_change_unmute"></ch5-button>
  <ch5-button type="text" shape="rectangle" label="User PNG" iconurl="https://img.icons8.com/material/24/000000/user--v1.png" sendeventonclick="trigger_icon_change_user"></ch5-button>
  <ch5-button type="text" shape="rectangle" label="Connect PNG" iconurl="https://img.icons8.com/material/24/000000/share-2.png" sendeventonclick="trigger_icon_change_connect"></ch5-button>
</div>
