<h1>Type attribute</h1>
    Possible values are
    <b>danger</b>,
    <b>text</b>,
    <b>warning</b>,
    <b>info</b>,
    <b>success</b>,
    <b>default</b>,
    <b>primary</b>,
    <b>secondary</b>