
<div>
    <h5>normal button faces below:</h5>
    <ch5-button type="danger" label="Danger"></ch5-button>
    <ch5-button type="text" label="Text"></ch5-button>
    <ch5-button type="warning" label="Warning"></ch5-button>
    <ch5-button type="info" label="Info"></ch5-button>
    <ch5-button type="success" label="Success"></ch5-button>
    <ch5-button type="default" label="Default"></ch5-button>
    <ch5-button type="primary" label="Primary"></ch5-button>
    <ch5-button type="secondary" label="Secondary"></ch5-button>
</div>
<br/>
<div>
    <h5>selected button faces below:</h5>
    <ch5-button selected type="danger" label="Danger"></ch5-button>
    <ch5-button selected type="text" label="Text"></ch5-button>
    <ch5-button selected type="warning" label="Warning"></ch5-button>
    <ch5-button selected type="info" label="Info"></ch5-button>
    <ch5-button selected type="success" label="Success"></ch5-button>
    <ch5-button selected type="default" label="Default"></ch5-button>
    <ch5-button selected type="primary" label="Primary"></ch5-button>
    <ch5-button selected type="secondary" label="Secondary"></ch5-button>
</div>