<div>
    <h5>The type attribute is changed for the button below:</h5>
    <ch5-button type="danger" label="Danger" receivestatetype="current_type"></ch5-button>
</div>
<br /><br />
<div>
    <h5>Change the above button type attribute by clicking on the below buttons:</h5>
    <ch5-button type="primary" sendeventonclick="trigger_type_change_primary" label="Primary"></ch5-button>
    <ch5-button type="danger" sendeventonclick="trigger_type_change_danger" label="Danger"></ch5-button>
    <ch5-button type="success" sendeventonclick="trigger_type_change_success" label="Success"></ch5-button>
    <ch5-button type="warning" sendeventonclick="trigger_type_change_warning" label="Warning"></ch5-button>
</div>
<br/>
