usage of <strong>minLength</strong> attribute <br />
used along with feedbackMode='submit'<br />
in the example below by entering less than 10 characters you will not be able to submit the form.<br />
