A usage of the <strong>minLength</strong> attribute:<br />
Used along with feedbackMode='submit'.<br />
In the example below, if less than 10 characters are entered, the form cannot be submitted.<br />
