$(document).ready(() => {
    var form = document.getElementById('minLengthForm');
    form.addEventListener('submit', function(e) {
      e.preventDefault();
    })

    var input = form.querySelector('input[type="text"]');
    input.addEventListener('change', function(e) {
      console.log(e.target.validity);
    })
})
