var input = document.querySelector('#maxLengthForm input[type="text"]');
var form = document.querySelector('#maxLengthForm');

form.addEventListener('submit', function(e) {
  e.preventDefault();
})

input.addEventListener('change', function(e) {
  console.log(e.target.validity);
})