usage of <strong>maxLength</strong> attribute without feedbackMode<br />
<strong>Result:</strong> you should not see the maxLength attribute on the input that's because <br />
the <strong>minlength</strong> and <strong>maxLength</strong> attributes are used along with <strong>feedbackMode="submit"</strong> (open inspect element to see that).