A usage of the <strong>maxLength</strong> attribute without feedbackMode:<br />
<strong>Result:</strong> The maxLength attribute should not be seen on the input because <br />
the <strong>minlength</strong> and <strong>maxLength</strong> attributes are used along with <strong>feedbackMode="submit"</strong> (open inspect element to see this).