<div style="height: 320px;">
    <ch5-background refreshrate="5" url="https://picsum.photos/id/60/800/800 | https://picsum.photos/id/70/800/800 | https://picsum.photos/id/80/800/800"></ch5-background>
</div>