<h1><b>refreshRate</b> attribute</h1>
<p>When more than one image provided in url attribute this attribute provides length of time in seconds each
image will be displayed. Values outside of min and max will be capped at closest valid value.</p>
<p>Default value is 600 seconds. min value 10 and max value 604800.</p>