<h1><b>repeat</b> attribute</h1>
<p>The repeat property sets how a background image will be repeated. In the absence of
repeat attribute 'no-repeat' will be considered as default. Support values no-repeat, repeat-x, repeat-y and repeat.
The value repeat-x repeats image horizontally, repeat-y repeats image vertically, repeat
repeats both vertically and horizontally. The last image will be clipped if it does not fit.<br/>
The default background color will be black which can be overridden by 'imgbackgroundcolor' attribute.</p>