<h1><b>repeat</b> attribute</h1>
<p>The repeat property sets how a background image will be repeated. In the absence of
repeat attribute 'no-repeat' will be considered as default. Supported values <b>no-repeat</b>, <b>repeat-x</b>, <b>repeat-y</b> and <b>repeat</b>.
The value repeat-x repeats an image horizontally, repeat-y repeats an image vertically, and repeat
repeats an image both horizontally and vertically. The last image will be clipped if it does not fit.<br/>
The default background color will be black which can be overridden by the 'imgbackgroundcolor' attribute.<br/>
<b>This attribute supersedes the scale attribute if both are provided.</b></p>