.b-red{
margin:20px;
border:3px solid #004A80;
}

ch5-button {
padding: 3px 0;
}

.ch5-button--text.ch5-button--selected {
background-color: #1496ED;
}

.receive{
padding: 5px;
margin: 5px;
border: 1px solid grey;
}

.directv{
padding: 5px;
margin: 5px;
border: 1px solid lightblue;
}

.media-button-container{
display: flex;
}
