<h1>iconClass attribute</h1>
<br />
<p>
    <b>iconclass</b> attribute helps in providing a custom icon 
    as a class name based on custom icon font libraries (like fontawesome).
</p>
<p>
    <b>Dev Note:</b> Observe that this is an attribute at the child button level and not on KEYPAD tag itself.
</p>
