{% raw %}
<ch5-button size="x-large" type="primary" label="Get garage door feedback" 
        sendEventOnClick="trigger_change_value"></ch5-button> 
<br />
<ch5-jointotext-string
    receiveStateValue="garage_door_status" textWhenEmpty="No feedback from garage door">
</ch5-jointotext-string>
{% endraw %}
