<ch5-button label="trigger change in signal" sendEventOnClick="hall_lights_tap"></ch5-button>
<hr>
<div style="border:1px solid red;">next is remove</div>
<ch5-button label="noShowType=remove" noshowType="remove" receiveStateShow="hall_lights_selected"></ch5-button>
<div style="border:1px solid red;">next is visibility</div>
<ch5-button label="noShowType=visibility" noshowType="visibility" receiveStateShow="hall_lights_selected"></ch5-button>
<div style="border:1px solid red;">next is display</div>
<ch5-button label="noShowType=display" noshowType="display" receiveStateShow="hall_lights_selected"></ch5-button>
<div style="border:1px solid red;height:20px;width:20px;"></div>
