---
title: "ch5-image: authentication"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-image/authentication/','ex1') %}{% endcall %}
{% endblock %}