---
title: "ch5-image: height"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-image/height/','ex1') %}{% endcall %}

    {# example 2 #}
        {% call exampleSectionFromPartials('ch5-image/height/','ex2') %}{% endcall %}

    {# example 3 #}
        {% call exampleSectionFromPartials('ch5-image/height/','ex3') %}{% endcall %}

{% endblock %}