---
title: "ch5-image: press event"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-image/press-event/','ex1') %}{% endcall %}

    {# example 2 #}
        {% call exampleSectionFromPartials('ch5-image/press-event/','ex2') %}{% endcall %}

{% endblock %}