---
title: "ch5-image styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>SASS variable</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>$ch5-image-height</td>
        <td>Set height of image</td>
    </tr>
    <tr>
        <td>$ch5-image-width</td>
        <td>Set width of image</td>
    </tr>

    </tbody>
</table>

{% endblock %}