{% raw %}
(function () {
    const select1 = document.getElementById('volume1');
    const ex1LogPrefix = '[Example ' + select1.id + '] ';
    select1.addEventListener('change', (e) => {
        console.log(ex1LogPrefix + 'change event received', e.detail);
    });

    select1.addEventListener('dirty', (e) => {
        console.log(ex1LogPrefix + 'dirty event received');
    });

    select1.addEventListener('clean', (e) => {
        console.log(ex1LogPrefix + 'clean event received');
    });

    select1.addEventListener('focus', (e) => {
        console.log(ex1LogPrefix + 'focus event received');
    });

    select1.addEventListener('blur', (e) => {
        console.log(ex1LogPrefix + 'blur event received');
    });

    const select2 = document.getElementById('multiselect_ex');
    const ex2LogPrefix = '[Example ' + select2.id + '] ';
    select2.addEventListener('dirty', (e) => {
        console.log(ex2LogPrefix + 'dirty event received');
    });
    select2.addEventListener('clean', (e) => {
        console.log(ex2LogPrefix + 'clean event received');
    });

    select2.addEventListener('focus', (e) => {
        console.log(ex2LogPrefix + 'focus event received');
    });

    select2.addEventListener('blur', (e) => {
        console.log(ex2LogPrefix + 'blur event received');
    });

    let submitBtn = document.getElementById('submit-btn');
    submitBtn.addEventListener('click', (e) => {
        select2.submit();
    });

    let resetBtn = document.getElementById('reset-btn');
    resetBtn.addEventListener('click', (e) => {
        select2.reset();
    });
})()
{% endraw %}
