<h1>ch5-select: Events</h1>
<ul>
    <li> - focus</li>
    <li> - blur</li>
    <li> - change</li>
    <li> - dirty</li>
    <li> - sendEventOnFocus (Sends a signal on a focus event. True when in focus. False when not in focus)</li>
</ul>
