<h1>ch5-select: Events</h1>
<ul>
    <li> - focus</li>
    <li> - blur</li>
    <li> - change</li>
    <li> - dirty</li>
    <li> - sendEventOnFocus (send signal on focus event. True in focus. False not in focus)</li>
</ul>
