A usage of the <strong>mask</strong> attribute for a phone number:<br />
The attribute will force the user to add a valid phone number. <br />
When the input value does not follow the given format, the input cannot be submitted.