usage of <strong>mask</strong> attribute for phone number<br />
<strong>Info:</strong> this attribute will force you to add a valid phone number, <br />
when the input value doesn't follow the given pattern then you can't submit the input