.error { 
    border: 1px solid red;
    
}
.valid { 
    border: 1px solid green;
}

input { 
    outline: 0 !important;   
}

p {
  font-size: 15px;
  margin: 5px;
}

.invalid-text {
  color: red;
}

.valid-text {
  color: green;
}

.hidden {
    
    display: none !important;
}