A usage of the <strong>mask</strong> attribute for a credit card number:<br />
The attribute allows a user to add only 16 numbers.<br />
See also the <strong>js</strong> tab for working with events on a mask.
