usage of <strong>mask</strong> attribute for Visa Card Number<br />
<strong>Info:</strong> you have to be able to add only 16 numbers <br />
See also the <strong>js</strong> tab how to work with the events on mask
