A usage of the <strong>mask</strong> attribute for upper/lower case characters:<br />
The attribute forces the user to add 4 lowercase characters and then 4 uppercase characters.<br />
In place of the "*" sign, the user must be able to add any alphanumeric character.
