usage of <strong>mask</strong> attribute for upper/lower case characters<br />
<strong>Info:</strong> add 4 lowercase characters then 4 uppercase characters<br />
in place of "*" sign you have to be able to add any alpha-numeric character
