<div>
    <form>
        <ch5-textinput
            type="text"
            feedbackMode="submit"
            ondirty="alert(2)"
            value="initial value">
        </ch5-textinput>
        <div>
            <input type="submit" id="submit" value="Submit" />
            <button type="button" id="reset">reset</button>
            <button id="dirty">getDirty</button>
        </div>
    </form>
    
</div>