---
title: "ch5-spinnerr styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>SASS variable</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>$ch5-spinner-font-size-unit</td>
            <td>the default font size unit of the spinner</td>
        </tr>
        <tr>
            <td>$ch5-spinner-font-size-value</td>
            <td>the default font size value of the spinner</td>
        </tr>
        <tr>
            <td>$ch5-spinner-font-size</td>
            <td>the default font size of the spinner</td>
        </tr>
        <tr>
            <td>$ch5-spinner-font-style</td>
            <td>the default font style of the spinner</td>
        </tr>
        <tr>
            <td>$ch5-spinner-font-weight</td>
            <td>the default font weight of the spinner</td>
        </tr>

        <tr>
            <td>$ch5-spinner-active-item-color</td>
            <td>the text color of the active item</td>
        </tr>
        <tr>
            <td>$ch5-spinner-item-color</td>
            <td>the text color of the item</td>
        </tr>
        <tr>
            <td>$ch5-spinner-overlay-background-color</td>
            <td>the background color for the overlay of the spinner</td>
        </tr>
        <tr>
            <td>$ch5-spinner-highlight-box-shadow-color</td>
            <td>the box shadow color of the spinner</td>
        </tr>
        <tr>
            <td>$ch5-spinner-highlight-border-color</td>
            <td>the border color of the spinner</td>
        </tr>

        <tr>
            <td>$ch5-spinner-icon-left-padding</td>
            <td>the left padding of the icon within the slider item </td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-right-padding</td>
             <td>the right padding of the icon within the slider item </td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-top-padding</td>
            <td>the top padding of the icon within the slider item </td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-bottom-padding</td>
            <td>the bottom padding of the icon within the slider item </td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-padding</td>
            <td>the padding of the icon within the slider item </td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-left-margin</td>
            <td>the left margin of the icon within the slider item</td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-right-margin</td>
            <td>the right margin of the icon within the slider item</td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-top-margin</td>
            <td>the top margin of the icon within the slider item</td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-bottom-margin</td>
            <td>the bottom margin of the icon within the slider item</td>
        </tr>
        <tr>
            <td>$ch5-spinner-icon-margin</td>
            <td>the margin of the icon within the slider item</td>
        </tr>
        <tr>
            <td>$ch5-spinner-overlay-opacity</td>
            <td>the opacity for the overlay of the spinner</td>
        </tr>

    </tbody>
</table>

{% endblock %}
