---
title: "ch5-spinner styling"
---
{% extends "./layouts/base.njk" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>CSS Class</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ch5-spinner</td>
        <td>Main class</td>
    </tr>
    <tr>
        <td>ch5-spinner__wrapper</td>
        <td>Class apply for spinner wrapper</td>
    </tr>
    <tr>
        <td>ch5-spinner__highlight</td>
        <td>Class apply for the highlight section</td>
    </tr>
    <tr>
        <td>ch5-spinner__icon</td>
        <td>Class apply on the icon</td>
    </tr>
    <tr>
        <td>ch5-spinner__item</td>
        <td>Class apply on the item</td>
    </tr>
    <tr>
        <td>ch5-spinner--active</td>
        <td>Class apply on the active item</td>
    </tr>
    <tr>
        <td>ch5-spinner__scrollarea--animate</td>
        <td>Class apply for  scroll animation</td>
    </tr>

    </tbody>
</table>

{% endblock %}
