{% raw %}
<ch5-spinner
  label="item {{idx}}"
  indexId="idx"
  receiveStateSize="receive_spinner_size"
  itemHeight="40"
  size="15"
  endless
></ch5-spinner>

<ch5-button
  sendEventOnClick="trig1"
  label="Reduce spinner size to 10"
  ></ch5-button>
<ch5-button
  sendEventOnClick="trig2"
  label="Increase spinner size to 30"
></ch5-button>
{% endraw %}