<h1><b>transitionDuration</b> attribute</h1>
<p>When more than one image/color provided in url/backgroundcolor attribute
this attribute provides the time length of the transition using CSS transition-duration syntax.</p>
<p>The default value is 1s.</p>