---
title: "ch5-triggerview styling"
---
{% extends "./layouts/default.njk" %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>CSS Class</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ch5-triggerview</td>
            <td>the class added on the component</td>
        </tr>
        <tr>
            <td>ch5-viewchild</td>
            <td>the class added on the triggeview child component</td>
        </tr>
        </tbody>
    </table>

{% endblock %}