---
title: "ch5-triggerview: sendEventShowChildIndex"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}

    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-triggerview/send-value/','ex1') %}{% endcall %}
{% endblock %}
