---
title: "ch5-triggerview: setActiveViewChild"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
    {# example 1 #}
        {% call exampleSectionFromPartials('ch5-triggerview/set-active-child/','ex1') %}{% endcall %}
{% endblock %}