<h1>Common attributes: <strong>noShowType</strong></h1>
<br/>
<p>
    This attribute reflects the type of visibility assigned to the item.
</p>
<br/>
<p>
    Possible values are:
    <ul style="list-style-type: circle;">
        <li>visibility - hides the component using <code>visibility: hidden</code></li>
        <li>display - hides the component using <code>display: none</code></li>
        <li>remove - removes the component entirely from the DOM</li>
    </ul>
</p>