<div>
  <ch5-textinput
    placeholder="x-small"
    size="x-small"
  ></ch5-textinput>
</div>
<div>
  <ch5-textinput
    placeholder="small"
    size="small"
  ></ch5-textinput>
</div>
<div>
  <ch5-textinput
    placeholder="regular"
    size="regular"
  ></ch5-textinput>
</div>
<div>
  <ch5-textinput
    placeholder="large"
    size="large"
  ></ch5-textinput>
</div>
<div>
  <ch5-textinput
    placeholder="x-large"
    size="x-large"
  ></ch5-textinput>
</div>