<p>Row with enabled buttons</p>
<ch5-button type="danger" label="danger"></ch5-button>
<ch5-button type="text" label="text"></ch5-button>
<ch5-button type="warning" label="warning"></ch5-button>
<ch5-button type="info" label="info"></ch5-button>
<ch5-button type="success" label="success"></ch5-button>
<ch5-button type="default" label="default"></ch5-button>
<ch5-button type="primary" label="primary"></ch5-button>
<ch5-button type="secondary" label="secondary"></ch5-button>
<hr>
<p>Same row with disabled buttons</p>
<ch5-button type="danger" label="danger" disabled></ch5-button>
<ch5-button type="text" label="text" disabled></ch5-button>
<ch5-button type="warning" label="warning" disabled></ch5-button>
<ch5-button type="info" label="info" disabled></ch5-button>
<ch5-button type="success" label="success" disabled></ch5-button>
<ch5-button type="default" label="default" disabled></ch5-button>
<ch5-button type="primary" label="primary" disabled></ch5-button>
<ch5-button type="secondary" label="secondary" disabled></ch5-button>
