<ch5-button label="Click to change the hall_lights_selected signal" stretch="width" sendEventOnClick="hall_lights_tap"></ch5-button>
<hr>

<ch5-button type="success" stretch="width" shape="rectangle" label="receive state enable" receiveStateEnable="hall_lights_selected"></ch5-button>
<br /><br />
<ch5-button type="success" stretch="width" shape="rectangle" label="receive state enable (disabled from attr)" receiveStateEnable="hall_lights_selected" disabled></ch5-button>
