<ch5-dpad type="default" ID="test1a" shape="plus">
    <ch5-dpad-button key="center" iconclass="fas fa-adjust"></ch5-dpad-button>
    <ch5-dpad-button key="up" iconclass="fas fa-angle-double-up"></ch5-dpad-button>
    <ch5-dpad-button key="right" iconclass="fas fa-angle-double-right"></ch5-dpad-button>
    <ch5-dpad-button key="left" iconclass="fas fa-angle-double-left"></ch5-dpad-button>
    <ch5-dpad-button key="down" iconclass="fas fa-angle-double-down"></ch5-dpad-button>
</ch5-dpad>
<ch5-dpad type="success" ID="test1b" shape="circle">
    <ch5-dpad-button key="center" iconclass="fas fa-adjust"></ch5-dpad-button>
    <ch5-dpad-button key="up" iconclass="fas fa-angle-double-up"></ch5-dpad-button>
    <ch5-dpad-button key="right" iconclass="fas fa-angle-double-right"></ch5-dpad-button>
    <ch5-dpad-button key="left" iconclass="fas fa-angle-double-left"></ch5-dpad-button>
    <ch5-dpad-button  key="down" iconclass="fas fa-angle-double-down"></ch5-dpad-button>
</ch5-dpad>
  
