<h1>ch5-image <b>authentication</b> attributes. They are used for loading images that are behind Basic authentication.</h1>
<br/>
<p><a href="{{siteurl}}ch5-image/ch5-image-user.html">user</a> attribute</p>
<p><a href="{{siteurl}}ch5-image/ch5-image-password.html">password</a> attribute</p>

<p>This feature only works on Crestron devices. The firmware is responsible for handling the authentication.</p>