<h1>ch5-textinput - including icon element</h1>
<p>See the icon inside component and change the <strong>iconPosition</strong> attribute to "last"/"first" to change the icon position.</p>
<p>If the <strong>iconPosition</strong> attribute is not set the default value will be "first"</p>