<ch5-button  
    label="trigger change in signal" 
    sendEventOnClick="hall_lights_tap">
</ch5-button>
<hr>

<ch5-dpad 
    type="success" 
    noshowType="remove" 
    receiveStateShow="hall_lights_selected">
</ch5-dpad>

<br /><br />

<ch5-dpad 
    type="success" 
    noshowType="display" 
    receiveStateShow="hall_lights_selected">
</ch5-dpad>

<br /><br />

<ch5-dpad 
    type="success" 
    noshowType="visibility" 
    receiveStateShow="hall_lights_selected">
</ch5-dpad>
