<ch5-button stretch="width" label="trigger change in signal" sendEventOnClick="hall_lights_tap"></ch5-button>
<hr>

<ch5-dpad type="success" stretch="width"
    noshowType="remove" receiveStateShow="hall_lights_selected"></ch5-dpad>

<br /><br />

<ch5-dpad type="success" stretch="width"
    noshowType="display" receiveStateShow="hall_lights_selected"></ch5-dpad>

<br /><br />

<ch5-dpad type="success" stretch="width"
    noshowType="visibility" receiveStateShow="hall_lights_selected"></ch5-dpad>
