<ch5-dpad stretch="width" label="trigger change in signal" sendEventOnClick="hall_lights_tap"></ch5-dpad>
<hr>

<ch5-dpad type="success" stretch="width" shape="rectangle" label="noShowType is remove" noshowType="remove" receiveStateShow="hall_lights_selected"></ch5-dpad>

<br /><br />

<ch5-dpad type="success" stretch="width" shape="rectangle" label="noShowType is display" noshowType="display" receiveStateShow="hall_lights_selected"></ch5-dpad>

<br /><br />

<ch5-dpad type="success" stretch="width" shape="rectangle" label="noShowType is visibility" noshowType="visibility" receiveStateShow="hall_lights_selected"></ch5-dpad>
