<ch5-button stretch="width" label="trigger pulse (to show)" sendEventOnClick="sig_pulse_show"></ch5-button>
<br /><br />
<ch5-button stretch="width" label="trigger pulse (to hide)" sendEventOnClick="sig_pulse_hide"></ch5-button>

<hr/>

<ch5-dpad type="success" stretch="width"
             noshowType="remove"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-dpad>
<br /><br />

<ch5-dpad type="success" stretch="width"
             noshowType="display"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-dpad>
<br /><br />

<ch5-dpad type="success" stretch="width" 
             noshowType="visibility"
             receiveStateShowPulse="sig_pulse_show"
             receiveStateHidePulse="sig_pulse_hide"></ch5-dpad>
