<ch5-button stretch="width" label="trigger pulse (to show)" sendEventOnClick="sig_trig_pulse1"></ch5-button>
<br /><br />
<ch5-button stretch="width" label="trigger pulse (to hide)" sendEventOnClick="sig_trig_pulse2"></ch5-button>

<hr/>

<ch5-dpad type="success" stretch="width"
             noshowType="remove"
             receiveStateShowPulse="a_pulse1"
             receiveStateHidePulse="a_pulse2"></ch5-dpad>
<br /><br />

<ch5-dpad type="success" stretch="width"
             noshowType="display"
             receiveStateShowPulse="a_pulse1"
             receiveStateHidePulse="a_pulse2"></ch5-dpad>
<br /><br />

<ch5-dpad type="success" stretch="width" 
             noshowType="visibility"
             receiveStateShowPulse="a_pulse1"
             receiveStateHidePulse="a_pulse2"></ch5-dpad>
