<h1>ch5-dpad (ch5-common) noshowType, receiveStateShowPulse,receiveStateHidePulseShow</h1>
<p>
    If the dpad are already visible then triggering a pulse for <b>receiveStateShowPulse</b> will have no effect.
</p>
<p>
    If the dpad are not visible then triggering a pulse for <b>receiveStateShowPulse</b> will make them visible.
</p>
<p>
    If the dpad are already visible then triggering a pulse for <b>receiveStateHidePulse</b> will hide them.
</p>
<p>
    If the dpad are not visible then triggering a pulse for <b>receiveStateHidePulse</b> will have no effect.
</p>
