<ch5-button 
    stretch="width" 
    label="toggle show" 
    sendEventOnClick="toggle_btn_visibility">
</ch5-button>
<hr>
<ch5-dpad  
    type="success"
    noshowType="display" 
    receiveStateShow="show_button" 
    sendEventOnShow="button_shown">
</ch5-dpad>
