<ch5-dpad stretch="width" label="toggle show" sendEventOnClick="toggle_btn_visibility"></ch5-dpad>
<hr>
<ch5-dpad stretch="width" type="success" shape="rectangle" label="Button that sends a signal when it becomes visible"
             noshowType="display" receiveStateShow="show_button" sendEventOnShow="button_shown"></ch5-dpad>
