<ch5-button label="Trigger show pulse" sendEventOnClick="trigger_1"></ch5-button>

<p>
    Click the above button to make the modal visible.
</p>


<ch5-modal-dialog
        receiveStateShowPulse="trigger_1"
        closable
        mask
        prompt="Confirm selection?">
</ch5-modal-dialog>

