<ch5-button label="Trigger show pulse" sendEventOnClick="trigger_2"></ch5-button>

<p>
    Click the above button to make the modal visible.
</p>


<ch5-modal-dialog
        receiveStateShowPulse="trigger_2"
        closable
        mask
        prompt="Confirm selection?"
        promptIcon="https://picsum.photos/50/50/?random">
</ch5-modal-dialog>

