<h1><b>snapshotRefreshrate</b> attribute</h1>
<p>Defines the refresh period for a snapshot URL in units of seconds. 0 indicates no refresh. Superseded by receiveStateSnapShotRefreshrate. Default 0.</p>
