<ch5-triggerview id="demo" disableAnimation="true" endless="true"> 
    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>First View</h1>
        </div>
    </ch5-triggerview-child> 
    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>Second View</h1>
        </div>
    </ch5-triggerview-child>
    <ch5-triggerview-child>
        <div class="viewcontent">
            <h1>Third View</h1>
        </div>
    </ch5-triggerview-child>
</ch5-triggerview>

<br>

<ch5-button id="prev" label="prev"></ch5-button>
<ch5-button id="next" label="next"></ch5-button>