.row {
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

.ch5-select__panel__item:not(.ch5-select__panel__item--selected) {
    border: 1px solid #f8f9fa;
}

.ch5-select__panel__item > * {
    margin: 16px;
}

