<p>Open the browser console to see that when the submit button is clicked submit method on ch5-slider is called and signal named send_signal_on_submit is sent.</p>

<ch5-slider
    id="demo"
    value="0"
    step="25"  
    min="0"
    max="100"
    feedbackMode="submit"
    sendEventOnChange="send_signal_on_submit"
    >
</ch5-slider> 

<br><br>

<button id="button">Submit</button>