<p>Open the browser console to see that when the toggle is clicked a signal named send_digital_pulse is sent.</p>

<ch5-toggle
    label="Alarm"
    labelOn="On"
    labelOff="Off"
    sendEventOnClick="send_switch_value"
    receiveStateValue="receive_switch_value"
    >
</ch5-toggle>
