<h1>ch5-list: minWidth,maxWidth,minHeight,maxHeight,itemHeight,itemWidth</h1>
<p>The following example shows an horizontal list with height and width constraints</p>
<p><strong>!important: </strong> always use the same unit type (available unit types: px, vh/vw)</p>
<p>More explicit: px unit type should not be mixed up with vh or vw types</p>