{% raw %}
<ch5-list id="demo-list-1"
           size="20"
           orientation="horizontal"
           indexId="idx"
           minWidth="250px"
           maxWidth="500px"
           minHeight="100px"
           maxHeight="150px"
           itemWidth="125px"
           itemHeight="75px"
           scrollbar="true">
    <template>
        <div class="horizontal-list-item">
            <span>item_{{idx}}</span>
        </div>
    </template>
</ch5-list>
{% endraw %}
