<h1>ContractName attribute</h1>
<br />
<p>
    <b>contractname</b> attribute allows a developer to bind event clicks based on a contract.
    The value is referred to, and each child button is assigned with an incremental digit based on 
    the initial value passed as attribute value.
</p>
<br />

<p style="color:red">
<strong style="color:inherit">NOTE: The Showcase app is not capable of testing with this attribute.</strong><br/>
CH5 Video must be displayed in a live project on a supported Crestron touch screen or Crestron Mobile app.
</p>

<br />
<p>
    If the  initial value of <b>contractname</b> is assigned as "LivingRoom.AppleTV" (serial join), 
    the events are bound on each child button as below:
</p>
<p>
    <b>ch5-dpad-button-top</b> sendeventonclick = "LivingRoom.AppleTV.Up"
    <br />
    <b>ch5-dpad-button-bottom</b>  sendeventonclick = "LivingRoom.AppleTV.Down"
    <br />
    <b>ch5-dpad-button-left</b>  sendeventonclick = "LivingRoom.AppleTV.Left"
    <br />
    <b>ch5-dpad-button-right</b>  sendeventonclick = "LivingRoom.AppleTV.Right"
    <br />
    <b>ch5-dpad-button-center</b>  sendeventonclick = "LivingRoom.AppleTV.Center"
</p>
