<style>
	td,
	th {
		border: solid 1px black;
		padding: 5px;
	}
</style>

<h1>ContractName attribute</h1>
<br />
<p>
    <b>contractname</b> attribute allows a developer to bind event clicks based on a contract.
    The value is referred to, and each child button is assigned with an incremental digit based on 
    the initial value passed as attribute value.
</p>
<br />
<p style="color:red">
<strong style="color:inherit">NOTE: The Showcase app is not capable of testing with this attribute. Please check this attribute with Contract enabled control system.</strong>
</p>
<br />
<p>
    If the  initial value of <b>contractname</b> is assigned as "LivingRoom.AppleTV" (digitals), 
    the events are bound on each child button as below:
</p>
<table>
	<thead>
		<tr>
			<td>Key</td>
			<td>Attribute</td>
			<td>Contract Value</td>
			<td>Example</td>
		</tr>
	</thead>
	<tr>
		<td></td>
		<td>receiveStateShow</td>
		<td>Show</td>
		<td>LivingRoom.AppleTv.Show</td>
	</tr>
	<tr>
		<td></td>
		<td>receiveStateEnable</td>
		<td>Enable</td>
		<td>LivingRoom.AppleTv.Enable</td>
	</tr>
	<tr>
		<td>left</td>
		<td>sendEventOnClick / sendEventOnTouch</td>
		<td>LeftClicked</td>
		<td>LivingRoom.AppleTv.LeftClicked</td>
	</tr>
	<tr>
		<td>left</td>
		<td>receiveStateShow</td>
		<td>LeftShow</td>
		<td>LivingRoom.AppleTv.LeftShow</td>
	</tr>
	<tr>
		<td>left</td>
		<td>receiveStateEnable</td>
		<td>LeftEnable</td>
		<td>LivingRoom.AppleTv.LeftEnable</td>
	</tr>
	<tr>
		<td>right</td>
		<td>sendEventOnClick / sendEventOnTouch</td>
		<td>RightClicked</td>
		<td>LivingRoom.AppleTv.RightClicked</td>
	</tr>
	<tr>
		<td>right</td>
		<td>receiveStateShow</td>
		<td>RightShow</td>
		<td>LivingRoom.AppleTv.RightShow</td>
	</tr>
	<tr>
		<td>right</td>
		<td>receiveStateEnable</td>
		<td>RightEnable</td>
		<td>LivingRoom.AppleTv.RightEnable</td>
	</tr>
	<tr>
		<td>top</td>
		<td>sendEventOnClick / sendEventOnTouch</td>
		<td>TopClicked</td>
		<td>LivingRoom.AppleTv.TopClicked</td>
	</tr>
	<tr>
		<td>top</td>
		<td>receiveStateShow</td>
		<td>TopShow</td>
		<td>LivingRoom.AppleTv.TopShow</td>
	</tr>
	<tr>
		<td>top</td>
		<td>receiveStateEnable</td>
		<td>TopEnable</td>
		<td>LivingRoom.AppleTv.TopEnable</td>
	</tr>
	<tr>
		<td>bottom</td>
		<td>sendEventOnClick / sendEventOnTouch</td>
		<td>BottomClicked</td>
		<td>LivingRoom.AppleTv.BottomClicked</td>
	</tr>
	<tr>
		<td>bottom</td>
		<td>receiveStateShow</td>
		<td>BottomShow</td>
		<td>LivingRoom.AppleTv.BottomShow</td>
	</tr>
	<tr>
		<td>bottom</td>
		<td>receiveStateEnable</td>
		<td>BottomEnable</td>
		<td>LivingRoom.AppleTv.BottomEnable</td>
	</tr>
	<tr>
		<td>center</td>
		<td>sendEventOnClick / sendEventOnTouch</td>
		<td>CenterClicked</td>
		<td>LivingRoom.AppleTv.CenterClicked</td>
	</tr>
	<tr>
		<td>center</td>
		<td>receiveStateShow</td>
		<td>CenterShow</td>
		<td>LivingRoom.AppleTv.CenterShow</td>
	</tr>
	<tr>
		<td>center</td>
		<td>receiveStateEnable</td>
		<td>CenterEnable</td>
		<td>LivingRoom.AppleTv.CenterEnable</td>
	</tr>
	<tr>
		<td>center</td>
		<td>receiveStateLabel</td>
		<td>CenterLabel</td>
		<td>LivingRoom.AppleTv.CenterLabel</td>
	</tr>
</table>