<h1>ContractName attribute</h1>
<br />
<p>
    <b>contractname</b> attribute allows a developer to bind event clicks based on a contract.
    The value is referred to, and each child button is assigned with an incremental digit based on 
    the initial value passed as attribute value.
</p>
<br />
<p style="color:red">
<strong style="color:inherit">NOTE: The Showcase app is not capable of testing with this attribute. Please check this attribute with Contract enabled control system.</strong>
</p>
<br />
<p>
    If the  initial value of <b>contractname</b> is assigned as "LivingRoom.AppleTV" (digitals), 
    the events are bound on each child button as below:
</p>
<p>
    <b>ch5-dpad-button key="up"</b> sendeventonclick = "LivingRoom.AppleTV.Up"
    <br />
    <b>ch5-dpad-button key="down"</b>  sendeventonclick = "LivingRoom.AppleTV.Down"
    <br />
    <b>ch5-dpad-button key="left"</b>  sendeventonclick = "LivingRoom.AppleTV.Left"
    <br />
    <b>ch5-dpad-button key="right"</b>  sendeventonclick = "LivingRoom.AppleTV.Right"
    <br />
    <b>ch5-dpad-button key="center"</b>  sendeventonclick = "LivingRoom.AppleTV.Center"
    <br />
    The receiveStateLabel value will be LivingRoom.AppleTv.CenterLabel
    <br />
    The receiveStateShow value will be LivingRoom.AppleTv.Show
    <br />
    The receiveStateEnable value will be LivingRoom.AppleTv.Enable
</p>
