<ch5-dpad 
    type="default"  
    shape="plus" 
    contractName="LivingRoom.AppleTV">
</ch5-dpad>

<ch5-dpad 
    type="success" 
    shape="circle" 
    contractName="LivingRoom.AppleTV">
</ch5-dpad>

