<ch5-button type="danger" size="x-small" label="x-small"></ch5-button>
<ch5-button type="text" size="small" label="small"></ch5-button>
<ch5-button type="warning" size="regular" label="regular"></ch5-button>
<ch5-button type="info" size="large" label="large"></ch5-button>
<ch5-button type="success" size="x-large" label="x-large"></ch5-button>
