<div class="ch5-btn-container">
  <ch5-button type="danger" stretch="both" size="x-small" label="x-small"></ch5-button>
</div>
<br/><br/>

<div class="ch5-btn-container">
  <ch5-button type="text" stretch="width" size="small" label="small"></ch5-button>
</div>
<br/><br/>

<div class="ch5-btn-container">
  <ch5-button type="warning" stretch="height" size="regular" label="regular"></ch5-button>
</div>
<br/><br/>

<div class="ch5-btn-container">
  <ch5-button type="info" stretch="width" size="large" label="large"></ch5-button>
</div>
<br/><br/>

<div class="ch5-btn-container">
  <ch5-button type="success" stretch="height" size="x-large" label="x-large"></ch5-button>
</div>