<h1>ch5-slider toolTipDisplayType</h1>
<p>The default value is 'percent'.  Sets what is displayed in the optional tooltip.  Valid values: </p>
<ul style="list-style: disc; padding-left: 30px;">
    <li>
        "%" - The value is displayed as a percent.  Math.round((100*(v-min))/(max - min))
    </li>
    <li>
       "value" - The actual value provided.
    </li>
</ul>
