<p>toolTipDisplayType %</p>

<ch5-slider 
    toolTipShowType="on"
    >
</ch5-slider>

<p>toolTipDisplayType value</p>

<ch5-slider 
    toolTipShowType="on"
    toolTipDisplayType="value"
    >
</ch5-slider> 