<h1>ch5-slider toolTipDisplayType</h1>
<p>Default: percent.  Option of what is displayed in the tooltip.  Valid values are: </p>
<ul style="list-style: disc; padding-left: 30px;">
    <li>
        "%" - displayed as percent.  Math.round((100*(v-min))/(max - min))
    </li>
    <li>
       "value" - actual value provided
    </li>
</ul>
