<p>See the JS tab for the code and browser console for messages</p>

<p>
    Click this button to change the value of the <b>city</b> signal to "Las Vegas", will decrement <b>sig_n</b> by 3 and
    will toggle <b>sig_b</b>.
    <ch5-button label="Btn1" sendEventOnClick="trig1"></ch5-button>
</p>
<p>
    Click this button to change the value of the <b>city</b> signal to "New York", will increment <b>sig_n</b> by 5 and
    will set <b>sig_b</b> to true.
    <ch5-button label="Btn2" sendEventOnClick="trig2"></ch5-button>
</p>

<ch5-button id="btn-show-current-values" label="Display current signal values" ></ch5-button>
<table class="table">
    <tr><th>signal</th><th>value</th></tr>
    <tr><td>sig_b</td><td id="s1"></td></tr>
    <tr><td>sig_n</td><td id="s2"></td></tr>
    <tr><td>city</td><td id="s3"></td></tr>
</table>