<h1>positionOffset</h1>
<p>This attribute is associated with the positionTo attribute.</p>
<p>Valid values:
<ul>
    <li>top-left</li>
    <li>top-center</li>
    <li>top-right</li>
    <li>bottom-left</li>
    <li>bottom-center</li>
    <li>bottom-right</li>
    <li>left-center</li>
    <li>right-center</li>
</ul>
</p>

