
{% raw %}
<div class="columns">
    <div class="column">
        <ch5-list size="3"
                   orientation="vertical"
                   indexId="idx"
                   minWidth="150px"
                   maxWidth="165px"
                   minHeight="100px"
                   maxHeight="150px"
                   itemWidth="150px"
                   itemHeight="75px"
                   scrollbar="true">
            <template>
                <div class="vertical-list-item">
                    <span>item_{{idx}}</span>
                </div>
            </template>
        </ch5-list>
    </div>
    <div class="column">
        <ch5-list size="25"
                   orientation="vertical"
                   indexId="idx"
                   minWidth="150px"
                   maxWidth="165px"
                   minHeight="100px"
                   maxHeight="150px"
                   itemWidth="150px"
                   itemHeight="75px"
                   scrollbar="true">
            <template>
                <div class="vertical-list-item">
                    <span>item_{{idx}}</span>
                </div>
            </template>
        </ch5-list>
    </div>
    <div class="column">
        <ch5-list size="500"
                   orientation="vertical"
                   indexId="idx"
                   minWidth="150px"
                   maxWidth="165px"
                   minHeight="100px"
                   maxHeight="150px"
                   itemWidth="150px"
                   itemHeight="75px"
                   scrollbar="true">
            <template>
                <div class="vertical-list-item">
                    <span>item_{{idx}}</span>
                </div>
            </template>
        </ch5-list>
    </div>
</div>



{% endraw %}
