<div class="class-div">
    <h4>rounded-rectangle (default)</h4>
    <ch5-keypad showExtraButton="true" type="success" shape="rounded-rectangle"></ch5-keypad>
</div>

<div class="class-div">
    <h4>square</h4>
    <ch5-keypad showExtraButton="true" type="primary" shape="square"></ch5-keypad>
</div>

<div class="class-div">
    <h4>circle</h4>
    <ch5-keypad showExtraButton="true" type="secondary" shape="circle"></ch5-keypad>
</div>