<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Default value: Rounded rectangle</h4>
        <ch5-keypad showExtraButton="true" type="warning"></ch5-keypad>
    </div>
    
    <div style="margin: 10px 0 20px 0">
        <h4>Rounded rectangle</h4>
        <ch5-keypad showExtraButton="true" type="success" shape="rounded-rectangle"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Square</h4>
        <ch5-keypad showExtraButton="true" type="primary" shape="square"></ch5-keypad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Circle</h4>
        <ch5-keypad showExtraButton="true" type="primary" shape="circle"></ch5-keypad>
    </div>
</div>