<div>
    <div style="margin: 10px 0 20px 0">
        <h4>Default</h4>
        <ch5-dpad type="default" shape="plus"></ch5-dpad>
        <ch5-dpad type="default" shape="circle"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Warning</h4>
        <ch5-dpad type="warning" shape="plus"></ch5-dpad>
        <ch5-dpad type="warning" shape="circle"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Danger</h4>
        <ch5-dpad type="danger" shape="plus"></ch5-dpad>
        <ch5-dpad type="danger" shape="circle"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Info</h4>
        <ch5-dpad type="info" shape="plus"></ch5-dpad>
        <ch5-dpad type="info" shape="circle"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Text</h4>
        <ch5-dpad type="text" shape="plus"></ch5-dpad>
        <ch5-dpad type="text" shape="circle"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Success</h4>
        <ch5-dpad type="success" shape="plus"></ch5-dpad>
        <ch5-dpad type="success" shape="circle"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Primary</h4>
        <ch5-dpad type="primary" shape="plus"></ch5-dpad>
        <ch5-dpad type="primary" shape="circle"></ch5-dpad>
    </div>

    <div style="margin: 10px 0 20px 0">
        <h4>Secondary</h4>
        <ch5-dpad type="secondary" shape="plus"></ch5-dpad>
        <ch5-dpad type="secondary" shape="circle"></ch5-dpad>
    </div>
</div>
