<div class="class-div">
    <h4>default</h4>
    <ch5-dpad type="default" shape="plus"></ch5-dpad>
    <ch5-dpad type="default" shape="circle"></ch5-dpad>
</div>

<div class="class-div">
    <h4>warning</h4>
    <ch5-dpad type="warning" shape="plus"></ch5-dpad>
    <ch5-dpad type="warning" shape="circle"></ch5-dpad>
</div>

<div class="class-div">
    <h4>danger</h4>
    <ch5-dpad type="danger" shape="plus"></ch5-dpad>
    <ch5-dpad type="danger" shape="circle"></ch5-dpad>
</div>

<div class="class-div">
    <h4>info</h4>
    <ch5-dpad type="info" shape="plus"></ch5-dpad>
    <ch5-dpad type="info" shape="circle"></ch5-dpad>
</div>

<div class="class-div">
    <h4>text</h4>
    <ch5-dpad type="text" shape="plus"></ch5-dpad>
    <ch5-dpad type="text" shape="circle"></ch5-dpad>
</div>

<div class="class-div">
    <h4>success</h4>
    <ch5-dpad type="success" shape="plus"></ch5-dpad>
    <ch5-dpad type="success" shape="circle"></ch5-dpad>
</div>

<div class="class-div">
    <h4>primary</h4>
    <ch5-dpad type="primary" shape="plus"></ch5-dpad>
    <ch5-dpad type="primary" shape="circle"></ch5-dpad>
</div>

<div class="class-div">
    <h4>secondary</h4>
    <ch5-dpad type="secondary" shape="plus"></ch5-dpad>
    <ch5-dpad type="secondary" shape="circle"></ch5-dpad>
</div>