<div>
    <h5>normal button faces below:</h5>
    <ch5-dpad type="default"></ch5-dpad>
    <br/>
    <ch5-dpad type="warning"></ch5-dpad>
    <br/>
    <ch5-dpad type="danger"></ch5-dpad>
    <br/>
    <ch5-dpad type="info"></ch5-dpad>
    <br/>
    <ch5-dpad type="text"></ch5-dpad>
    <br/>
    <ch5-dpad type="success"></ch5-dpad>
    <br/>
    <br/>
    <ch5-dpad type="primary"></ch5-dpad>
    <br/>
    <ch5-dpad type="secondary"></ch5-dpad>
</div>