---
title: "ch5-template with ch5-image"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
{% set scenario1 -%}
{%- include "./emulator-scenarios/scenario-ch5-template-with-ch5-image.json" %}
{%- endset %}

{% call emulatorScenarioSection(scenario1) %}{% endcall %}
    {% call exampleSectionFromPartials('ch5-template/other-elements/ch5-image/','ex1') %}{% endcall %}
{% endblock %}
