---
title: "ch5-template validation messages"
---
{% extends "./layouts/default.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
    {% call exampleSectionFromPartials('ch5-template/validation/','ex1') %}{% endcall %}
{% endblock %}
