---
title: "data-ch5-innerhtml"
---
{% extends "./layouts/base.njk" %}
{% from "./partials/macros.njk" import exampleSectionFromPartials, emulatorScenarioSection %}

{% block content %}
    {% set scenario1 -%}
        {%- include "./emulator-scenarios/scenario-data-ch5-innerhtml.json" %}
    {%- endset %}
    {% call emulatorScenarioSection(scenario1) %}{% endcall %}

    {# example 1 #}
    {% call exampleSectionFromPartials('data-ch5/innerhtml/','ex1') %}{% endcall %}


{% endblock %}
