<h1>ch5-overlay-panel: dismissable</h1>
<p>The default value is true. When true, if a click/touch is done outside of the panel, it will change the show attribute to false and
    hide the overlay.</p>
